{{template "header_top" .}}

<div class="admin">
    <!-- 侧边栏 -->
    {{template "header_side" .}}


    <!-- main -->

    <div class="content-page type2" style="margin-top: 10px;">
        <div class="content ">
            <div class="am-g">
                <div class="entry-admin">
                    <div class="hd_bar">
                        <span class="tit">出入病区管理</span>
                        <div class="search_input">
                            <input type="text" class="conditions" placeholder="输入要查找的病人或床号">
                            <div class="search_btn">
                                <img src="/static/dist/images/admin_pc/icon33.png" alt="">查找
                            </div>
                        </div>
                    </div>
                    <div class="entry-admin-cont">
                        <div class="entry-tabel">
                            <div class="hd-tr fx">
                                <div class="td td-2">患者</div>
                                <div class="td td-1">床号</div>
                                <div class="td td-3">外出/回室时间</div>
                                <div class="td td-4">外出原因</div>
                                <div class="td td-5">记录人</div>
                            </div>
                            <div class="hd-tr">
                                <div class="td td-2">患者</div>
                                <div class="td td-1">床号</div>
                                <div class="td td-3">类型/回室时间</div>
                                <div class="td td-4">外出原因</div>
                                <div class="td td-5">记录人</div>
                            </div>
                            <div class="change-div">
                            {{range .Accesses}}
                            <div class="bd-tr">
                                <div class="td td-2">{{.PatientName}}</div>
                                <div class="td td-1">{{.BedId}}</div>
                                <div class="td td-3"> {{.AccessTime}}
                                </div>
                                <div class="td td-4">{{if eq .AccessReason 1}}检查{{else if eq .AccessReason 2}}手术{{else if eq .AccessReason 3}}其他{{end}}</div>
                                <div class="td td-5">{{.NurseName}}</div>
                            </div>
                            {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- navbar -->
<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

<script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
<!--框架js-->
<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
<!--//遮罩层退出框-->
<!-- <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script> -->

<!--<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
<!--<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->

<script src="/static/common.js"></script>
<script>
    /**
     * 节流函数
     */
    var nowFn = Date.now || function () {
        return new Date().getTime()
    }


    function throttle(func, wait, option) {
        var previous = 0, //之前的时间
            timeout, self, args, result;

        var later = function () {
            previous = nowFn();
            timeout = null;
            result = func.apply(self, args);
            !timeout && (self = args = null);
        }
        return function () {
            var now = nowFn();

            if (!previous && option.leading === false) previous = now;
            var diff = wait - (now - previous);

            args = arguments;
            self = this;
            if (diff <= 0) {
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = null;
                }
                result = func.apply(self, args);
                previous = now;
                !timeout && (self = args = null); //如果没有堆积的任务 则清空 self 和args
            } else if (!timeout && option.trailing !== false) {
                timeout = setTimeout(later, diff)
            } else {
                console.log('被抛弃了')
            }
            return result;

        }
    }

    $('#jky-menu').on('open.collapse.amui', function (e) {
        $(e.target).parents("li").addClass("jky-on")
    })
    $('#jky-menu').on('close.collapse.amui', function (e) {
        $(e.target).parents("li").removeClass("jky-on")
    })


    function toggleTar() {
        if ($('.top48').hasClass('small-type')) {
            $('.top48').removeClass('small-type')
            $('.jky_sidebar').removeClass('small-type')
        } else {
            $('.top48').addClass('small-type')
            $('.jky_sidebar').addClass('small-type')
        }

    }

    /**
     laydate.render({
            elem: '.time-input', //指定元素
            // showBottom: false,
            type: 'time',
            format: 'HH:mm',
            value: nowDateObj.time,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
     **/
        // setTimeout(function(){
        // $('.time-input').val(nowDateObj.time)
        // },0)


        // $(window).on('resize', throttle(resizeFn, 500, {
        //     leading: false, //配置第一次不立即执行 true 第一次执行 false 第一次不执行
        //     trailing: true // 是否抛弃 还是 往后堆积
        // }))

        // var h = $('.temperatureFrom').height()
        // resizeFn()

        // function resizeFn() {
        //     h = $('.temperatureFrom').height()
        //     var $el = $('.hd-bar');
        //     elH = parseFloat($el.css('height'))
        //     $('.temperature-box').height(h - elH - 10)
        //     console.log(elH, h)
        // }


    var hxScroll = 0,
        zxScroll = 0;
    $('.entry-admin-cont').on('scroll', function () {
        $('.hd-tr.fx').css('top', this.scrollTop)
    })
    $('body').on("click", ".search_btn", function () {

        var conditions =$.trim($('.conditions').val());
        /*if (conditions == "") {
            //alert("请输入查询条件")

            return
        }*/
        $.post("/pc/access/manage", {
            paramstr: conditions,
        }, function (json, status) {
            // console.log(json, status);
            if (json.result == 0) {
                var resArr = json.datas;
                console.log(json)
                var html = '';
                for (var i = 0; i < resArr.length; i++) {
                    var access_type = "";
                    var reasonstr = "";
                    if(resArr[i].access_type == "1"){
                        access_type = "回室";
                    }else if(resArr[i].access_type == "2"){
                        access_type = "外出";
                    }else if(resArr[i].access_type == "4"){
                        access_type = "全部";
                    }
                    if(resArr[i].access_reason == "1"){
                        reasonstr = "检查";
                    }else if(resArr[i].access_reason == "2"){
                        reasonstr = "手术";
                    }else if(resArr[i].access_reason == "3"){
                        reasonstr = "其他";
                    }
                    html += "<div class=\"bd-tr\">" +
                        "<div class=\"td td-2\">"+resArr[i].patient_name+"</div>" +
                        "<div class=\"td td-1\">"+resArr[i].bed_id+"</div>" +
                        "<div class=\"td td-3\">"+resArr[i].access_time+"</div>" +
                        "<div class=\"td td-4\">"+reasonstr+"</div>" +
                        "<div class=\"td td-5\">"+resArr[i].nurse_name+"</div>" +
                        "</div>";
                }
                $(".change-div").html(html)
            } else {
                alert(json.errmsg)
            }
        }, 'json');
    });
</script>
</body>

</html>
