
{{template "header_top" .}}
<!-- Begin page -->
<div class="am-topbar am-topbar-fixed-top top48">
    <div class="am-topbar-left am-hide-sm-only"></div>
    <div class="contain">
        <div class="jky-class-bar"></div>
        <div class="jky-tab-hd">
            <ul>
                <li class="active"><a href="/pc/batvhinput">批量录入</a></li>
                <li><a href="/pc/patvhhistory">历史数据</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end page -->
    <div class="admin">
        <!--<div class="am-g">-->
        <!-- ========== Left Sidebar Start ========== -->
        <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
        <!-- sidebar start -->
        {{template "header_side" .}}
        <!-- sidebar end -->

        <!--</div>
			</div>
		</div>-->
        <!-- ========== Left Sidebar end ========== -->



        <div class="content-page" data-index="1" style="margin-top: 88px;">
            <!-- Start content -->
            <div class="content" style="height:100%">
                <div class="am-g" style="height:100%">
                    <div class="cont-batchInput">
                        <div class="hd-bar">
                            <div class="date-box fl">
                                <span>测量日期：</span>
                                <input type="text" class="am-form-field  date-input" id="testTime"/>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;时段：</span>
                                <select class="time-block" id="timeBlock">
                                    <option value="04:00:00">4</option>
                                    <option selected="" value="08:00:00">8</option>
                                    <option value="12:00:00">12</option>
                                    <option value="16:00:00">16</option>
                                    <option value="20:00:00">20</option>
                                    <option value="23:59:59">24</option>
                                </select>
                                <a  class="search-btn">确定</a>
                            </div>
                            <div class="sel-bar fl">
                                <div class="txt">患者列表:</div>
                                <div class="check-bar">
                                    <input type="radio" id="c1" name="filter-sel" checked>
                                    <label for="c1">全部患者</label>
                                </div>
                                <div class="check-bar">
                                    <input type="radio" id="c2" name="filter-sel">
                                    <label for="c2">待测体温</label>
                                </div>
                                <div class="check-bar">
                                    <input type="radio" id="c3" name="filter-sel">
                                    <label for="c3">待测体重</label>
                                </div>

                            </div>
                            <div class="btn-warp fr">
                                <div class="btn-group ">
                                    <a href="" class="btn">打印</a>
                                    <a href="" class="btn type2" id="save-btn">保存</a>
                                </div>
                            </div>

                        </div>
                        <div class="scroll-box">
                            <div class="cont-warp">
                                <div class="cont-table-div">
                                    <table class="cont-table fx">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1" rowspan="2">床号</th>
                                                <th class="th2" rowspan="2">姓名</th>
                                                <th class="th3" rowspan="2">年龄</th>
                                                <th class="th4" rowspan="2">体温(℃）</th>
                                                <th class="th5" rowspan="2">脉搏(次／分）</th>
                                                <th class="th6" rowspan="2">呼吸(次／分）</th>
                                                <th class="th6-2" rowspan="2">大便（次）</th>
                                                <th class="th7" rowspan="2">血压(mmHg）</th>
                                                <th class="th8" rowspan="2">心率(次／分）</th>
                                                <th class="th11" rowspan="2">体重(kg)</th>
                                                <th class="th12" rowspan="2">身高(cm)</th>
                                                <th class="th13" rowspan="2">皮试</th>
                                                <th class="th14" rowspan="2">其它</th>
                                                <th class="th16" rowspan="2">事件</th>
                                            </tr>
                                        </thead>
                                    </table>

                                    <table class="cont-table">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1" rowspan="2">床号</th>
                                                <th class="th2" rowspan="2">姓名</th>
                                                <th class="th3" rowspan="2">年龄</th>
                                                <th class="th4" rowspan="2">体温(℃）</th>
                                                <th class="th5" rowspan="2">脉搏(次／分）</th>
                                                <th class="th6" rowspan="2">呼吸(次／分）</th>
                                                <th class="th6-2" rowspan="2">大便（次）</th>
                                                <th class="th7" rowspan="2">血压(mmHg）</th>
                                                <th class="th8" rowspan="2">心率(次／分）</th>
                                                <th class="th11" rowspan="2">体重(kg)</th>
                                                <th class="th12" rowspan="2">身高(cm)</th>
                                                <th class="th13" rowspan="2">皮试</th>
                                                <th class="th14" rowspan="2">其它</th>
                                                <th class="th16" rowspan="2">事件</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        {{range .Patients}}
                                            <tr data-pid="{{.VAA01}}" data-nid="12" data-nname="123">
                                                <td class="pd8"><span>{{.BCQ04}}</span></td>
                                                <td class="pd8"><span>{{.VAA05}}</span></td>
                                                <td class="pd8"><span>{{.VAA10}}</span></td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text"  class="input1 thmValue">
                                                        <select  class="abs type1 thmType">
                                                            <option selected="" value="0">&nbsp;</option>
                                                            <option value="1">腋温</option>
                                                            <option value="2">耳温</option>
                                                            <option value="3">口温</option>
                                                            <option value="4">肛温</option>
                                                            <option value="5">额温</option>
                                                        </select>
                                                        <select  class="abs thmScene">
                                                            <option value="0">&nbsp;</option>
                                                            <option value="1">物理降温</option>
                                                            <option value="2">药物降温</option>
                                                            <option value="3">冰毯降温</option>
                                                            <option value="4">停冰毯降温</option>
                                                            <option value="5">药物+物理降温</option>
                                                            <option value="6">无降温</option>
                                                            <option value="7">不升</option>
                                                            <option value="8">外出</option>
                                                            <option value="9">检查</option>
                                                            <option value="10">请假</option>
                                                            <option value="11">拒试</option>
                                                            <option value="12">无法测</option>
                                                            <option value="13">不在</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text"  class="input1 pulseValue">
                                                        <div class="check-bar">
                                                            <input type="checkbox" id="row1_input4" class="pulseBriefness">
                                                            <label for="row1_input4">短绌</label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text"  class="input1 breatheValue">
                                                        <select  class="abs breatheScene">
                                                            <option selected="" value="0">&nbsp;</option>
                                                            <option value="1">辅助呼吸</option>
                                                            <option value="2">停辅助呼吸</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" class="input1 shitValue">
                                                        <select  class="abs shitScene">
                                                            <option selected="" value="0">&nbsp;</option>
                                                            <option value="1">*</option>
                                                            <option value="2">/E</option>
                                                            <option value="3">*/E</option>
                                                            <option value="4">1，1/E</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input class="i1 pressureSys" type="text" id="row1_input7">/
                                                        <input class="i1 pressureDia" type="text" id="row1_input8">
                                                        <select id="row1_input9" class="abs pressureScene">
                                                            <option selected="" value="0">&nbsp;</option>
                                                            <option value="1">外出</option>
                                                            <option value="2">检查</option>
                                                            <option value="3">请假</option>
                                                            <option value="4">拒试</option>
                                                            <option value="5">无法测</option>
                                                            <option value="6">不在</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <input class="input2 ft-center heartrateValue" type="text" id="row1_input10">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input18" class="weightValue">
                                                        <select id="row1_input19" class="abs weightScene">
                                                            <option selected="" value="0"> </option>
                                                            <option value="1">卧床</option>
                                                            <option value="2">轮椅</option>
                                                            <option value="3">平车</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input20" class="heightValue">
                                                        <select id="row1_input21" class="abs heightScene">
                                                                <option selected="" value="0">&nbsp; </option>
                                                                <option value="1">卧床</option>
                                                                <option value="2">轮椅</option>
                                                                <option value="3">平车</option>
                                                            </select>
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <textarea type="text" class="skinValue"></textarea>
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar ">
                                                        <!--<input class="input2 ft-center" type="text" id="row1_input23">-->
                                                        <textarea type="text" class="otherValue"></textarea>
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <select class="incidentScene">
                                                            <option value="0"> </option>
                                                            <option value="1">入院</option>
                                                            <option value="2">出院</option>
                                                            <option value="3">手术</option>
                                                            <option value="4">分娩</option>
                                                            <option value="5">出生</option>
                                                            <option value="6">转入</option>
                                                            <option value="7">转科</option>
                                                            <option value="8">转院</option>
                                                            <option value="9">死亡</option>
                                                            <option value="10">外出</option>
                                                        </select>
                                                        <div class="date-box" style="display: inline-block">
                                                            <!--<input type="text" class="am-form-field  date-input2 incidentTime1" >-->
                                                            <input type="text" class="am-form-field  time-input2 incidentTime2" >
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="content-page none" data-index="2" style="margin-top: 88px;">

        </div>
    </div>

    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

    <script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
    <!--框架js-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
    <!--//遮罩层退出框-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script>
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->

    <script src="/static/dist/js/lib/laydate/laydate.js"></script>
    <script src="/static/common.js"></script>

    <script>
        /**
         * 节流函数
         */
        var nowFn = Date.now || function() {
            return new Date().getTime()
        }


        function throttle(func, wait, option) {
            var previous = 0, //之前的时间
                timeout, self, args, result;

            var later = function() {
                previous = nowFn();
                timeout = null;
                result = func.apply(self, args);
                !timeout && (self = args = null);
            }
            return function() {
                var now = nowFn();

                if (!previous && option.leading === false) previous = now;
                var diff = wait - (now - previous);

                args = arguments;
                self = this;
                if (diff <= 0) {
                    if (timeout) {
                        clearTimeout(timeout);
                        timeout = null;
                    }
                    result = func.apply(self, args);
                    previous = now;
                    !timeout && (self = args = null); //如果没有堆积的任务 则清空 self 和args
                } else if (!timeout && option.trailing !== false) {
                    timeout = setTimeout(later, diff)
                } else {
                    console.log('被抛弃了')
                }
                return result;

            }
        }
        $('#jky-menu').on('open.collapse.amui', function(e) {
            $(e.target).parents("li").addClass("jky-on")
        })
        $('#jky-menu').on('close.collapse.amui', function(e) {
            $(e.target).parents("li").removeClass("jky-on")
        })

        // setCont();
        // //设置主框架显示
        // function setCont() {
        //     var i = $('.jky-tab-hd').find('.active').index();
        //     $('.content-page').addClass('none').eq(i).removeClass('none')
        // }


        // $('.jky-tab-hd').on('click', 'li', function() {
        //     $('.jky-tab-hd').find('.active').removeClass('active')
        //     $(this).addClass('active')
        //     setCont()
        // })


        function toggleTar() {
            if ($('.top48').hasClass('small-type')) {
                $('.top48').removeClass('small-type')
                $('.jky_sidebar').removeClass('small-type')
            } else {
                $('.top48').addClass('small-type')
                $('.jky_sidebar').addClass('small-type')
            }

        }


        var nowDateObj = nowDate();

        function nowDate() {
            var res = {},
                nowD = new Date();
            res.date = nowD.getFullYear() + "-" + addZero(nowD.getMonth() + 1) + "-" + addZero(nowD.getDate());
            res.time = addZero(nowD.getHours()) + ":" + addZero(nowD.getMinutes())
            return res
        }

        function addZero(i) {
            if (i < 10) {
                return "0" + i;
            } else {
                return i;
            }
        }
        laydate.render({
            elem: '.date-input', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });

        laydate.render({
            elem: '.time-input', //指定元素
            // showBottom: false,
            type: 'time',
            format: 'HH:mm',
            value: nowDateObj.time,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });


        lay('.date-input2').each(function(){
            laydate.render({
                elem: this,
                showBottom: false,
                value: nowDateObj.date,
                done: function(value, date, endDate) {
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                }
            });
        });
        lay('.time-input2').each(function(){
            laydate.render({
                elem: this,
                type: 'time',
                format: 'HH:mm',
                value: nowDateObj.time,
                done: function(value, date, endDate) {
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                }
            });
        });

        $(window).on('resize', throttle(resizeFn, 500, {
            leading: false, //配置第一次不立即执行 true 第一次执行 false 第一次不执行
            trailing: true // 是否抛弃 还是 往后堆积
        }))

        var h = $('.cont-batchInput').height()
        resizeFn()

        function resizeFn() {
            var $el = $('.hd-bar');
            elH = parseFloat($el.css('height'))
            elPt = parseFloat($el.css('padding-top'))
            $('.scroll-box').height(h - elH - elPt)
        }
        var hxScroll = 0,
            zxScroll = 0;
        $('.scroll-box').on('scroll', function() {
            var sl = this.scrollLeft,
                st = this.scrollTop
            if (sl != hxScroll) {
                console.log('横向滚动')
                hxScroll = sl
            }
            if (st != zxScroll) {
                console.log('纵向滚动')
                $('.cont-table.fx').css('top', st)
                zxScroll = st
            }
        })



        $("#save-btn").on("click",function(){
            var testTime = $.trim($("#testTime").val()) || "",
                timeBlcok = $.trim($("#timeBlock").val()) || "";
            var res = [];
            $("tbody").find("tr").each(function(i,el){
                res[i]={};
                res[i]["patient_id"] = $.trim($(el).data("pid")) || ""
                res[i]["nurse_id"]= $.trim($(el).data("nid")) || ""
                res[i]["nurse_name"]= $.trim($(el).data("nname")) || ""
                res[i]["test_time"]=$.trim(testTime) +" "+ $.trim(timeBlcok)
                res[i]["thm_value"] =$.trim($(el).find(".thmValue").val())  || ""
                res[i]["thm_type"] =$.trim($(el).find(".thmType").val())  || ""
                res[i]["thm_scene"] =$.trim($(el).find(".thmScene").val())  || ""
                res[i]["pulse_value"] = $.trim($(el).find(".pulseValue").val())  || ""
                if($(el).find(".pulseBriefness").is(":checked")){
                    res[i]["pulse_briefness"] ="1"
                }else{
                    res[i]["pulse_briefness"] ="0"
                }
                res[i]["breathe_value"] = $.trim($(el).find(".breatheValue").val())  || ""
                res[i]["breathe_scene"] =$.trim($(el).find(".breatheScene").val())  || ""
                res[i]["shit_value"] = $.trim($(el).find(".shitValue").val())  || ""
                res[i]["shit_scene"] = $.trim($(el).find(".shitScene").val())  || ""
                res[i]["pressure_dia"] = $.trim($(el).find(".pressureDia").val())|| ""
                res[i]["pressure_sys"] =$.trim($(el).find(".pressureSys").val())  || ""

                res[i]["pressure_scene"] = $.trim($(el).find(".pressureScene").val())  || ""
                res[i]["heartrate_value"] = $.trim($(el).find(".heartrateValue").val())  || ""
                res[i]["weight_value"] = $.trim($(el).find(".weightValue").val())  || ""
                res[i]["weight_scene"] = $.trim($(el).find(".weightScene").val())  || ""
                res[i]["height_value"] = $.trim($(el).find(".heightValue").val())  || ""
                res[i]["height_scene"] = $.trim($(el).find(".heightScene").val())  || ""
                res[i]["skin_value"] = $.trim($(el).find(".skinValue").val())  || ""
                res[i]["other_value"] = $.trim($(el).find(".otherValue").val())  || ""
                res[i]["incident_scene"] = $.trim($(el).find(".incidentScene").val())  || ""
                res[i]["incident_time"] = $.trim(testTime) +" "+ $.trim($(el).find(".incidentTime2").val()) +":00"
            })

            console.log(JSON.stringify(res))

            var reqData ={
                value:JSON.stringify(res)
            }

            $.post("/pc/batvhinput", reqData, function (json, status) {
                //console.log(json, status);
                if (json.result == 0 ) {
                    alert(json.errmsg)
                } else  {
                    alert(json.result + json.errmsg+json.Ddatas)
                }
            }, 'json');
        })
    </script>
</body>

</html>
