{{template "header_top" .}}
<!-- Begin page -->
<div class="am-topbar am-topbar-fixed-top top48">
    <div class="am-topbar-left am-hide-sm-only"></div>
    <div class="contain">
        <div class="jky-class-bar"></div>
        <div class="jky-tab-hd">
            <ul>
                <li><a href="/pc/batvhinput">批量录入</a></li>
                <li class="active"><a href="/pc/patvhhistory">历史数据</a></li>
            </ul>
        </div>
    </div>
</div>


    <div class="admin">
        <!--<div class="am-g">-->
        <!-- ========== Left Sidebar Start ========== -->
        <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
        <!-- sidebar start -->
        {{template "header_side" .}}
        <!-- sidebar end -->

        <!--</div>
			</div>
		</div>-->
        <!-- ========== Left Sidebar end ========== -->




        <div class="content-page none" data-index="1" style="margin-top: 88px;"></div>


        <div class="content-page type2" data-index="2" style="margin-top: 88px;">
            <div class="content ">
                <div class="am-g">
                    <div class="history-batchInput">
                        <div class="s-btn">
                            <!-- <img src="../dist/images/admin_pc/icon22.png" alt=""> -->
                        </div>
                        <div class="user-warp">
                            <div class="tit-bar">
                                <input type="checkbox" id="all-btn"> <label for="all-btn">全部患者</label>
                            </div>

                            <div class="user-bar">
                                <div class="tit">
                                    <div class="l">
                                        床号
                                    </div>
                                    <div class="r">
                                        姓名
                                    </div>
                                </div>
                                <div class="user-list">
                                    {{range .Patients}}
                                    <ul>
                                        <li data-id="01" data-msg="你病了！！！">
                                            <div class="l">
                                                <input type="checkbox"><label>{{.BCQ04}}</label>
                                            </div>
                                            <div class="r">
                                                {{.VAA05}}
                                            </div>
                                        </li>
                                    </ul>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="hd-bar">
                            <div class="date-box fl">
                                <div class="icon">
                                    <img src="/static/dist/images/admin_pc/icon20.png" alt="" />
                                </div>
                                <input type="text" class="am-form-field  date-input" id="date1" />
                                <span class="line">—</span>
                                <input type="text" class="am-form-field  date-input" id="date2" />
                            </div>
                            <div class="btn-group fr">
                                <a href="" class="btn">打印</a>
                                <a href="" class="btn">导出</a>
                                <!-- <a href="" class="btn type2">保存</a> -->
                            </div>
                        </div>
                        <div class="batchInput-box">
                            <div class="scroll-box">
                                <div class="warp-box">
                                    <table class="cont-table fx">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1" rowspan="2">床号</th>
                                                <th class="th2" rowspan="2">姓名</th>
                                                <th class="th3" rowspan="2">年龄</th>
                                                <th class="th18" rowspan="2">测量时间</th>
                                                <th class="th4" rowspan="2">体温(℃）</th>
                                                <th class="th5" rowspan="2">脉搏(次／分）</th>
                                                <th class="th6" rowspan="2">呼吸(次／分）</th>
                                                <th class="th7" rowspan="2">血压(mmHg）</th>
                                                <th class="th8" rowspan="2">心率(次／分）</th>
                                                <th class="th9" rowspan="2">入量(ml)</th>
                                                <th class="th10 colspan3" colspan="3">出量(ml)</th>
                                                <th class="th11" rowspan="2">体重(kg)</th>
                                                <th class="th12" rowspan="2">身高(cm)</th>
                                                <th class="th13" rowspan="2">皮试</th>
                                                <th class="th14" rowspan="2">血氧饱和度(%)</th>
                                                <th class="th15" rowspan="2">血糖(mmol/L)</th>
                                                <th class="th16" rowspan="2">事件</th>
                                                <th class="th17" rowspan="2">操作</th>
                                            </tr>
                                            <tr>
                                                <th class="colspan3-1">尿量(ml)</th>
                                                <th class="colspan3-1">大便(次）</th>
                                                <th class="colspan3-1">其他(ml)</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="cont-table">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1" rowspan="2">床号</th>
                                                <th class="th2" rowspan="2">姓名</th>
                                                <th class="th3" rowspan="2">年龄</th>
                                                <th class="th18" rowspan="2">测量时间</th>
                                                <th class="th4" rowspan="2">体温(℃)</th>
                                                <th class="th5" rowspan="2">脉搏(次／分)</th>
                                                <th class="th6" rowspan="2">呼吸(次／分)</th>
                                                <th class="th7" rowspan="2">血压(mmHg)</th>
                                                <th class="th8" rowspan="2">心率(次／分)</th>
                                                <th class="th9" rowspan="2">入量(ml)</th>
                                                <th class="th10 colspan3" colspan="3">出量(ml)</th>
                                                <th class="th11" rowspan="2">体重(kg)</th>
                                                <th class="th12" rowspan="2">身高(cm)</th>
                                                <th class="th13" rowspan="2">皮试</th>
                                                <th class="th14" rowspan="2">血氧饱和度(%)</th>
                                                <th class="th15" rowspan="2">血糖(mmol/L)</th>
                                                <th class="th16" rowspan="2">事件</th>
                                                <th class="th17" rowspan="2">操作</th>
                                            </tr>
                                            <tr>
                                                <th class="colspan3-1">尿量(ml)</th>
                                                <th class="colspan3-1">大便(次）</th>
                                                <th class="colspan3-1">其他(ml)</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                        {{range .signhistorys}}
                                            <tr>
                                                <td class="pd8"><span>{{.PCBedDup.BCQ04}}</span></td>
                                                <td class="pd8"><span>{{.PCBedDup.VAA05}}</span></td>
                                                <td class="pd8"><span>{{.PCBedDup.VAA10}}</span></td>
                                                <td class="date-time-td">

                                                    <div class="text-msg">
                                                        {{.Texttime}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input1" class="input1" value="{{.Thm.Value}}">
                                                        <select id="row1_input2" class="abs">
                                                                        <option selected="" value="">&nbsp;</option>
                                                                        <option value="腋温">腋温</option>
                                                                        <option value="耳温">耳温</option>
                                                                        <option value="口温">口温</option>
                                                                        <option value="肛温">肛温</option>
                                                                        <option value="额温">额温</option>
                                                                        <option value="不升">不升</option>
                                                                        <option value="外出">外出</option>
                                                                        <option value="检查">检查</option>
                                                                        <option value="请假">请假</option>
                                                                        <option value="拒试">拒试</option>
                                                                        <option value="无法测">无法测</option>
                                                                        <option value="不在">不在</option>
                                                                    </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Thm.Value}} {{if eq .Thm.Ttemptype "1" }} 腋温 {{end}}{{if eq .Thm.Ttemptype "2" }} 耳温 {{end}}{{if eq .Thm.Ttemptype "3" }} 口温 {{end}}{{if eq .Thm.Ttemptype "4" }} 肛温 {{end}}{{if eq .Thm.Ttemptype "5" }} 额温 {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input3" class="input1" value="{{.Pulse.Value}}">
                                                        <div class="check-bar">
                                                            <input type="checkbox" id="row1_input4" >
                                                            <label for="row1_input4">
                                                                短绌
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Pulse.Value}} {{if eq .Pulse.Whetherbriefness "1" }} 短绌 {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input5" class="input1" value="{{.Breathe.Value}}">
                                                        <select id="row1_input6" class="abs">
                                                                        <option value=" " {{if eq .Breathe.Whethertbm ""}} selected="" {{end}}>&nbsp;</option>
                                                                        <option value="辅助呼吸" {{if eq .Breathe.Whethertbm "1"}} selected="" {{end}}>辅助呼吸</option>
                                                                        <option value="停辅助呼吸" {{if eq .Breathe.Whethertbm "0"}} selected="" {{end}}>停辅助呼吸</option>
                                                                    </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Breathe.Value}} {{if eq .Breathe.Whethertbm "1" }} 辅助呼吸 {{end}} {{if eq .Breathe.Whethertbm "0" }} 停辅助呼吸 {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input class="i1" type="text" id="row1_input7" value="{{.Pressure.Diavalue}}">/
                                                        <input class="i1" type="text" id="row1_input8" value="{{.Pressure.Sysvalue}}">
                                                        <select id="row1_input9" class="abs">
                                                                        <option value=" " {{if eq .Pressure.Recordscene "" }}  selected="" {{end}}>&nbsp;</option>
                                                                        <option value="外出" {{if eq .Pressure.Recordscene "1" }}  selected="" {{end}}>外出</option>
                                                                        <option value="检查" {{if eq .Pressure.Recordscene "2" }}  selected="" {{end}}>检查</option>
                                                                        <option value="请假" {{if eq .Pressure.Recordscene "3" }}  selected="" {{end}}>请假</option>
                                                                        <option value="拒试" {{if eq .Pressure.Recordscene "4" }}  selected="" {{end}}>拒试</option>
                                                                        <option value="无法测" {{if eq .Pressure.Recordscene "5" }}  selected="" {{end}}>无法测</option>
                                                                        <option value="不在" {{if eq .Pressure.Recordscene "6" }}  selected="" {{end}}>不在</option>
                                                                    </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Pressure.Diavalue}} / {{.Pressure.Sysvalue}} {{if eq .Pressure.Recordscene "1" }} 外出 {{end}}{{if eq .Pressure.Recordscene "2" }} 检查 {{end}}{{if eq .Pressure.Recordscene "3" }} 请假 {{end}}{{if eq .Pressure.Recordscene "4" }} 拒试 {{end}}{{if eq .Pressure.Recordscene "5" }} 无法侧 {{end}}{{if eq .Pressure.Recordscene "6" }} 未测 {{end}}
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <input class="input2 ft-center" type="text" id="row1_input10" value="{{.Heartrate.Value}}">
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Heartrate.Value}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input11">
                                                        <select id="row1_input12" class="abs">
                                                                        <option selected="" value=" ">&nbsp;</option>
                                                                        <option value="输入液量">输入液量</option>
                                                                        <option value="饮食">饮食</option>
                                                                        <option value="饮水">饮水</option>
                                                                        <option value="其它">其它</option>
                                                                    </select>
                                                    </div>

                                                    <div class="text-msg">
                                                        {{range  .IntakeOutput}}
                                                        {{if (eq .Type 1)}} {{.Value}}  {{end}}
                                                        {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input13">
                                                        <select id="row1_input14" class="abs">
                                                                        <option selected="" value=" ">&nbsp;</option>
                                                                        <option value="失禁">失禁</option>
                                                                        <option value="/C">/C</option>
                                                                    </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{range  .IntakeOutput}}
                                                        {{if and (eq .Type 2) (eq .Subtype 2)}} {{.Value}} {{end}}
                                                        {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input15">
                                                        <select id="row1_input16" class="abs">
                                                                        <option selected="" value=" ">&nbsp;</option>
                                                                        <option value="失禁">失禁</option>
                                                                        <option value="/E">/E</option>
                                                                        <option value="*/E">*/E</option>
                                                                        <option value="1，1/E">1，1/E</option>
                                                                        <option value="肠镜">肠镜</option>
                                                                        <option value="人工肛门">人工肛门</option>
                                                                    </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{range  .IntakeOutput}}
                                                        {{if and (eq .Type 2) (eq .Subtype 3)}} {{.Value}} {{end}}
                                                        {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input17">
                                                        <input type="text" class="input3" id="row1_input18">
                                                    </div>
                                                    <div class="text-msg">
                                                        {{range  .IntakeOutput}}
                                                        {{if and (eq .Type 2) (eq .Subtype 1)}} {{.Value}} {{end}}
                                                        {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input18" value="{{.Weight.Value}}">
                                                        <select id="row1_input19" class="abs">
                                                                        <option value=" " {{if eq .Weight.Recordscene "" }} selected="" {{end}}>&nbsp; </option>
                                                                        <option value="卧床" {{if eq .Weight.Recordscene "1" }} selected="" {{end}}>卧床</option>
                                                                        <option value="轮椅" {{if eq .Weight.Recordscene "2" }} selected="" {{end}}>轮椅</option>
                                                                        <option value="平车" {{if eq .Weight.Recordscene "3" }} selected="" {{end}}>平车</option>
                                                                    </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Weight.Value}} {{if eq .Weight.Recordscene "1" }} 卧床 {{end}}{{if eq .Weight.Recordscene "2" }} 轮椅 {{end}}{{if eq .Weight.Recordscene "3" }} 平车 {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row1_input20" value="{{.Height.Value}}">
                                                        <select id="row1_input21" class="abs">
                                                                        <option  value=" " {{if eq .Height.Recordscene "" }} selected="" {{end}}>&nbsp; </option>
                                                                        <option value="卧床" {{if eq .Height.Recordscene "1" }} selected="" {{end}}>卧床</option>
                                                                        <option value="轮椅" {{if eq .Height.Recordscene "2" }} selected="" {{end}}>轮椅</option>
                                                                        <option value="平车" {{if eq .Height.Recordscene "3" }} selected="" {{end}}>平车</option>
                                                                    </select>
                                                    </div>

                                                    <div class="text-msg">
                                                        {{.Height.Value}} {{if eq .Height.Recordscene "1" }} 卧床 {{end}}{{if eq .Height.Recordscene "2" }} 轮椅 {{end}}{{if eq .Height.Recordscene "3" }} 平车 {{end}}
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <textarea type="text" id="row1_input22">{{.Skin.Value}}</textarea>
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Skin.Value}}
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <input class="input2 ft-center" type="text" id="row1_input23" value="{{.Spo2h.Value}}">
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Spo2h.Value}}
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <input class="input2 ft-center" type="text" id="row1_input24" value="{{.Glucose.Value}}">
                                                    </div>
                                                    <div class="text-msg">
                                                        {{.Glucose.Value}}
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <textarea type="text" id="row1_input25"></textarea>
                                                    </div>

                                                    <div class="text-msg">
                                                        {{if eq .Incident.Recordscene "1" }} 入院 {{end}}{{if eq .Incident.Recordscene "2" }} 出院 {{end}}{{if eq .Incident.Recordscene "3" }} 手术 {{end}}{{if eq .Incident.Recordscene "4" }} 分娩 {{end}}{{if eq .Incident.Recordscene "5" }} 出生 {{end}}{{if eq .Incident.Recordscene "6" }} 转入 {{end}}{{if eq .Incident.Recordscene "7" }} 转科 {{end}}{{if eq .Incident.Recordscene "8" }} 转院 {{end}}{{if eq .Incident.Recordscene "9" }} 死亡 {{end}}{{if eq .Incident.Recordscene "10" }} 外出 {{end}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group2">
                                                        <div class="l">
                                                            <a href="javascript:;" class="save-btn">保存</a>
                                                            <a href="javascript:;" class="edit-btn">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </div>
                                                        <a href="javascript:;" class="del-btn"><i class="am-icon-trash"></i>删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{end}}

                                            <!--<tr>
                                                <td class="pd8"><span>B01</span></td>
                                                <td class="pd8"><span>王小二</span></td>
                                                <td class="pd8"><span>51</span></td>
                                                <td class="date-time-td">

                                                    <div class="text-msg">
                                                        2017-10-11 44:00
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input1" class="input1">
                                                        <select id="row2_input2" class="abs">
                                                        <option selected="" value=" ">&nbsp;</option>
                                                        <option value="腋温">腋温</option>
                                                        <option value="耳温">耳温</option>
                                                        <option value="口温">口温</option>
                                                        <option value="肛温">肛温</option>
                                                        <option value="额温">额温</option>
                                                        <option value="不升">不升</option>
                                                        <option value="外出">外出</option>
                                                        <option value="检查">检查</option>
                                                        <option value="请假">请假</option>
                                                        <option value="拒试">拒试</option>
                                                        <option value="无法测">无法测</option>
                                                        <option value="不在">不在</option>
                                                    </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        31 口温
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input3" class="input1">
                                                        <div class="check-bar">
                                                            <input type="checkbox" id="row2_input4">
                                                            <label for="row2_input4">短绌</label>
                                                        </div>
                                                    </div>
                                                    <div class="text-msg">
                                                        123 短绌
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input5" class="input1">
                                                        <select id="row2_input6" class="abs">
                                <option selected="" value=" ">&nbsp;</option>
                                <option value="辅助呼吸">辅助呼吸</option>
                                <option value="停辅助呼吸">停辅助呼吸</option>
                            </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        123 停辅助呼吸
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input class="i1" type="text" id="row2_input7">/
                                                        <input class="i1" type="text" id="row2_input8">
                                                        <select id="row2_input9" class="abs">
                                <option selected="" value=" ">&nbsp;</option>
                                <option value="外出">外出</option>
                                <option value="检查">检查</option>
                                <option value="请假">请假</option>
                                <option value="拒试">拒试</option>
                                <option value="无法测">无法测</option>
                                <option value="不在">不在</option>
                            </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        123 / 123 请假
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <input class="input2 ft-center" type="text" id="row2_input10">
                                                    </div>
                                                    <div class="text-msg">
                                                        123123
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input11">
                                                        <select id="row2_input12" class="abs">
                                <option selected="" value=" ">&nbsp;</option>
                                <option value="输入液量">输入液量</option>
                                <option value="饮食">饮食</option>
                                <option value="饮水">饮水</option>
                                <option value="其它">其它</option>
                            </select>
                                                    </div>

                                                    <div class="text-msg">
                                                        123 饮食
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input13">
                                                        <select id="row2_input14" class="abs">
                                <option selected="" value=" ">&nbsp;</option>
                                <option value="失禁">失禁</option>
                                <option value="/C">/C</option>
                            </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        123 失禁
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input15">
                                                        <select id="row2_input16" class="abs">
                                <option selected="" value=" ">&nbsp;</option>
                                <option value="失禁">失禁</option>
                                <option value="/E">/E</option>
                                <option value="*/E">*/E</option>
                                <option value="1，1/E">1，1/E</option>
                                <option value="肠镜">肠镜</option>
                                <option value="人工肛门">人工肛门</option>
                            </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        123 人工肛门
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input17">
                                                        <input type="text" class="input3" id="row2_input18">
                                                    </div>
                                                    <div class="text-msg">
                                                        XSDSASD XSDSASD
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input18">
                                                        <select id="row2_input19" class="abs">
                                <option selected="" value="  ">&nbsp; </option>
                                <option value="卧床">卧床</option>
                                <option value="轮椅">轮椅</option>
                                <option value="平车">平车</option>
                            </select>
                                                    </div>
                                                    <div class="text-msg">
                                                        XSDSASD 卧床
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-input-bar">
                                                        <input type="text" id="row2_input20">
                                                        <select id="row2_input21" class="abs">
                                <option selected="" value="  ">&nbsp; </option>
                                <option value="卧床">卧床</option>
                                <option value="轮椅">轮椅</option>
                                <option value="平车">平车</option>
                            </select>
                                                    </div>

                                                    <div class="text-msg">
                                                        XSDSASD 卧床
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <textarea type="text" id="row2_input22"></textarea>
                                                    </div>
                                                    <div class="text-msg">
                                                        皮试皮试皮试皮试
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <input class="input2 ft-center" type="text" id="row2_input23">
                                                    </div>
                                                    <div class="text-msg">
                                                        120
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <input class="input2 ft-center" type="text" id="row2_input24">
                                                    </div>
                                                    <div class="text-msg">
                                                        123
                                                    </div>
                                                </td>
                                                <td class="pd0">
                                                    <div class="table-input-bar">
                                                        <textarea type="text" id="row2_input25"></textarea>
                                                    </div>

                                                    <div class="text-msg">
                                                        事件事件
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group2">
                                                        <div class="l">
                                                            <a href="javascript:;" class="save-btn">保存</a>
                                                            <a href="javascript:;" class="edit-btn">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </div>
                                                        <a href="javascript:;" class="del-btn"><i class="am-icon-trash"></i>删除</a>
                                                    </div>
                                                </td>
                                            </tr>-->

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>
    </div>

    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

    <script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
    <!--框架js-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
    <!--//遮罩层退出框-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script>
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->

    <script src="/static/dist/js/lib/laydate/laydate.js"></script>
    <script src="/static/common.js"></script>

    <script>
        /**
         * 节流函数
         */
        var nowFn = Date.now || function() {
            return new Date().getTime()
        }


        function throttle(func, wait, option) {
            var previous = 0, //之前的时间
                timeout, self, args, result;

            var later = function() {
                previous = nowFn();
                timeout = null;
                result = func.apply(self, args);
                !timeout && (self = args = null);
            }
            return function() {
                var now = nowFn();

                if (!previous && option.leading === false) previous = now;
                var diff = wait - (now - previous);

                args = arguments;
                self = this;
                if (diff <= 0) {
                    if (timeout) {
                        clearTimeout(timeout);
                        timeout = null;
                    }
                    result = func.apply(self, args);
                    previous = now;
                    !timeout && (self = args = null); //如果没有堆积的任务 则清空 self 和args
                } else if (!timeout && option.trailing !== false) {
                    timeout = setTimeout(later, diff)
                } else {
                    console.log('被抛弃了')
                }
                return result;

            }
        }
        $('#jky-menu').on('open.collapse.amui', function(e) {
            $(e.target).parents("li").addClass("jky-on")
        })
        $('#jky-menu').on('close.collapse.amui', function(e) {
            $(e.target).parents("li").removeClass("jky-on")
        })



        function toggleTar() {
            if ($('.top48').hasClass('small-type')) {
                $('.top48').removeClass('small-type')
                $('.jky_sidebar').removeClass('small-type')
            } else {
                $('.top48').addClass('small-type')
                $('.jky_sidebar').addClass('small-type')
            }

        }


        $('.s-btn').on('click', function() {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $('.user-warp').show();

            } else {
                $(this).addClass('active');

                $('.user-warp').hide();
            }




        })

        var nowDateObj = nowDate();

        function nowDate() {
            var res = {},
                nowD = new Date();
            res.date = nowD.getFullYear() + "-" + addZero(nowD.getMonth() + 1) + "-" + addZero(nowD.getDate());
            res.time = addZero(nowD.getHours()) + ":" + addZero(nowD.getMinutes())
            return res
        }

        function addZero(i) {
            if (i < 10) {
                return "0" + i;
            } else {
                return i;
            }
        }
        laydate.render({
            elem: '#date1', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
        laydate.render({
            elem: '#date2', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
        /**
        laydate.render({
            elem: '.time-input', //指定元素
            // showBottom: false,
            type: 'time',
            format: 'HH:mm',
            value: nowDateObj.time,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
        **/
        // setTimeout(function(){
        // $('.time-input').val(nowDateObj.time)
        // },0)


        $(window).on('resize', throttle(resizeFn, 500, {
            leading: false, //配置第一次不立即执行 true 第一次执行 false 第一次不执行
            trailing: true // 是否抛弃 还是 往后堆积
        }))

        var h = $('.history-batchInput').height()
        resizeFn()

        function resizeFn() {
            var $el = $('.hd-bar');
            elH = parseFloat($el.css('height'))
            $('.scroll-box').height(h - elH - 20)
            console.log(elH, h)
        }
        var hxScroll = 0,
            zxScroll = 0;
        $('.scroll-box').on('scroll', function() {
            var sl = this.scrollLeft,
                st = this.scrollTop
            if (sl != hxScroll) {
                console.log('横向滚动')
                hxScroll = sl
            }
            if (st != zxScroll) {
                console.log('纵向滚动')
                $('.cont-table.fx').css('top', st)
                zxScroll = st
            }
        })
        var dateHtml = '<div class="date-time-box">' +
            '<input type="text" class="date-input-td">' +
            '<input type="text" class="time-input-td">' +
            '</div>'
            // var edit1
        $('body').on('click', '.edit-btn', function() {
            // console.log($(this).parents('tr'))
            var l = $('tr.active').length;
            if (l == 0) {
                $(this).parents('tr').addClass('active')
                $(this).parents('tr').find('.date-time-td').append(dateHtml)

                laydate.render({
                    elem: '.date-input-td', //指定元素
                    showBottom: false,
                    value: nowDateObj.date,
                    done: function(value, date, endDate) {
                        console.log(value); //得到日期生成的值，如：2017-08-18
                        console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                        console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                    }
                })

                laydate.render({
                    elem: '.time-input-td',
                    type: 'time',
                    format: 'HH:mm',
                    value: nowDateObj.time,
                    done: function(value, date, endDate) {
                        console.log(value); //得到日期生成的值，如：2017-08-18
                        console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                        console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                    }
                })
            } else {
                // alert('暂时未保存，是否放弃修改');
                // alert('修改暂时未保存,请先保存');
                alert('修改信息还未保存')

            }

        });
        $('body').on('click', '.save-btn', function() {
            console.log($(this).parents('tr'))
            $(this).parents('tr').removeClass('active')
            $('.date-time-box').remove();

        })
    </script>
</body>

</html>
