<!DOCTYPE html>
<!--<html>-->

<!--<head>-->
    <!--<meta charset="utf-8" />-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>见康云护理管理信息系统</title>-->
    <!--<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/amazeui.css" />-->
    <!--<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/core.css" />-->
    <!--<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/menu.css" />-->
    <!--<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/admin.css" />-->
    <!--<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/page/typography.css" />-->
    <!--<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/page/form.css" />-->
    <!--<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/component.css" />-->
    <!--<link rel="stylesheet" href="/static/dist/style/css/base_pc.min.css">-->
<!--</head>-->

<body class="pt48">
    {{template "header_top" .}}

    <!--<div id="gopng_icon4_outer">-->
        <!--<div id="gopng_icon4"></div>-->
    <!--</div>-->
    <!--<div class="hd_tit">-->
        <!--<div class="logo"><img src="/static/dist/images/admin_pc/logo.png"></div>-->
        <!--<p class="tit">见康云护理管理信息系统_</p>-->
        <!--<div class="am-dropdown jky_dropdown" data-am-dropdown>-->
            <!--<button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>{{.Userinfo.DepartmentName}}-->
                <!--<span class="jky_icon"><img src="/static/dist/images/admin_pc/xl.png" alt=""></span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="r_menu_list">-->
            <!--<div class="more_btn">-->
                <!--<div class="parent_menu">-->
                    <!--更多-->
                <!--</div>-->
                <!--<ul class="child_menu">-->
                    <!--<li><a href="#">出入管理</a></li>-->
                    <!--<li><a href="#">提醒管理</a></li>-->
                    <!--<li><a href="#">历史病人</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="setup_btn">-->
                <!--<div class="parent_menu">-->
                    <!--设置-->
                <!--</div>-->
                <!--<ul class="child_menu">-->
                    <!--<li><a href="/pc/account/changepwd">密码修改</a></li>-->
                    <!--<li><a href="#">设备管理</a></li>-->
                    <!--<li><a href="#">账号管理</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="out_btn">-->
                <!--<img src="/static/dist/images/admin_pc/out.png" alt=""> 退出-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->


    <!-- Begin page -->
    <!--<div class="am-topbar am-topbar-fixed-top top48 type2">-->
        <!--<div class="am-topbar-left am-hide-sm-only">-->
            <!--<a class="username"><span>欢迎您，{{.Userinfo.Name}}</span><i class="zmdi zmdi-layers"></i></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;-->
        <!--<div class="contain">-->
            <!--<div class="jky-class-bar">-->

            <!--</div>-->
          <!--<div class="jky-tab-hd">-->
                <!--<ul>-->
                    <!--<li><a href="./batchInput.html">批量录入</a></li>-->
                    <!--<li class="active"><a href="./batchInput2.html">历史数据</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--&ndash;&gt;-->

    <!--</div>-->
    <!-- end page -->


    <div class="admin">
        <!-- 侧边栏 -->
        <!--<div class="admin-sidebar am-offcanvas  am-padding-0 jky_sidebar type2" id="admin-offcanvas">-->
            <!--<div class="am-offcanvas-bar admin-offcanvas-bar">-->

                <!--<ul class="am-list admin-sidebar-list" id="jky-menu">-->
                    <!--<li class="active admin-parent jky-on">-->
                        <!--<a data-am-collapse="{target: '#collapse-nav1'}">-->
                            <!--<span class="jky_icon2"><img src="/static/dist/images/admin_pc/icon10.png" alt="" style="width:25px"></span>-->
                            <!--<span class="tit">科室病人</span>-->
                            <!--<div class="jky_icon">-->
                                <!--<img src="/static/dist/images/admin_pc/icon5.png" alt="">-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">-->
                            <!--<li><a href="html/table_basic.html" class="am-cf">所有病人 <span class="num">10</span></a></li>-->
                            <!--<li><a href="html/table_basic.html" class="am-cf">新病人 <span class="num">10</span></a></li>-->
                            <!--<li><a href="html/table_basic.html" class="am-cf">新医嘱 <span class="num">10</span></a></li>-->
                            <!--<li><a href="html/table_basic.html" class="am-cf">停止医嘱 <span class="num">10</span></a></li>-->
                            <!--<li><a href="html/table_basic.html" class="am-cf">发热 <span class="num">10</span></a></li>-->
                            <!--<li><a href="html/table_basic.html" class="am-cf">待手术 <span class="num">10</span></a></li>-->

                        <!--</ul>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a class="am-cf">-->
                            <!--<span class="jky_icon2">-->
                                <!--<img src="/static/dist/images/admin_pc/icon11.png" alt="">-->
                            <!--</span>-->
                            <!--<span class="tit"> 医嘱拆分 </span>-->
                            <!--<div class="jky_icon">-->
                                <!--<img src="/static/dist/images/admin_pc/icon5.png" alt="">-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="am-cf">-->
                            <!--<span class="jky_icon2">-->
                                <!--<img src="/static/dist/images/admin_pc/icon12.png" alt="">-->
                            <!--</span>-->
                            <!--<span class="tit">医嘱信息</span>-->
                            <!--<div class="jky_icon"><img src="/static/dist/images/admin_pc/icon5.png" alt=""></div>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a class="am-cf">-->
                            <!--<span class="jky_icon2">-->
                                <!--<img src="/static/dist/images/admin_pc/icon13.png" alt="">-->
                            <!--</span>-->
                            <!--<span class="tit">体征批量录入</span>-->
                            <!--<div class="jky_icon"><img src="/static/dist/images/admin_pc/icon5.png" alt=""></div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="am-cf">-->
                            <!--<span class="jky_icon2">-->
                                <!--<img src="/static/dist/images/admin_pc/icon14.png" alt="">-->
                            <!--</span>-->
                            <!--<span class="tit">体温单</span>-->
                            <!--<div class="jky_icon"><img src="/static/dist/images/admin_pc/icon5.png" alt=""></div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="am-cf">-->
                            <!--<span class="jky_icon2">-->
                                <!--<img src="/static/dist/images/admin_pc/icon15.png" alt="">-->
                            <!--</span>-->
                            <!--<span class="tit">交班表</span>-->
                            <!--<div class="jky_icon"><img src="/static/dist/images/admin_pc/icon5.png" alt=""></div>-->
                        <!--</a>-->
                    <!--</li>-->


                    <!--<li class="admin-parent">-->
                        <!--<a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}">-->
                            <!--<span class="jky_icon2">-->
                                <!--<img src="/static/dist/images/admin_pc/icon16.png" alt="">-->
                            <!--</span>-->
                            <!--<span class="tit">护理文书</span>-->
                            <!--<div class="jky_icon"><img src="/static/dist/images/admin_pc/icon5.png" alt=""></div>-->
                        <!--</a>-->
                        <!--<ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav2">-->
                            <!--<li><a href="#" class="am-cf">首次护理记录单</a></li>-->
                            <!--<li><a href="#" class="am-cf"> 护理记录单</a></li>-->

                        <!--</ul>-->
                    <!--</li>-->

                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        {{template "header_side" .}}

        <!-- main -->

        <div class="content-page type2" style="margin-top: 10px;">
            <div class="content ">
                <div class="am-g">
                    <div class="editPas">
                        <div class="hd_bar">
                            <span class="tit">密码修改</span>
                        </div>
                        <div class="editPas-cont">
                            <div class="edit-pass-from">
                                <div class="input-bar">
                                    <label for="ypwd">原密码</label>
                                    <input type="password" id="ypwd">
                                </div>
                                <div class="input-bar">
                                    <label for="newpwd1">新密码</label>
                                    <input type="password" id="newpwd1">
                                </div>
                                <div class="input-bar">
                                    <label for="newpwd2">确认密码</label>
                                    <input type="password" id="newpwd2">
                                </div>
                                <div class="ft">
                                    <a class="btn"> 提交</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>


    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

    <script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
    <!--框架js-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
    <!--//遮罩层退出框-->
    <!-- <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script> -->

    <!--<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
    <!--<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->

    <script src="/static/common.js"></script>
    <script>
        /**
         * 节流函数
         */
        var nowFn = Date.now || function() {
            return new Date().getTime()
        }


        function throttle(func, wait, option) {
            var previous = 0, //之前的时间
                timeout, self, args, result;

            var later = function() {
                previous = nowFn();
                timeout = null;
                result = func.apply(self, args);
                !timeout && (self = args = null);
            }
            return function() {
                var now = nowFn();

                if (!previous && option.leading === false) previous = now;
                var diff = wait - (now - previous);

                args = arguments;
                self = this;
                if (diff <= 0) {
                    if (timeout) {
                        clearTimeout(timeout);
                        timeout = null;
                    }
                    result = func.apply(self, args);
                    previous = now;
                    !timeout && (self = args = null); //如果没有堆积的任务 则清空 self 和args
                } else if (!timeout && option.trailing !== false) {
                    timeout = setTimeout(later, diff)
                } else {
                    console.log('被抛弃了')
                }
                return result;

            }
        }
        $('#jky-menu').on('open.collapse.amui', function(e) {
            $(e.target).parents("li").addClass("jky-on")
        })
        $('#jky-menu').on('close.collapse.amui', function(e) {
            $(e.target).parents("li").removeClass("jky-on")
        })

        $('.ft').on('click', function () {
            var userinfo = {{.Userinfo}}
            if (userinfo.Authority == 3 || userinfo.Authority == 2) {
                alert("管理员账号不支持修改密码")
                return
            }

            var orginal = $("#ypwd").val()
            var password = $("#newpwd1").val()
            var verify = $('#newpwd2').val()

            if (orginal.length == 0) {
                alert("请输入原始密码")
            } else if (password.length == 0 || verify.length == 0) {
                alert("请输入正确的新密码和确认密码")
            } else if (password !== verify) {
                alert("确认密码和新密码不一致， 请重新输入")
            } else {
                $.post("/pc/account/changepwd", {
                    orginal:orginal,
                    password:password,
                    verify:verify,
                    code:userinfo.Code
                }, function (json,status) {
                    console.log(json, status);
                    if (json.result == 0) {
                        window.location.href = "/pc/login"
                    } else {
                        alert(json.errmsg)
                    }
                }, 'json');
            }
        });

        function toggleTar() {
            if ($('.top48').hasClass('small-type')) {
                $('.top48').removeClass('small-type')
                $('.jky_sidebar').removeClass('small-type')
            } else {
                $('.top48').addClass('small-type')
                $('.jky_sidebar').addClass('small-type')
            }

        }

    </script>
</body>

</html>
