<!DOCTYPE html>

{{template "header_top" .}}
<div class="am-topbar am-topbar-fixed-top top48">
<div class="am-topbar-left am-hide-sm-only"></div>
<div class="contain">
    <div class="jky-class-bar">
        <ul>
            <li>
                <p><span class="icon1"></span>特护</p>
            </li>
            <li>
                <p><span class="icon2"></span>一级护理</p>
            </li>
            <li>
                <p><span class="icon3"></span>二级护理</p>
            </li>
            <li>
                <p><span class="icon4"></span>三级护理</p>
            </li>
            <li>
                <p><span class="icon9"></span>无护理级别</p>
            </li>
            <li>
                <p><span class="icon5"></span>新病人</p>
            </li>
            <li>
                <p><span class="icon6"></span>发热</p>
            </li>
            <li>
                <p><span class="icon7"></span>新医嘱/停止医嘱</p>
            </li>
            <li>
                <p>
                    <input type="checkbox" class="check" id="isShowEmpty">
                    <label for="isShowEmpty">仅显示有病人床位</label></p>
            </li>
        </ul>
    </div>
    <div class="jky-tab-hd">
        <ul>
            <li class="active"><a>简卡</a></li>
            <li><a>列表</a></li>
        </ul>
    </div>
</div>
</div>
<div class="admin">

    <!-- sidebar start -->
    {{template "header_side" .}}
    <!-- sidebar end -->


    <!-- ============================================================== -->
    <!-- Start right Content 1 here -->
    <div class="content-page none" data-index="1">
        <!-- Start content -->
        <div class="content">
            <div class="am-g jky-box-list"  id="jky-p-table">
                <ul>
                    {{range $k, $val := .Beds}}
                        {{if gt $val.Pid 0}}
                            <li>
                                <div class='item {{if eq $val.NursingDegreeV "0"}}t1{{else if eq $val.NursingDegreeV "1"}}t2{{else if eq $val.NursingDegreeV "2"}}t3{{else if eq $val.NursingDegreeV "3"}}t4{{else}}t5{{end}}'>
                                    <div class="hide-menu">
                                        <ul>
                                            <li><a target="view_window" class="dy" href="/pc/wdprint?pid={{$val.Pid}}">打印腕带</a></li>
                                        </ul>
                                    </div>
                                    <div class="tit">{{$val.Bed}}</div>
                                    <div class="cont">
                                        <p> <span class="name">{{$val.PName}}</span>&nbsp;&nbsp;&nbsp; {{$val.Gender}}&nbsp;&nbsp;&nbsp; {{$val.Age}}岁&nbsp;&nbsp;&nbsp; {{$val.Category}}</p>
                                        <p class="id"> <span>{{$val.DName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;住院号：{{$val.HospNum}}</span></p>
                                        <p class="msg"> <span>{{$val.Diagnosis}}</span></p>
                                        <p><span class="name-tit">住院医师：</span><span class="ysname">{{$val.Physician}}</span></p>
                                        <div class="icon-bar">
                                            {{if eq $val.NewPatient 1}}
                                                <div class="jky-icon">
                                                    <img src="/static/dist/images/admin_pc/icon2.png" alt="">
                                                </div>
                                            {{end}}
                                            {{if eq $val.StoppedOrder 1}}
                                                <div class="jky-icon">
                                                    <img src="/static/dist/images/admin_pc/icon3.png" alt="">
                                                </div>
                                            {{else if eq $val.NewOrder 1}}
                                                <div class="jky-icon">
                                                    <img src="/static/dist/images/admin_pc/icon3.png" alt="">
                                                </div>
                                            {{end}}
                                            {{if eq $val.Fever 1}}
                                                <div class="jky-icon">
                                                    <img src="/static/dist/images/admin_pc/icon4.png" style="height:22px" alt="">
                                                </div>
                                            {{end}}
                                        </div>
                                    </div>

                                </div>
                            </li>
                        {{else}}
                            <li>
                                <div class="item t5">
                                    <div class="tit">{{$val.Bed}} (空床)</div>
                                </div>
                            </li>
                        {{end}}
                    {{end}}
                </ul>
            </div>

        </div>
    </div>
    <!-- end right Content 1 here -->
    <!--</div>-->

    <!-- ============================================================== -->
    <!-- Start right Content 2 here -->
    <div class="content-page none" data-index="2">
        <div class="content jky-table-index">
            <div class="am-g">
                <table class="am-table am-table-bordered">
                    <thead>
                    <tr>
                        <th class="th1">床号</th>
                        <th class="th2">姓名</th>
                        <th class="th3">性别</th>
                        <th class="th4">年龄</th>
                        <th class="th5">住院号</th>
                        <th class="th6">护理级别</th>
                        <th class="th7">诊断</th>
                        <th class="th8">住院医师</th>
                        <th class="th9">责任护士</th>
                        <th class="th10">入院时间</th>
                        {{/*<th class="th11">费用差额</th>*/}}

                    </tr>
                    </thead>
                    <tbody id="jky-p-list">
                    {{range $k, $val := .Beds}}
                        {{if gt $val.Pid 0}}
                            <tr>
                                <td class="id">
                                    <div class="hideCe">
                                        <a target="view_window" href="/pc/wdprint?pid={{$val.Pid}}">打印腕带 </a>
                                    </div>
                                    <p class="txt">{{$val.Bed}}</p>
                                    <div class="icon"><img src="/static/dist/images/admin_pc/icon17.png" alt=""></div>
                                </td>
                                <td>{{$val.PName}}</td>
                                <td class="t-c">{{$val.Gender}}</td>
                                <td class="t-c">{{$val.Age}}</td>
                                <td class="t-c">{{$val.HospNum}}</td>
                                <td class='t-c {{if eq $val.NursingDegreeV "0"}}t1{{else if eq $val.NursingDegreeV "1"}}t2{{else if eq $val.NursingDegreeV "2"}}t3{{else if eq $val.NursingDegreeV "3"}}t4{{else}}t5{{end}}'>
                                    {{$val.NursingDegree}}
                                </td>
                                <td>{{$val.Diagnosis}}</td>
                                <td>{{$val.Physician}}</td>
                                <td>{{$val.Nurse}}</td>
                                <td class="t-c">{{$val.HospDay}}</td>
                            </tr>
                        {{else}}
                            <tr class="td-5">
                                <td >{{$val.Bed}}(空床)</td>
                                <td></td>
                                <td class="t-c"></td>
                                <td class="t-c"></td>
                                <td class="t-c"></td>
                                <td class="t2 t-c"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="t-c"></td>
                                {{/*<td class="t-c "></td>*/}}
                            </tr>
                        {{end}}
                    {{end}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- end right Content 2 here -->
    <!--</div>-->
</div>

<!-- navbar -->
<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

<script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
<!--框架js-->
<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
<!--//遮罩层退出框-->
<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script>
<!--<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
<!--<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->
<script>
    /**
     * 节流函数
     */
    var nowFn = Date.now || function () {
        return new Date().getTime()
    }


    function throttle(func, wait, option) {
        var previous = 0, //之前的时间
            timeout, self, args, result;

        var later = function () {
            previous = nowFn();
            timeout = null;
            result = func.apply(self, args);
            !timeout && (self = args = null);
        }
        return function () {
            var now = nowFn();

            if (!previous && option.leading === false) previous = now;
            var diff = wait - (now - previous);

            args = arguments;
            self = this;
            if (diff <= 0) {
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = null;
                }
                result = func.apply(self, args);
                previous = now;
                !timeout && (self = args = null); //如果没有堆积的任务 则清空 self 和args
            } else if (!timeout && option.trailing !== false) {
                timeout = setTimeout(later, diff)
            } else {
                console.log('被抛弃了')
            }
            return result;

        }
    }

    $('#jky-menu').on('open.collapse.amui', function (e) {
        $(e.target).parents("li").addClass("jky-on")
    })
    $('#jky-menu').on('close.collapse.amui', function (e) {
        $(e.target).parents("li").removeClass("jky-on")
    })
    $(window).on('resize', throttle(resizeFn, 500, {
        leading: false, //配置第一次不立即执行 true 第一次执行 false 第一次不执行
        trailing: true // 是否抛弃 还是 往后堆积
    }))

    resizeFn()

    function resizeFn() {
        // + parseFloat($('.top48').css('margin-bottom'))
        $('.content-page').css('margin-top', $('.jky-class-bar').height() - 5 +40)
    }

    setCont(0);

    //设置主框架显示
    function setCont() {
        var i = $('.jky-tab-hd').find('.active').index();
        $('.content-page').addClass('none').eq(i).removeClass('none')

    }

    $('.jky-tab-hd').on('click', 'li', function () {
        $('.jky-tab-hd').find('.active').removeClass('active')
        $(this).addClass('active')
        setCont()
    })
</script>

<script src="/static/common.js"></script>
<script>
    $(function () {


        $("#isShowEmpty").on('click',function(){
            if($(this).is(':checked')){
                $(".t5").parents("li").hide()
                $(".td-5").hide()
            }else{
                $(".t5").parents("li").show()
                $(".td-5").show()

            }
        });

    });
</script>


</body>

</html>
