<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>执行单</title>
    <meta content="always" name="referrer">
    <script src="/static/dist/js/lib/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <style type="text/css">
        <!--
        -->
        @media print {
            body {-webkit-print-color-adjust: exact;}
            .no-print {display: none;}
        }
        body{
            color:#000 !important;
        }
        table{ border-color: #000!important;}
        p {
            margin: 0px 0;
        }
        @page  {size: landscape}
        @page  {
            margin: 2px;
        }

        .dan, .dan1 {
            width: 1000px;
            height: 440px;
        }
        .td2 p{
            overflow: hidden;
            width:100% ;
            height: 29px;
            word-break: break-all;
        }
        /*.dan1 tr{*/
        /*border-top:1px solid #000;*/
        /*}*/
        .dan1 {
            font-size: 14px;
            /*padding-right: 20px;*/

        }

        .dan1 .tit-bar {
            width: 780px;
            font-size: 16px;
            text-align: center;
        }

        .dan1 table {
            width: 780px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
        }

        .dan1 td {
            border-left: 1px solid #000;
            border-top: 1px solid #000;
            height: 30px;
        }
        .p_td{
            height: 30px;
            line-height: 30px;
            border-bottom:1px solid #000;
        }
        .p_td:nth-last-child(1){
            border-bottom:0;
        }
        .cont .table .tr.tit {
            height: 20px;
        }
        .cont .table2 .tr.tit{
            height: 20px;
        }
        tbody tr{
            height: 30px;
        }
        .cont .table2 .tr.tit td {
            height: 20px;
        }
    </style>
    <script type="text/javascript">
        var html = "";
        $(function () {
            var datas = {{.PrintInfo}};//数据
            if(datas != null || datas.length != 0){
                console.log(datas)
                var dataA = []
                var dataB = []
                $.each(JSON.parse(datas),function(i,arrItem){
                    if(arrItem.ptv == "1"){
                        dataA.push(arrItem)
                    }else if(arrItem.ptv == "3"){
                        dataB.push(arrItem)

                    }
                })

                loadData(JSON.stringify(dataA));//输液单
                loadData1(JSON.stringify(dataB));//注射单
                $('body').html(html)
            }
        });
        function loadData(datas) {
            var obj = JSON.parse(datas);//转JSON对象
            // testData = [
            //     {
            //         "mid": 21158363,
            //         "vid": 55893,
            //         "exc": 1,
            //         "ext": "2017-12-10 16:42:33",
            //         "name": "陈炳祥",
            //         "age": 80,
            //         "bed": 10,
            //         "sex": "男",
            //         "pc":"每日1次",
            //         "speed":"61",
            //         "hosnum": "067832",
            //         "ptv": 2,
            //         "ff": "外科引导合板",
            //         "xh": "序号1/1",
            //         "gropnum": "1",
            //         "list": [
            //             [
            //                 "0.9%氯化钠注射液(软袋)",
            //                 "20 ml"
            //             ],
            //             [
            //                 "0.9%氯化钠注射液(软袋)",
            //                 "20 ml"
            //             ],
            //             [
            //                 "0.9%氯化钠注射液(软袋)",
            //                 "20 ml"
            //             ]
            //         ]
            //     },
            //     {
            //         "mid": 21381528,
            //         "vid": 56305,
            //         "exc": 1,
            //         "ext": "2017-12-10 09:21:35",
            //         "name": "汤郁森",
            //         "age": 33,
            //         "bed": 11,
            //         "sex": "男",
            //         "hosnum": "070001",
            //         "ptv": 2,
            //         "speed":"60",
            //         "pc":"每日1次",
            //         "ff": "口服",
            //         "xh": "序号1/1",
            //         "gropnum": "2",
            //         "list": [
            //             [
            //                 "替米沙坦片 40mg*14片",
            //                 "80 mg"
            //             ], [
            //                 "葡萄糖酸钙注射液 10ml:1g*5",
            //                 "20 ml"
            //             ], [
            //                 "葡萄糖酸钙注射液 10ml:1g*5",
            //                 "20 ml"
            //             ]
            //         ]
            //     },
            //     {
            //         "mid": 21381530,
            //         "vid": 56305,
            //         "exc": 1,
            //         "ext": "2017-12-10 09:21:35",
            //         "name": "汤郁森",
            //         "age": 33,
            //         "bed": 11,
            //         "sex": "男",
            //         "hosnum": "070001",
            //         "ptv": 2,
            //         "speed":"60",
            //         "ff": "口服",
            //         "pc":"每日1次",
            //         "xh": "序号1/1",
            //         "gropnum": "3",
            //         "list": [
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ],
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ]
            //         ]
            //     },
            //     {
            //         "mid": 21381530,
            //         "vid": 56305,
            //         "exc": 1,
            //         "ext": "2017-12-10 09:21:35",
            //         "name": "汤郁森",
            //         "age": 33,
            //         "speed":"60",
            //         "bed": 11,
            //         "sex": "男",
            //         "hosnum": "070001",
            //         "ptv": 2,
            //         "pc":"每日1次",
            //         "ff": "口服",
            //         "xh": "序号1/1",
            //         "gropnum": "3",
            //         "list": [
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ],
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ], [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ], [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ], [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ], [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ], [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ], [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ]
            //         ]
            //     },
            //     {
            //         "mid": 21381530,
            //         "vid": 56305,
            //         "exc": 1,
            //         "ext": "2017-12-10 09:21:35",
            //         "name": "汤郁森",
            //         "age": 33,
            //         "bed": 11,
            //         "sex": "男",
            //         "hosnum": "070001",
            //         "ptv": 2,
            //         "pc":"每日1次",
            //         "ff": "口服",
            //         "xh": "序号1/1",
            //         "gropnum": "4",
            //         "speed":"60",
            //         "list": [
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ]
            //         ]
            //     },
            //     {
            //         "mid": 21381530,
            //         "vid": 56305,
            //         "exc": 1,
            //         "ext": "2017-12-10 09:21:35",
            //         "name": "汤郁森",
            //         "age": 33,
            //         "bed": 11,
            //         "sex": "男",
            //         "hosnum": "070001",
            //         "ptv": 2,
            //         "pc":"每日1次",
            //         "ff": "口服",
            //         "speed":"60",
            //         "xh": "序号1/1",
            //         "gropnum": "1",
            //         "list": [
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ]
            //         ]
            //     },
            //     {
            //         "mid": 21381530,
            //         "vid": 56305,
            //         "exc": 1,
            //         "ext": "2017-12-10 09:21:35",
            //         "name": "汤郁森",
            //         "age": 33,
            //         "bed": 11,
            //         "sex": "男",
            //         "hosnum": "070001",
            //         "ptv": 2,
            //         "ff": "口服",
            //         "xh": "序号1/1",
            //         "pc":"每日1次",
            //         "gropnum": "3",
            //         "speed":"60",
            //         "list": [
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ]
            //         ]
            //     },
            //     {
            //         "mid": 21381530,
            //         "vid": 56305,
            //         "exc": 1,
            //         "ext": "2017-12-10 09:21:35",
            //         "name": "汤郁森",
            //         "age": 33,
            //         "bed": 11,
            //         "sex": "男",
            //         "hosnum": "070001",
            //         "ptv": 2,
            //         "pc":"每日1次",
            //         "ff": "口服",
            //         "speed":"60",
            //         "xh": "序号1/1",
            //         "gropnum": "3",
            //         "list": [
            //             [
            //                 "阿托伐他汀钙片 20mg*7片",
            //                 "1 片"
            //             ]
            //         ]
            //     },
            // ];


            var pdata = toArrData(obj, 10,1);

            $.each(pdata, function (key, arr) {
                $.each(arr, function (key1, arr1) {
                    //console.log(arr1[key1].ptv)
                    html += '<div class="dan">\n' +
                            '    <p class="tit">输液单</p>\n' +
                            '    <div class="top">\n' +
                            '        <p>\n' +
                            '            <span>床号：'+arr1[0].bed+'</span>\n' +
                            '            <span>姓名：'+arr1[0].name+'</span>\n' +
                            '            <span>性别：'+arr1[0].sex+'</span>\n' +
                            '            <span>年龄：'+arr1[0].age+' 岁</span>\n' +
                            '            <span>住院号：'+arr1[0].hosnum+'</span>\n' +
                            '            <span class="date">日期：'+arr1[0].ext+'&nbsp;&nbsp;&nbsp;&nbsp;</span>\n' +
                            '            <span>核对护士：</span>\n' +
                            '        </p>\n' +
                            '    </div>\n' +
                            '    <div class="cont">\n' +
                            '        <div class="l">\n' +
                            '            <table class="table" cellspacing=0 cellpadding=0>\n' +
                            '                <tr class="tr tit">\n' +
                            '                    <td class="td1">组</td>\n' +
                            '                    <td class="td2">药名</td>\n' +
                            '                    <td class="td3">剂量</td>\n' +
                            '                    <td class="td4">频次</td>\n' +
                            '                    <td class="td6">滴速</td>\n' +
                            '                    <td class="td7">执行时间</td>\n' +
                            '                    <td class="td8">签名</td>\n' +
                            '                </tr>';
                    $.each(arr1, function (key2, arr2) {
                        if(arr2 == null){
                            html += '<tr class="tr cont">\n' +
                                    '                    <td class="td1"></td>\n' +
                                    '                    <td class="td2">\n' +
                                    '                        <p></p>\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td3">\n' +
                                    '                        <p></p>\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td4"></td>\n' +
                                    '                    <td class="td6"></td>\n' +
                                    '                    <td class="td7">\n' +
                                    '                        <p class="time"></p>\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td8">\n' +
                                    '                        <p class="name"></p>\n' +
                                    '                    </td>\n' +
                                    '                </tr>'
                        }else{
                            for (var i = 0; i < arr2.list.length; i++) {
                                html+= '<tr class="tr cont">\n' +
                                        '                    <td class="td1">'+arr2.gropnum+'</td>\n' +
                                        '                    <td class="td2">\n' +
                                        '                        <p>'+arr2.list[i][0].split(" ")[0]+'</p>\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td3">\n' +
                                        '                        <p>'+arr2.list[i][1]+'</p>\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td4">'+arr2.pc+'</td>\n' +
                                        '                    <td class="td6">'+arr2.speed+'</td>\n' +
                                        '                    <td class="td7">\n' +
                                        '                        <p class="time"></p>\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td8">\n' +
                                        '                        <p class="name"></p>\n' +
                                        '                    </td>\n' +
                                        '                </tr>';
                            }

                        }
                    });

                    html+=' </table>\n' +
                            '        </div><div class="l m">\n' +
                            '            <div>巡视记录</div>\n' +
                            '        </div><div class="l">\n' +
                            '            <table class="table2" cellspacing=0 cellpadding=0>\n' +
                            '                <tr class="tr tit">\n' +
                            '                    <td class="td1">滴速</td>\n' +
                            '                    <td class="td2">时间</td>\n' +
                            '                    <td class="td3">签名</td>\n' +
                            '                    <td class="td1">滴速</td>\n' +
                            '                    <td class="td2">时间</td>\n' +
                            '                    <td class="td3">签名</td>\n' +
                            '                    <td class="td1">滴速</td>\n' +
                            '                    <td class="td2">时间</td>\n' +
                            '                    <td class="td3">签名</td>\n' +
                            '                </tr>';

                    $.each(arr1,function(key2, arr2){
                        if(arr2 == null){
                            html+= '                <tr class="tr cont">\n' +
                                    '                    <td class="td1"></td>\n' +
                                    '                    <td class="td2">\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td3">\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td1"></td>\n' +
                                    '                    <td class="td2">\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td3">\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td1"></td>\n' +
                                    '                    <td class="td2">\n' +
                                    '                    </td>\n' +
                                    '                    <td class="td3">\n' +
                                    '                    </td>\n' +
                                    '                </tr>'

                        }else{
                            for (var i = 0; i < arr2.list.length; i++) {
                                html+= '<tr class="tr cont">\n' +
                                        '                    <td class="td1"></td>\n' +
                                        '                    <td class="td2">\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td3">\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td1"></td>\n' +
                                        '                    <td class="td2">\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td3">\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td1"></td>\n' +
                                        '                    <td class="td2">\n' +
                                        '                    </td>\n' +
                                        '                    <td class="td3">\n' +
                                        '                    </td>\n' +
                                        '                </tr>';
                            }
                        }

                    })

                    html+=' </table>\n' +
                            '        </div>\n' +
                            '    </div>';

                    html+='<div class="bottom-bar">\n' +
                            '        <span style="">打印日期：{{.Now}}</span>\n' +
                            '        <span style="margin-left:100px">结束时间：</span>\n' +
                            '        <span style="margin-left:100px">签名：</span>\n' +
                            '    </div>\n' +
                            '</div>';
                });
            });
        }

        function loadData1(datas) {
            var obj = JSON.parse(datas);//转JSON对象
            var pdata = toArrData(obj, 9,3);
            // console.log(pdata)
            if(pdata == null || pdata.length == 0)
            {
                return;
            }
            $.each(pdata, function (key, arr) {
                $.each(arr, function (key1, arr1) {
                    // console.log(arr1)
                    html += '<div class="dan1">\n' +
                            '    <p align="center" class="tit-bar">注射单</p>\n' +
                            '    <p align="left">床号：'+arr1[0].bed+'&nbsp;&nbsp;姓名：'+arr1[0].name+'&nbsp;&nbsp;性别：'+arr1[0].sex+'&nbsp;&nbsp;年龄：'+arr1[0].age+' 岁&nbsp;&nbsp;住院号：'+arr1[0].hosnum+'&nbsp;&nbsp;日期：'+arr1[0].ext+'&nbsp;&nbsp;核对护士：&nbsp;&nbsp;&nbsp;</p>\n' +
                            '    <table cellspacing=0 cellpadding=0>\n' +
                            '        <tr>\n' +
                            '            <td width="17">\n' +
                            '                <div align="center">组</div>\n' +
                            '            </td>\n' +
                            '            <td width="230">\n' +
                            '                <div align="center">药名</div>\n' +
                            '            </td>\n' +
                            '            <td width="50">\n' +
                            '                <div align="center">剂量</div>\n' +
                            '            </td>\n' +
                            '            <td width="60">\n' +
                            '                <div align="center">频次</div>\n' +
                            '            </td>\n' +
                            '            <td width="150">\n' +
                            '                <div align="center">用法</div>\n' +
                            '            </td>\n' +
                            '            <td width="77">\n' +
                            '                <div align="center">执行时间</div>\n' +
                            '            </td>\n' +
                            '            <td width="70">\n' +
                            '                <div align="center">签名</div>\n' +
                            '            </td>\n' +
                            '            <td width="76">\n' +
                            '                <div align="center">核对签名</div>\n' +
                            '            </td>\n' +
                            '        </tr>';
                    $.each(arr1, function (key2, arr2) {

                        if(arr2 == null){
                            html += '<tr>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '        </tr>';
                        }else{
                            html += '<tr>\n' +
                                    '            <td>\n' +
                                    '                <div align="center">'+arr2.gropnum+'</div>\n' +
                                    '            </td> <td>' ;
                            for (var i = 0; i < arr2.list.length; i++) {
                                html+= '<div align="center" class="p_td">'+arr2.list[i][0].split(" ")[0]+'</div>';
                            }
                            html+='</td><td>';
                            for (var i = 0; i < arr2.list.length; i++) {
                                html+= '<div align="center" class="p_td">'+arr2.list[i][1]+'</div>';
                            }
                            html+='</td><td>\n' +
                                    '                <div align="center">'+arr2.pc+'</div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center">'+arr2.ff+'</div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                <div align="center"></div>\n' +
                                    '            </td>\n' +
                                    '        </tr>';
                        }
                    });
                    html += '    </table>\n' +
                            '    <p align="left">打印日期：{{.Now}}             结束时间：                                       签名：</p>\n' +
                            '</div>';
                });
            });
            // $('body').html(html)
        }
        function toArrData(datas, row) {
            if (!datas) return [];
            if (!datas.length) return [];
            var bedObj = {}, hash = {};
            $.each(datas, function (i, val) {
                if (hash[val.bed]!=undefined) {
                    bedObj[val.bed].push(val)
                } else {
                    bedObj[val.bed] = [val]
                    hash[val.bed] = i;
                }
            })
            /*  console.log("bedObj")
              console.log(bedObj)
              console.log(JSON.stringify(bedObj))*/
            var res = {};
            $.each(bedObj, function (key, val) {
                // console.log("key",key,"val",val)
                var sum = 0, tmpl = [];
                res[key] = [];
                $.each(val, function (i, val2) {
                    // console.log(val2)
                    // if(val2.ptv != type)
                    // {
                    //     return true;
                    // }
                    var len = val2.list.length;
                    var ysum = sum;
                    sum += len;
                    // console.log("sum",sum)

                    if (sum < row) {
                        tmpl.push(val2)
                        if (val.length == (i + 1)) {
                            var nullArrLen = row - sum;
                            for (ni = 0; ni < nullArrLen; ni++) {
                                tmpl.push(null)
                            }
                            res[key].push(tmpl);
                        }
                    } else if (sum == row) {
                        tmpl.push(val2);
                        res[key].push(tmpl);
                        tmpl = [];
                        sum = 0
                    } else {
                        var nullArrLen = row - ysum;
                        for (ni = 0; ni < nullArrLen; ni++) {
                            tmpl.push(null)
                        }
                        res[key].push(tmpl);
                        tmpl = [];
                        tmpl.push(val2)
                        sum = len
                    }
                })
            })


            return res;
        }
    </script>


</head>

<body>

</body>

</html>
