<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>口服单</title>
    <style type="text/css">
        <!--
        -->
        p{
            margin:4px 0;
        }
    </style>
</head>

<body>
<p align="center">口服单</p>
<p align="left">床号：B06 姓名：王小晓 性别：女 年龄：32 岁 住院号：489632 核对护士：李燕 长嘱 日期2017-11-01</p>
<table width="762" height="296"  border="1"  cellspacing="0" bordercolor="#666666">
    <tr>
        <td width="17" height="23"><div align="center">组</div></td>
        <td width="137"><div align="center">药名</div></td>
        <td width="43"><div align="center">剂量</div></td>
        <td width="60"><div align="center">频次</div></td>
        <td width="248"><div align="center">用法</div></td>
        <td width="77"><div align="center">执行时间</div></td>
        <td width="70"><div align="center">签名</div></td>
        <td width="76"><div align="center">核对签名</div></td>
    </tr>
    <tr>
        <td height="46" rowspan="2"><div align="center">1</div></td>
        <td rowspan="2"><div align="center">马来酸氯苯那敏片</div></td>
        <td rowspan="2"><div align="center">1片</div></td>
        <td rowspan="2"><div align="center">每日3次</div></td>
        <td rowspan="2"><div align="center">阿凡达分</div></td>
        <td rowspan="2"><div align="center"></div></td>
        <td height="20"><div align="center"></div></td>
        <td rowspan="2"><div align="center"></div></td>
    </tr>
    <tr>
        <td height="20"><div align="center"></div></td>
    </tr>
    <tr>
        <td height="41"><div align="center">2</div></td>
        <td><div align="center">醋酸泼尼松片</div></td>
        <td><div align="center">6片</div></td>
        <td><div align="center">每日3次</div></td>
        <td>发达省份发射点发啊的撒法撒旦法</td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
    </tr>
    <tr>
        <td height="44"><div align="center">3</div></td>
        <td><div align="center">醋酸泼尼松片</div></td>
        <td><div align="center">6片</div></td>
        <td><div align="center">每日3次</div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
    </tr>
    <tr>
        <td height="40"><div align="center">3</div></td>
        <td><div align="center">醋酸泼尼松片</div></td>
        <td><div align="center">16片</div></td>
        <td><div align="center">每日3次</div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
    </tr>
    <tr>
        <td height="40"><div align="center">3</div></td>
        <td><div align="center">醋酸泼尼松片</div></td>
        <td><div align="center">6片</div></td>
        <td><div align="center">每日3次</div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
    </tr>
    <tr>
        <td height="40"><div align="center">3</div></td>
        <td><div align="center">醋酸泼尼松片</div></td>
        <td><div align="center">6片</div></td>
        <td><div align="center">每日3次</div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
        <td><div align="center"></div></td>
    </tr>
</table>
<p align="left">打印日期：2017-10-31             结束时间：                                       签名：</p>
</body>
</html>
