{{template "header_top" .}}
    <div class="admin">
        <!--<div class="am-g">-->
        <!-- ========== Left Sidebar Start ========== -->
        <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
        <!-- sidebar start -->
        {{template "header_side" .}}
        <!-- sidebar end -->

        <!--</div>
			</div>
		</div>-->
        <!-- ========== Left Sidebar end ========== -->

        <div class="content-page type2" data-index="1" style="margin-top:10px">
            <div class="content ">
                <div class="am-g">
                    <div class="doctorSplit">
                        <div class="s-btn">
                            <!-- <img src="../dist/images/admin_pc/icon22.png" alt=""> -->
                        </div>
                        <div class="user-warp">
                            <div class="tit-bar">
                                <input type="checkbox" id="all-btn" checked> <label for="all-btn">全部患者</label>
                            </div>

                            <div class="user-bar">
                                <div class="tit">
                                    <div class="l">
                                        床号
                                    </div>
                                    <div class="r">
                                        姓名
                                    </div>
                                </div>
                                <div class="user-list">
                                    <ul>
                                        {{range .Patients}}
                                        <li>
                                            <div class="l">
                                                <input class="user-list-input" data-pid="{{.VAA01}}" type="checkbox" checked><label>{{.BCQ04}}</label>
                                            </div>
                                            <div class="r">
                                                {{.VAA05}}
                                            </div>
                                        </li>
                                        {{end}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="hd-bar">
                            <div class="date-box fl">
                                <div class="sel-date-box  br1">
                                    <span>
                                        时间：
                                    </span>

                                    <div class="input-box">
                                        <input type="radio" id="today-radio" name="date" checked>
                                        <label for="today-radio">今天</label>
                                    </div>
                                    <div class="input-box">
                                        <input type="radio" id="tomorrow-radio" name="date">
                                        <label for="tomorrow-radio">明日</label>
                                    </div>
                                    <div class="input-box type2">
                                        <input type="radio" id="select-radio" name="date">
                                        <input type="text" class="date-input">
                                    </div>
                                    <button type="button" class="search-btn">搜索</button> >
                                </div>
                                <div class="sel-filter-box">
                                    <div class="input-box">
                                        <span class="pd-20">长期/临时:</span>
                                        <div class="input-box">
                                            <input type="radio" id="longTerm-radio" name="group1">
                                            <label for="longTerm-radio">长期</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="radio" id="shortTerm-radio" name="group1">
                                            <label for="shortTerm-radio">临时</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="radio" id="allTerm-radio" name="group1" checked>
                                            <label for="allTerm-radio">全部</label>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="sel-filter-box">
                                    <div class="input-box">
                                        <span>打印类型：</span>
                                        <div class="input-box">
                                            <input type="radio" id="excution" name="group2" checked>
                                            <label for="excution">执行单</label>
                                        </div>
                                        <span style="font-size:14px;min-width: 10px;">(</span>
                                        <div class="input-box">
                                            <input type="checkbox" id="check2-1" name="group2-2" class="check-1">
                                            <label for="check2-1">输液单</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="checkbox" id="check2-2" name="group2-2" class="check-1">
                                            <label for="check2-2">口服单</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="checkbox" id="check2-3" name="group2-2" class="check-1">
                                            <label for="check2-3">注射单</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="checkbox" id="check2-4" name="group2-2" class="check-1">
                                            <label for="check2-4">治疗单</label>
                                        </div>
                                        <span style="font-size:14px; min-width: 10px;">)</span>
                                        <div class="input-box" style="margin-left: 20px">
                                            <input type="radio" id="label" name="group2">
                                            <label for="label">瓶签</label>
                                        </div>
                                        <span style="font-size:14px;min-width: 10px;">(</span>
                                        <div class="input-box">
                                            <input type="checkbox" id="check3-1" name="group3-1"  class="check-2">
                                            <label for="check3-1">输液标签</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="checkbox" id="check3-2" name="group3-2"  class="check-2">
                                            <label for="check3-2">检验标签</label>
                                        </div>
                                        <span style="font-size:14px;min-width: 10px;">)</span>
                                    </div>
                                </div>
                                <br>
                                <div class="sel-filter-box">
                                    <div class="input-box">
                                        <span >打印状态：</span>
                                        <div class="input-box">
                                            <input type="radio" id="nonPrint-radio" name="group3">
                                            <label for="nonPrint-radio">未打印</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="radio" id="printed-radio" name="group3">
                                            <label for="printed-radio">已打印</label>
                                        </div>
                                        <div class="input-box">
                                            <input type="radio" id="allPrint-radio" name="group3" checked>
                                            <label for="allPrint-radio">全部</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group fr">
                                <a class="btn type3">打印标签</a>
                                <!-- <a href="" class="btn type2">保存</a> -->
                            </div>
                        </div>
                        <div class="doctorSplit-box">
                            <div class="scroll-box">
                                <div class="warp-box">
                                    <table class="cont-table fx">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1">床号</th>
                                                <th class="th2">姓名</th>
                                                <th class="th3">执行时间</th>
                                                <th class="th4">医嘱项目</th>
                                                <th class="th5">剂量</th>
                                                <th class="th6">数量</th>
                                                <th class="th7">频次</th>
                                                <th class="th8">用法</th>
                                                <th class="th11">滴速(滴/分)</th>
                                                <th class="th9">长期/临时</th>
                                                <th class="th10">打印状态</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="cont-table">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1">床号</th>
                                                <th class="th2">姓名</th>
                                                <th class="th3">执行时间</th>
                                                <th class="th4">医嘱项目</th>
                                                <th class="th5">剂量</th>
                                                <th class="th6">数量</th>
                                                <th class="th7">频次</th>
                                                <th class="th8">用法</th>
                                                <th class="th11">滴速(滴/分)</th>
                                                <th class="th9">长期/临时</th>
                                                <th class="th10">打印状态</th>
                                            </tr>
                                        </thead>
                                        <tbody class="change-div">
                                        {{range .MAdvices}}
                                        <tr>
                                            <td>
                                                <div class="table-input-bar">
                                                    <input type="checkbox" data-mid="{{.Madid}}">
                                                    <label for="">{{.Bed}}</label>
                                                </div>
                                            </td>
                                            <td>
                                            {{.PatientName}}
                                            </td>
                                            <td>
                                            {{.ExexTime}}
                                            </td>
                                            <td>
                                            {{.Content}}
                                            </td>
                                            <td class="tc">
                                            {{.Dosage}}
                                            </td>
                                            <td class="tc">
                                            {{.Count}}
                                            </td>
                                            <td class="tc">{{.Times}}</td>
                                            <td class="tc">{{.Method}}</td>
                                            <td class="tc">{{.Speed}}</td>
                                            <td class="tc">
                                            {{if eq .TypeOf  1}} 长期 {{else}} 临时 {{end}}
                                            </td>
                                            <td class="td10">
                                                <span class="l"> {{.PrintState}}</span>
                                                <span class="r">序号{{.PrintOrdinal}}/{{.Times}}</span>
                                            </td>
                                        </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>
    </div>

    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

    <script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
    <!--框架js-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
    <!--//遮罩层退出框-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script>
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->

    <script src="/static/dist/js/lib/laydate/laydate.js"></script>
    <script src="/static/common.js"></script>

    <script type = "text/javascript">

        function getDate(diff)
        {
            var dt = new Date();
            dt.setDate(dt.getDate() + diff);

            return dt.getFullYear() + "-" +
                (dt.getMonth() + 1 ) + "-" + dt.getDate() ;
        }

        /**
         * 节流函数
         */
        var qo = { print:{values:[]}};

        function retriveQueryCriteria()
        {
            var executionList = {
                "check2-1": 2,  //输液单 2
                "check2-2": 0,  //口服单 0
                "check2-3": 1,  //注射单 1
                "check2-4": 3  //治疗单 3
            };

            var lableList = {
                "check3-1": 0,
                "check3-2": 1
            };

            qo.print.values = [];
            if(qo.print.type == "excution") {
                $(".check-1").each(function() {
                    if($(this).prop("checked")) {
                        qo.print.values.push(executionList[$(this).attr("id")]);
                    }
                });
            }else if(qo.print.type == "label") {
                $(".check-2").each(function() {
                    if($(this).prop("checked")) {
                        qo.print.values.push(lableList[$(this).attr("id")]);
                    }
                });
            }
        }


        function setDefaultValue()
        {
            $('#today-radio').attr("checked", true);
            qo.time = getDate(0);

            $('#allTerm-radio').attr("checked", true);
            qo.term = 0;

            $('#executionOrder').attr("checked", true);
            qo.print.type = "excution";

            $('#allPrint-radio').attr("checked", true);
            qo.print.status = '0';

            $('.date-input').attr("disabled",true);

            $(".check-1").prop("checked",true);
            $(".check-2").prop("checked",false);
        }
        $(document).ready(function () {            

            $("#all-btn").click(function(){
                $("div.user-list").find("input[type='checkbox']").attr("checked", 
                    $(this).attr('checked') === "checked" ? true: false);
            });

            //time
            $("div.sel-date-box").find("input[type='radio']").click(function(){
                var id = $(this).attr("id");
                if(id == "today-radio") {
                    qo.time = getDate(0);
                    $('.date-input').attr("disabled",true);
                }else if(id == "tomorrow-radio") {
                    qo.time = getDate(1);
                    $('.date-input').attr("disabled",true);

                }else if(id == "select-radio") {
                    $('.date-input').removeAttr("disabled");
                }
            });
            //term
            $('div.input-box').find("input[name='group1']").click(function() {
                var id = $(this).attr("id");
                if(id == "longTerm-radio") {
                    qo.term = 1;
                }else if(id == "shortTerm-radio") {
                    qo.term = 2;
                }else if(id == "allTerm-radio") {
                    qo.term = 0;
                }
            });
            //print type

            $('div.input-box').find("input[name='group2']").change(function() {
                var id = $(this).attr("id");
                if(id == "excution") {
                    qo.print.type = "excution";
                     if($(this).prop("checked")){
                        $(".check-1").prop("checked",true)
                        $(".check-2").prop("checked",false)
                    }else{
                        $(".check-1").prop("checked",false)
                        $(".check-2").prop("checked",true)
                    }
                }else if(id == "label") {
                    qo.print.type = "label";
                    if($(this).prop("checked")){
                        $(".check-2").prop("checked",true)
                        $(".check-1").prop("checked",false)
                    }else{
                        $(".check-2").prop("checked",false)
                        $(".check-1").prop("checked",true)
                    }
                }

            });

            //print status
            $('div.input-box').find("input[name='group3']").change(function() {
                var id = $(this).attr("id");
                if(id == "nonPrint-radio") {
                    qo.print.status = '2';
                }else if(id == "printed-radio") {
                    qo.print.status = '1';
                }else if(id == "allPrint-radio") {
                    qo.print.status = '0';
                }
            });

            $('.search-btn').click(function() {
                retriveQueryCriteria();

                if(qo.print.values.length == 0) {
                    if(qo.print.type == "excution")
                    {alert("请选择执行单类型");}
                    else if(qo.print.type == "label")
                        {alert("请选择瓶签类型");}
                    return ;
                }

                var inputViews = $('.user-list').find('.user-list-input')
                var pidArr = []
                for (var i = 0; i < inputViews.length; i ++) {
                    var view = inputViews[i]
                    if (view.checked) {
                        pidArr.push($(view).data('pid'))
                    }
                }
                var params = {}
                params['term'] = qo.term
                params['patients'] = pidArr.join(',')
                params['time'] = qo.time

                var print = {}
                print.status = qo.print.status
                print.type = qo.print.type
                print.value = qo.print.values.join(',')
                params['print'] = JSON.stringify(print)


                // $.ajax({
                //     type:'POST',
                //     url: 'pc/madvice/split/search',
                //     data: qo
                // });

                // console.log(params)

                $.post("/pc/madvice/split/search", params, function (json, status) {
                    if (json.result == 0) {
                        var resArr = json.datas;
                        var html = '';

                        for (var i = 0; i < resArr.length; i++) {
                            var typeStr = resArr[i].TypeOf == 1 ? "长期" : "临时"
                            html += "<tr>\n" +
                                    "<td>\n" +
                                    "<div class=\"table-input-bar\">\n" +
                                    "<input type=\"checkbox\" data-mid=\"resArr[i].Madid\">\n" +
                                    "<label for=\"\">"+resArr[i].Bed+"</label>\n" +
                                    "</div>\n" +
                                    "</td>\n" +
                                    "<td>\n" +
                                    +resArr[i].PatientName+"\n" +
                                    "</td>\n" +
                                    "<td>\n" +
                                    +resArr[i].ExexTime+"\n" +
                                    "</td>\n" +
                                    "<td>\n" +
                                    +resArr[i].Content+"\n" +
                                    "</td>\n" +
                                    "<td class=\"tc\">\n" +
                                    +resArr[i].Dosage+"\n" +
                                    "</td>\n" +
                                    "<td class=\"tc\">\n" +
                                    +resArr[i].Count+"\n" +
                                    "</td>\n" +
                                    "<td class=\"tc\">"+resArr[i].Times+"</td>\n" +
                                    "<td class=\"tc\">"+resArr[i].Method+"</td>\n" +
                                    "<td class=\"tc\">"+resArr[i].Speed+"</td>\n" +
                                    "<td class=\"tc\">\n" +
                                    +typeStr+"\n" +
                                    "</td>\n" +
                                    "<td class=\"td10\">\n" +
                                    "<span class=\"l\"> "+resArr[i].PrintState+"</span>\n" +
                                    "<span class=\"r\">序号"+resArr[i].PrintOrdinal+"/"+resArr[i].Times+"</span>\n" +
                                    "</td>\n" +
                                    "</tr>"
                        }
                        $(".change-div").html(html)
                    } else {
                        alert(json.errmsg)
                    }
                }, 'json');
            });

            setDefaultValue();
        });

        var nowFn = Date.now || function() {
            return new Date().getTime()
        }


        function throttle(func, wait, option) {
            var previous = 0, //之前的时间
                timeout, self, args, result;

            var later = function() {
                previous = nowFn();
                timeout = null;
                result = func.apply(self, args);
                !timeout && (self = args = null);
            }
            return function() {
                var now = nowFn();

                if (!previous && option.leading === false) previous = now;
                var diff = wait - (now - previous);

                args = arguments;
                self = this;
                if (diff <= 0) {
                    if (timeout) {
                        clearTimeout(timeout);
                        timeout = null;
                    }
                    result = func.apply(self, args);
                    previous = now;
                    !timeout && (self = args = null); //如果没有堆积的任务 则清空 self 和args
                } else if (!timeout && option.trailing !== false) {
                    timeout = setTimeout(later, diff)
                } else {
                    console.log('被抛弃了')
                }
                return result;

            }
        }
        $('#jky-menu').on('open.collapse.amui', function(e) {
            $(e.target).parents("li").addClass("jky-on")
        })
        $('#jky-menu').on('close.collapse.amui', function(e) {
            $(e.target).parents("li").removeClass("jky-on")
        })



        function toggleTar() {
            if ($('.top48').hasClass('small-type')) {
                $('.top48').removeClass('small-type')
                $('.jky_sidebar').removeClass('small-type')
            } else {
                $('.top48').addClass('small-type')
                $('.jky_sidebar').addClass('small-type')
            }
        }


        $('.s-btn').on('click', function() {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $('.user-warp').show();

            } else {
                $(this).addClass('active');

                $('.user-warp').hide();
            }
        })

        var nowDateObj = nowDate();

        function nowDate() {
            var res = {},
                nowD = new Date();
            res.date = nowD.getFullYear() + "-" + addZero(nowD.getMonth() + 1) + "-" + addZero(nowD.getDate());
            res.time = addZero(nowD.getHours()) + ":" + addZero(nowD.getMinutes())
            return res
        }

        function addZero(i) {
            if (i < 10) {
                return "0" + i;
            } else {
                return i;
            }
        }
        laydate.render({
            elem: '.date-input', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                qo.time = value;
                console.log(value); //得到日期生成的值，如：2017-08-18
                //console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                //console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });

        $(window).on('resize', throttle(resizeFn, 500, {
            leading: false, //配置第一次不立即执行 true 第一次执行 false 第一次不执行
            trailing: true // 是否抛弃 还是 往后堆积
        }))

        var h = $('.doctorSplit').height()
        resizeFn()

        function resizeFn() {
            h = $('.doctorSplit').height()
            var $el = $('.hd-bar');
            elH = parseFloat($el.css('height'))
            $('.doctorSplit-box').height(h - elH - 20)
            console.log(elH, h)
        }
        var hxScroll = 0,
            zxScroll = 0;
        $('.scroll-box').on('scroll', function() {
            var sl = this.scrollLeft,
                st = this.scrollTop
            if (sl != hxScroll) {
                console.log('横向滚动')
                hxScroll = sl
            }
            if (st != zxScroll) {
                console.log('纵向滚动')
                $('.cont-table.fx').css('top', st)
                zxScroll = st
            }
        })


        $('.cont-table').on('click', 'tr', function() {
            var $checkbox = $(this).find('input[type=checkbox]')
            if ($checkbox.is(':checked')) {
                $(this).removeClass("active")
                $checkbox.prop("checked", false)
            } else {
                $(this).addClass("active")
                $checkbox.prop("checked", true)
            }
        })


        
        $("#radio2-1").on("click",function(){
            if($(this).prop("checked")){
                $(".check-1").prop("checked",true)
                $(".check-2").prop("checked",false)
            }else{
                $(".check-1").prop("checked",false)
                $(".check-2").prop("checked",true)

            }
        })
        $("#radio2-2").on("click",function(){
            if($(this).prop("checked")){
                $(".check-2").prop("checked",true)
                $(".check-1").prop("checked",false)

            }else{
                $(".check-2").prop("checked",false)
                $(".check-1").prop("checked",true)

            }
        })

        $('.type3').on('click',function () {
            var inputs = $('.warp-box').find('input[type=checkbox]')
            var objArr = []
            for (var i = 0; i < inputs.length; i ++) {
                if (inputs[i].checked) {
                    var inputV = inputs[i]
                    objArr.push($(inputV).data('mid'))
                }
            }
            console.log("打印(医嘱ID):",objArr)
        })

    </script>
</body>

</html>
