{{template "header_top" .}}

    <div class="am-topbar am-topbar-fixed-top top48">
        <div class="am-topbar-left am-hide-sm-only"></div>
        <div class="contain">
            <div class="jky-class-bar">
            </div>
            <div class="jky-tab-hd">
                <ul>
                    <li class="active"><a href="/pc/madvice/search">医嘱查询</a></li>
                    <li><a href="/pc/madvice/exec/state">执行明细</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="admin">
        <!--<div class="am-g">-->
        <!-- sidebar start -->
        {{template "header_side" .}}


        <!-- sidebar end -->

        <!-- ========== Left Sidebar end ========== -->




        <div class="content-page none" data-index="1" style="margin-top: 88px;"></div>


        <div class="content-page type2" data-index="2" style="margin-top: 88px;">
            <div class="content ">
                <div class="am-g">
                    <div class="doctorSearch">
                        <div class="s-btn">
                            <!-- <img src="../dist/images/admin_pc/icon22.png" alt=""> -->
                        </div>
                        <div class="user-warp">
                            <div class="tit-bar">
                                <input type="checkbox" id="all-btn" checked> <label for="all-btn">全部患者</label>
                            </div>

                            <div class="user-bar">
                                <div class="tit">
                                    <div class="l">
                                        床号
                                    </div>
                                    <div class="r">
                                        姓名
                                    </div>
                                </div>
                                <div class="user-list">
                                    <ul>
                                        {{range .Patients}}
                                        <li data-id="{{.VAA01}}">
                                            <div class="l">
                                                <input type="checkbox" checked><label>{{.BCQ04}}</label>
                                            </div>
                                            <div class="r">
                                                {{.VAA05}}
                                            </div>
                                        </li>
                                        {{end}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="hd-bar">
                            <div class="sel-box">
                                <div class="sel-filter-box">
                                    <div class="input-box">
                                        <label for="">医嘱类别:</label>
                                        <select class="adviceType" id="sel1">
                                            <option value="0">全部</option>
                                            <option value="N">护理</option>
                                            <option value="T">治疗</option>
                                            <option value="E">检查</option>
                                            <option value="L">检验</option>
                                            <option value="1">西药</option>
                                            <option value="2">中成药</option>
                                            <option value="3">中草药</option>
                                            <option value="4">卫生材料</option>
                                            <option value="7">体检</option>
                                            <option value="8">方剂</option>
                                            <option value="9">方案</option>
                                            <option value="A">麻醉</option>
                                            <option value="B">输血</option>
                                            <option value="P">病理</option>
                                            <option value="S">手术</option>
                                            <option value="O">输氧</option>
                                            <option value="D">营养</option>
                                            <option value="M">材料</option>
                                            <option value="Z">其它</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <label for="">长期/临时:</label>
                                        <select  id="sel2">
                                                <option selected="" value="0">全部</option>
                                                <option value="1">长期</option>
                                                <option value="2">临时</option>
                                            </select>
                                    </div>
                                    <div class="input-box">
                                        <label for="">医嘱状态:</label>
                                        <select  id="sel3">
                                                <option selected="" value="0">全部</option>
                                                <option value="3">未停</option>
                                                <option value="8">已停</option>
                                                <option value="4">已作废</option>
                                            </select>
                                    </div>

                                </div>
                                <br>
                                <div class="sel-date-box timeSel">
                                    <span >时间：</span>
                                    <div class="input-box">
                                        <input type="radio" id="all-radio" name="date" checked data-type="all">
                                        <label for="all-radio">全部</label>
                                    </div>
                                    <div class="input-box">
                                        <input type="radio" id="today-radio" name="date"  data-type="today">
                                        <label for="today-radio">当天</label>
                                    </div>

                                    <div class="input-box">
                                        <input type="radio" id="week-radio" name="date"  data-type="week">
                                        <label for="week-radio">近一周</label>
                                    </div>
                                    <div class="input-box type2">
                                        <input type="radio" id="today-radio" name="date"  data-type="timeblock">
                                        <input type="text" class="date-input" id="stime">
                                        <span>-</span>
                                        <input type="text" class="date-input2" id="etime">
                                    </div>
                                    <span class="search-btn">
                                        搜索
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="doctorSearch-box">
                            <div class="scroll-box">
                                <div class="warp-box">
                                    <table class="cont-table fx">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1">床号</th>
                                                <th class="th2">姓名</th>
                                                <th class="th3">医嘱类别</th>
                                                <th class="th4">医嘱项目</th>
                                                <th class="th5">剂量</th>
                                                <th class="th6">频次</th>
                                                <th class="th7">用法</th>
                                                <th class="th15">滴速(滴/分)</th>
                                                <th class="th8">长期/临时</th>
                                                <th class="th16">医生嘱托</th>
                                                <th class="th9">医生</th>
                                                <th class="th10">开始时间</th>
                                                <th class="th11">停止／撤销时间</th>
                                                <th class="th12">医嘱状态</th>
                                                <th class="th13">护士签名</th>
                                                <th class="th14">执行时间</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="cont-table">
                                        <thead class="table-hd">
                                            <tr>
                                                <th class="th1">床号</th>
                                                <th class="th2">姓名</th>
                                                <th class="th3">医嘱类别</th>
                                                <th class="th4">医嘱项目</th>
                                                <th class="th5">剂量</th>
                                                <th class="th6">频次</th>
                                                <th class="th7">用法</th>
                                                <th class="th15">滴速(滴/分)</th>
                                                <th class="th8">长期/临时</th>
                                                <th class="th16">医生嘱托</th>

                                                <th class="th9">医生</th>
                                                <th class="th10">开始时间</th>
                                                <th class="th11">停止／撤销时间</th>
                                                <th class="th12">医嘱状态</th>
                                                <th class="th13">护士签名</th>
                                                <th class="th14">执行时间</th>
                                            </tr>
                                        </thead>
                                        <tbody class="change-div">
                                        {{range .MAdvices}}
                                            <tr>
                                                <td>
                                                    {{.Bed}}
                                                </td>
                                                <td>
                                                    {{.PatientName}}
                                                </td>
                                                <td class="tc">
                                                    {{.Category}}
                                                </td>
                                                <td>
                                                    {{.Content}}
                                                </td>
                                                <td class="tc">
                                                    {{.Dosage}}
                                                </td>
                                                <td class="tc">{{.Count}}</td>
                                                <td class="tc">
                                                    {{.Method}}
                                                </td>
                                                <td class="tc">
                                                    {{.Speed}}
                                                </td>
                                                <td class="tc">{{if eq .TypeOf  1}} 长期 {{else}} 临时 {{end}}</td>
                                                <td class="tc">
                                                    {{.Entrust}}
                                                </td>
                                                <td class="tc">
                                                    {{.Physician}}
                                                </td>
                                                <td class="tc">
                                                    {{.StartTime}}
                                                </td>
                                                <td class="tc">{{.EndTime}}</td>
                                                <td class="tc">
                                                    {{if eq .Status 3}} 未停 {{else if eq .Status 4}} 已作废 {{else}} 已停 {{end}}
                                                </td>
                                                <td class="tc">
                                                    {{.Nurse}}
                                                </td>
                                                <td class="tc">
                                                    {{.CheckTime}}
                                                </td>
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>

    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

    <script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
    <!--框架js-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
    <!--//遮罩层退出框-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script>
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->

    <script src="/static/dist/js/lib/laydate/laydate.js"></script>
    <script src="/static/common.js"></script>

    <script>



        function toggleTar() {
            if ($('.top48').hasClass('small-type')) {
                $('.top48').removeClass('small-type')
                $('.jky_sidebar').removeClass('small-type')
            } else {
                $('.top48').addClass('small-type')
                $('.jky_sidebar').addClass('small-type')
            }

        }


        $('.s-btn').on('click', function() {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $('.user-warp').show();

            } else {
                $(this).addClass('active');

                $('.user-warp').hide();
            }




        })

        var nowDateObj = nowDate();

        function nowDate() {
            var res = {},
                nowD = new Date();
            res.date = nowD.getFullYear() + "-" + addZero(nowD.getMonth() + 1) + "-" + addZero(nowD.getDate());
            res.time = addZero(nowD.getHours()) + ":" + addZero(nowD.getMinutes())
            return res
        }

        function addZero(i) {
            if (i < 10) {
                return "0" + i;
            } else {
                return i;
            }
        }
        laydate.render({
            elem: '.date-input', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
        laydate.render({
            elem: '.date-input2', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });

        // setTimeout(function(){
        // $('.time-input').val(nowDateObj.time)
        // },0)


        $(window).on('resize', throttle(resizeFn, 500, {
            leading: false, //配置第一次不立即执行 true 第一次执行 false 第一次不执行
            trailing: true // 是否抛弃 还是 往后堆积
        }))

        var h = $('.doctorSearch').height()
        resizeFn()

        function resizeFn() {
            h = $('.doctorSearch').height()
            var $el = $('.hd-bar');
            elH = parseFloat($el.css('height'))
            $('.scroll-box').height(h - elH - 20)
            console.log(elH, h)
        }
        var hxScroll = 0,
            zxScroll = 0;
        $('.scroll-box').on('scroll', function() {
            var sl = this.scrollLeft,
                st = this.scrollTop
            if (sl != hxScroll) {
                console.log('横向滚动')
                hxScroll = sl
            }
            if (st != zxScroll) {
                console.log('纵向滚动')
                $('.cont-table.fx').css('top', st)
                zxScroll = st
            }
        })


        //全选反选
        $("#all-btn").on("click", function () {
            if($(this).prop("checked")){
                $(".user-bar").find("input[type=checkbox]").prop("checked",true);
            }else{
                $(".user-bar").find("input[type=checkbox]").prop("checked",false);
            }
        })
        $("body").on("click",".user-bar input[type=checkbox]",function(){
            var checklist = $(".user-bar input[type=checkbox]");
            var len = checklist.length,sum=0;
            checklist.each(function(i,el){
                if($(el).prop("checked")){
                    sum++;
                }
            })
            if(len == sum){
                $("#all-btn").prop("checked",true)
            }else{
                $("#all-btn").prop("checked",false)
            }

        })

        $('.search-btn').on('click',function () {
            var userList = [],res={};
            var checkedEl=$(".user-list").find("input[type=checkbox]:checked")
            checkedEl.each(function(i,el){
                var val = $(el).parents("li").data("id")
                if(val){
                    userList.push(val)
                }
            })

            res["patients"] =  userList.join(",")
            res["category"] = $("#sel1").val()
            res["type"] = $("#sel2").val()
            res["status"] = $("#sel3").val()
            res["did"] = {{.Userinfo.DepartmentID}}

            var typeStr = $(".timeSel").find("input[type=radio]:checked").data("type")
            var todayDate = fromatDate().date;
            var todayTimeStamp = (new Date(todayDate+" 00:00:00")).getTime()
            var weekTimeStamp = todayTimeStamp - (24*60*60*1000)*6
            var weekDate = fromatDate(weekTimeStamp).date

            switch (typeStr){
                case "all":
                    res["starttime"] = "all"
                    res["endtime"] = "all"
                    break;
                case "today":
                    res["starttime"] = todayDate+" 00:00:00"
                    res["endtime"] = todayDate+" 23:59:59"
                    break;
                case "week":
                    res["starttime"] = weekDate+" 00:00:00"
                    res["endtime"] = todayDate+" 23:59:59"
                    break;
                case "timeblock":
                    res["starttime"] = $.trim($("#stime").val())+" 00:00:00"
                    res["endtime"] = $.trim(todayDate)+" 23:59:59"
                    break;
                case "default":
                    console.log("no type")
            }
            // console.log(res)

            $.post("/pc/madvice/search/api", res, function (json, status) {
                if (json.result == 0) {
                    var resArr = json.datas;
                    var html = '';

                    for (var i = 0; i < resArr.length; i++) {
                        var obj = resArr[i]
                        var typeString = obj.TypeOf == 1 ? "长期" : "临时"
                        var statusStr = obj.Status == 3 ? "未停" : obj.Status == 4 ? "已作废" : "已停"
                        console.log(obj.Entrust,obj.Nurse)

                        html += "<tr>\n" +
                                "<td>\n" +
                                obj.Bed+"\n" +
                                "</td>\n" +
                                "<td>\n" +
                                obj.PatientName+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.Category+"\n" +
                                "</td>\n" +
                                "<td>\n" +
                                obj.Content+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.Dosage+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">"+obj.Count+"</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.Method+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.Speed+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">"+typeString+"</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.Entrust+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.Physician+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.StartTime+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">"+obj.EndTime+"</td>\n" +
                                "<td class=\"tc\">\n" +
                                statusStr+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.Nurse+"\n" +
                                "</td>\n" +
                                "<td class=\"tc\">\n" +
                                obj.CheckTime+"\n" +
                                "</td>\n" +
                                "</tr>"
                    }
                    $(".change-div").html(html)
                } else {
                    alert(json.errmsg)
                }
            }, 'json');

        })

        $(".user-bar").on("click","li",function(e){
            var eTagName=$(e.target)[0].tagName
            var $check = $(this).find("input[type=checkbox]")
            if(eTagName.toLowerCase() != "input"){

                var isCheck = $check.prop("checked")
                $check.prop("checked",!isCheck)

                var checklist = $(".user-bar input[type=checkbox]");
                var len = checklist.length,sum=0;
                checklist.each(function(i,el){
                    if($(el).prop("checked")){
                        sum++;
                    }
                })
                if(len == sum){
                    $("#all-btn").prop("checked",true)
                }else{
                    $("#all-btn").prop("checked",false)
                }

            }
        })
    </script>
</body>

</html>
