{{template "header_top" .}}

<div class="am-topbar am-topbar-fixed-top top48">
    <div class="am-topbar-left am-hide-sm-only"></div>
    <div class="contain">
        <div class="jky-class-bar">
        </div>
        <div class="jky-tab-hd">
            <ul>
                <li ><a href="/pc/madvice/search">医嘱查询</a></li>
                <li class="active"><a href="/pc/madvice/exec/state">执行明细</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="admin">
        <!--<div class="am-g">-->
        <!-- ========== Left Sidebar Start ========== -->
        <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
        <!-- sidebar start -->
        {{template "header_side" .}}
        <!-- sidebar end -->

        <!--</div>
			</div>
		</div>-->
        <!-- ========== Left Sidebar end ========== -->


        <div class="content-page type2" data-index="1" style="margin-top: 88px;">
            <div class="content ">
                <div class="am-g">
                    <div class="doctorSearch2">
                        <div class="s-btn">
                            <!-- <img src="../dist/images/admin_pc/icon22.png" alt=""> -->
                        </div>
                        <div class="user-warp">
                            <div class="tit-bar">
                                <input type="checkbox" id="all-btn"> <label for="all-btn">全部患者</label>
                            </div>

                            <div class="user-bar">
                                <div class="tit">
                                    <div class="l">
                                        床号
                                    </div>
                                    <div class="r">
                                        姓名
                                    </div>
                                </div>
                                <div class="user-list">
                                    <ul>
                                        {{range .Patients}}
                                        <li data-id="{{.Vid}}">
                                            <div class="l">
                                                <input type="checkbox"><label>{{.Bed}}</label>
                                            </div>
                                            <div class="r">
                                                {{.PName}}
                                            </div>
                                        </li>
                                        {{end}}
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="hd-bar">
                            <div class="sel-box">
                                <div class="sel-filter-box">
                                    <div class="input-box">
                                        <label for="">医嘱类别:</label>
                                        <select class="adviceType" id="sel1">
                                            <option value="0">全部</option>
                                            <option value="N">护理</option>
                                            <option value="T">治疗</option>
                                            <option value="E">检查</option>
                                            <option value="L">检验</option>
                                            <option value="1">西药</option>
                                            <option value="2">中成药</option>
                                            <option value="3">中草药</option>
                                            <option value="4">卫生材料</option>
                                            <option value="7">体检</option>
                                            <option value="8">方剂</option>
                                            <option value="9">方案</option>
                                            <option value="A">麻醉</option>
                                            <option value="B">输血</option>
                                            <option value="P">病理</option>
                                            <option value="S">手术</option>
                                            <option value="O">输氧</option>
                                            <option value="D">营养</option>
                                            <option value="M">材料</option>
                                            <option value="Z">其它</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <label for="">长期/临时:</label>
                                        <select  id="sel2" class="advicePeriod">
                                                <option selected="" value="0">全部</option>
                                                <option value="1">长期</option>
                                                <option value="2">临时</option>
                                            </select>
                                    </div>
                                    <div class="input-box">
                                        <label for="">医嘱执行状态:</label>
                                        <select id="sel3" class="adviceState">
                                                <option value="0">全部</option>
                                                <option selected="true" value="1">未执行</option>
                                                <option value="2">正在执行</option>
                                                <option value="3">已结束</option>
                                            </select>
                                    </div>
                                </div>
                                <br>
                                <div class="sel-date-box timeSel">
                                    <span >执行时间：</span>
                                    <div class="input-box">
                                        <input type="radio" id="all-radio" name="date" data-type="all">
                                        <label for="all-radio">全部</label>
                                    </div>
                                    <div class="input-box">
                                        <input type="radio" id="today-radio" name="date" data-type="today" checked>
                                        <label for="today-radio">当天</label>
                                    </div>

                                    <div class="input-box">
                                        <input type="radio" id="week-radio" name="date" data-type="week">
                                        <label for="week-radio">近一周</label>
                                    </div>
                                    <div class="input-box type2">
                                        <input type="radio" id="today-radio" name="date"data-type="timeblock">
                                        <input type="text" class="date-input" id="stime">
                                        <span>-</span>
                                        <input type="text" class="date-input2" id="etime">
                                    </div>

                                    <span class="search-btn">
                                        搜索
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="doctorSearch-box">
                            <div class="scroll-box">
                                <div class="warp-box">
                                    <div class="warp-table-box">
                                        <table class="cont-table fx">
                                            <thead class="table-hd">
                                                <tr>
                                                    <th class="th1">床号</th>
                                                    <th class="th2">姓名</th>
                                                    <th class="th3">医嘱类别</th>
                                                    <th class="th4">医嘱项目</th>
                                                    <th class="th5">剂量</th>
                                                    <th class="th6">频次</th>
                                                    <th class="th7">用法</th>
                                                    <th class="th8">长期/临时</th>
                                                    <th class="th9">首次执行时间</th>
                                                    {{/*<th class="th10">护士签名</th>*/}}
                                                    <th class="th11">执行状态</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <table class="cont-table">
                                            <thead class="table-hd">
                                                <tr>
                                                    <th class="th1">床号</th>
                                                    <th class="th2">姓名</th>
                                                    <th class="th3">医嘱类别</th>
                                                    <th class="th4">医嘱项目</th>
                                                    <th class="th5">剂量</th>
                                                    <th class="th6">频次</th>
                                                    <th class="th7">用法</th>
                                                    <th class="th8">长期/临时</th>
                                                    <th class="th9">首次执行时间</th>
                                                    {{/*<th class="th10">护士签名</th>*/}}
                                                    <th class="th11">执行状态</th>
                                                </tr>
                                            </thead>
                                            <tbody class="change-div">
                                            {{/*{{range .MAdvices}}*/}}
                                                {{/*<tr class="mad-select" data-gid="{{.Gid}}" data-ext="{{.ExDay}}" data-exc="{{.ExCycle}}">*/}}
                                                    {{/*<td>{{.Bed}}</td>*/}}
                                                    {{/*<td>{{.PName}}</td>*/}}
                                                    {{/*<td class="tc">{{.Category}}</td>*/}}
                                                    {{/*<td class="yz-item">*/}}
                                                    {{/*{{range .Contents}}*/}}
                                                        {{/*<p>{{.Content}}</p>*/}}
                                                    {{/*{{end}}*/}}
                                                    {{/*</td>*/}}
                                                    {{/*<td class="yz-item">*/}}
                                                    {{/*{{range .Contents}}*/}}
                                                        {{/*<p>{{.Dosage}}</p>*/}}
                                                    {{/*{{end}}*/}}
                                                    {{/*</td>*/}}
                                                    {{/*<td class="tc">{{.Frequency}}</td>*/}}
                                                    {{/*<td class="tc">{{.Method}}</td>*/}}
                                                    {{/*<td class="tc">{{.TypeOf}}</td>*/}}
                                                    {{/*<td class="tc">{{.StDay}}</td>*/}}
                                                    {{/*<td class="tc">{{.Sender}}</td>*/}}
                                                    {{/*<td class="tc td11">{{.ExStatus}}</td>*/}}
                                                {{/*</tr>*/}}
                                            {{/*{{end}}*/}}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="r-box">
                                        <div class="r-tit">
                                            医嘱执行记录
                                        </div>
                                        <ul class="list-data">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



    </div>

    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

    <script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
    <!--框架js-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>
    <!--//遮罩层退出框-->
    <script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/blockUI.js"></script>
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/echarts.min.js" ></script>-->
    <!--<script type="text/javascript" src="../dist/js/lib/amazeui_tmplate/charts/indexChart.js" ></script>-->

    <script src="/static/dist/js/lib/laydate/laydate.js"></script>
    <script src="/static/common.js"></script>

    <script>
        /**
         * 节流函数
         */
        var nowFn = Date.now || function() {
            return new Date().getTime()
        }


        function throttle(func, wait, option) {
            var previous = 0, //之前的时间
                timeout, self, args, result;

            var later = function() {
                previous = nowFn();
                timeout = null;
                result = func.apply(self, args);
                !timeout && (self = args = null);
            }
            return function() {
                var now = nowFn();

                if (!previous && option.leading === false) previous = now;
                var diff = wait - (now - previous);

                args = arguments;
                self = this;
                if (diff <= 0) {
                    if (timeout) {
                        clearTimeout(timeout);
                        timeout = null;
                    }
                    result = func.apply(self, args);
                    previous = now;
                    !timeout && (self = args = null); //如果没有堆积的任务 则清空 self 和args
                } else if (!timeout && option.trailing !== false) {
                    timeout = setTimeout(later, diff)
                } else {
                    console.log('被抛弃了')
                }
                return result;

            }
        }
        $('#jky-menu').on('open.collapse.amui', function(e) {
            $(e.target).parents("li").addClass("jky-on")
        })
        $('#jky-menu').on('close.collapse.amui', function(e) {
            $(e.target).parents("li").removeClass("jky-on")
        })



        function toggleTar() {
            if ($('.top48').hasClass('small-type')) {
                $('.top48').removeClass('small-type')
                $('.jky_sidebar').removeClass('small-type')
            } else {
                $('.top48').addClass('small-type')
                $('.jky_sidebar').addClass('small-type')
            }

        }


        $('.s-btn').on('click', function() {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $('.user-warp').show();

            } else {
                $(this).addClass('active');

                $('.user-warp').hide();
            }
        })

        var nowDateObj = nowDate();

        function nowDate() {
            var res = {},
                nowD = new Date();
            res.date = nowD.getFullYear() + "-" + addZero(nowD.getMonth() + 1) + "-" + addZero(nowD.getDate());
            res.time = addZero(nowD.getHours()) + ":" + addZero(nowD.getMinutes())
            return res
        }

        function addZero(i) {
            if (i < 10) {
                return "0" + i;
            } else {
                return i;
            }
        }
        laydate.render({
            elem: '.date-input', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
        laydate.render({
            elem: '.date-input2', //指定元素
            showBottom: false,
            value: nowDateObj.date,
            done: function(value, date, endDate) {
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });

        // setTimeout(function(){
        // $('.time-input').val(nowDateObj.time)
        // },0)


        $(window).on('resize', throttle(resizeFn, 500, {
            leading: false, //配置第一次不立即执行 true 第一次执行 false 第一次不执行
            trailing: true // 是否抛弃 还是 往后堆积
        }))

        var h = $('.doctorSearch2').height()
        resizeFn(true)

        function resizeFn(once) {
            if (!once) {
                h = $('.doctorSearch2').height()
            }

            var $el = $('.hd-bar');
            elH = parseFloat($el.css('height'))
            $('.scroll-box').height(h - elH - 20)
            console.log(elH, h)
        }
        var hxScroll = 0,
            zxScroll = 0;
        $('.warp-table-box').on('scroll', function() {
            var sl = this.scrollLeft,
                st = this.scrollTop
            if (sl != hxScroll) {
                console.log('横向滚动')
                hxScroll = sl
            }
            if (st != zxScroll) {
                console.log('纵向滚动')
                $('.cont-table.fx').css('top', st)
                zxScroll = st
            }
        })


        $('.warp-table-box').on('click', 'tbody tr', function() {
            $('.warp-table-box').find('.active').removeClass('active')
            $(this).addClass('active')
            const mid = $(this).data("gid")
            const extime = $(this).data("ext")
            const excycle = $(this).data("exc")

            $.get("/pc/madvice/exec/detail", {
                "madid":mid,
                "extime":extime,
                "excycle":excycle
            }, function (json, status) {
                if (json.result == 0) {
                    var resArr = json.datas;
                    var html = '';
                    for (var i = 0; i < resArr.length; i++) {
                        var obj = resArr[i]
                        html += "<li>\n" +
                                "<div class=\"block1\">"+obj.exectime+" </div>\n" +
                                "<div class=\"block2\">"+obj.process+"</div>\n" +
                                "<div class=\"block3\">"+obj.nursename+"</div>\n" +
                                "</li>"
                    }
                    $(".list-data").html(html)
                } else {
                    alert(json.errmsg)
                }
            }, 'json');
        })

        // $('.subMit').click(function(){
        //     // 动作触发后执行的代码!!
        //     var res ={}
        //     res["patient_id"]=$.trim( $tr.data("pid")) || ""
        // });


        //全选反选
        $("#all-btn").on("click", function () {
            if($(this).prop("checked")){
                $(".user-bar").find("input[type=checkbox]").prop("checked",true);
            }else{
                $(".user-bar").find("input[type=checkbox]").prop("checked",false);
            }
        })
        $("body").on("click",".user-bar input[type=checkbox]",function(){
            var checklist = $(".user-bar input[type=checkbox]");
            var len = checklist.length,sum=0;
            checklist.each(function(i,el){
                if($(el).prop("checked")){
                    sum++;
                }
            })
            if(len == sum){
                $("#all-btn").prop("checked",true)
            }else{
                $("#all-btn").prop("checked",false)
            }
        })


        $(".user-bar").on("click","li",function(e){
            var eTagName=$(e.target)[0].tagName
            var $check = $(this).find("input[type=checkbox]")
            if(eTagName.toLowerCase() != "input"){

                var isCheck = $check.prop("checked")
                $check.prop("checked",!isCheck)

                var checklist = $(".user-bar input[type=checkbox]");
                var len = checklist.length,sum=0;
                checklist.each(function(i,el){
                    if($(el).prop("checked")){
                        sum++;
                    }
                })
                if(len == sum){
                    $("#all-btn").prop("checked",true)
                }else{
                    $("#all-btn").prop("checked",false)
                }
            }
        })


        $('.search-btn').on('click',function () {
            var userList = [],res={};
            var checkedEl=$(".user-list").find("input[type=checkbox]:checked")
            checkedEl.each(function(i,el){
                var val = $(el).parents("li").data("id")
                if(val){
                    userList.push(val)
                }
            })
            if (userList.length == 0) {
                alert("请选择患者再进行搜索")
                return
            }

            res["patients"] =  userList.join(",")
            res["category"] = $("#sel1").val()
            res["type"] = $("#sel2").val()
            res["state"] = $("#sel3").val()
            res["did"] = {{.Userinfo.DepartmentID}}

            var typeStr = $(".timeSel").find("input[type=radio]:checked").data("type")
            var todayDate = fromatDate().date;
            var todayTimeStamp = (new Date(todayDate+" 00:00:00")).getTime()
            var weekTimeStamp = todayTimeStamp - (24*60*60*1000)*6
            var weekDate = fromatDate(weekTimeStamp).date

            switch (typeStr){
                case "all":
                    res["starttime"] = "all"
                    res["endtime"] = "all"
                    break;
                case "today":
                    res["starttime"] = todayDate+" 00:00:00"
                    res["endtime"] = todayDate+" 23:59:59"
                    break;
                case "week":
                    res["starttime"] = weekDate+" 00:00:00"
                    res["endtime"] = todayDate+" 23:59:59"
                    break;
                case "timeblock":
                    res["starttime"] = $.trim($("#stime").val())+" 00:00:00"
                    res["endtime"] = $.trim($("#etime").val())+" 23:59:59"
                    break;
                case "default":
                    console.log("no type")
            }
            // console.log(res)

            $.post("/pc/madvice/exec/search", res, function (json, status) {
                if (json.result == 0) {
                    var resArr = json.datas;
                    var html = '';

                    for (var i = 0; i < resArr.length; i++) {
                        var obj = resArr[i]
                        html += "<tr class=\"mad-select\" data-gid=\""+obj.gid+"\" data-ext=\""+obj.exTime+"\" data-exc=\""+obj.exCycle+"\">\n" +
                                "<td>"+obj.bed+"</td>\n" +
                                "<td>"+obj.pName+"</td>\n" +
                                "<td class=\"tc\">"+obj.category+"</td>\n" +
                                "<td class=\"yz-item\">\n"

                        for (var idx = 0; idx < obj.contents.length; idx ++) {
                            const temp = obj.contents[idx]
                            html += "<p>"+temp.content+"</p>\n"
                        }

                        html += "</td>\n" +
                                "<td class=\"yz-item\">\n"

                        for (var idx = 0; idx < obj.contents.length; idx ++) {
                            const temp = obj.contents[idx]
                            html += "<p>"+temp.dosage+"</p>\n"
                        }

                        html += "</td>\n" +
                                "<td class=\"tc\">"+obj.frequency+"</td>\n" +
                                "<td class=\"tc\">"+obj.method+"</td>\n" +
                                "<td class=\"tc\">"+obj.typeOf+"</td>\n" +
                                "<td class=\"tc\">"+obj.stTime+"</td>\n" +
                                // "<td class=\"tc\">"+obj.sender+"</td>\n" +
                                "<td class=\"tc td11\">"+obj.exStatus+"</td>\n" +
                                "</tr>"
                    }
                    $(".change-div").html(html)
                    $(".list-data").html("")
                } else {
                    alert(json.errmsg)
                }
            }, 'json');
        })
    </script>
</body>

</html>
