<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>体温表</title>
    <link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/amazeui.css">
    {{/*<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/core.css">*/}}
    {{/*<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/menu.css">*/}}
    {{/*<link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/admin.css">*/}}
    <link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/page/typography.css">
    <link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/page/form.css">
    <link rel="stylesheet" href="/static/dist/style/lib/amazeui_tmplate/component.css">
    <link rel="stylesheet" href="/static/dist/style/css/base_pc.min.css">
    <link rel="stylesheet" href="/static/dist/style/css/style-chart.min.css">
    <style>
        @page  {size: portrait}
        .table-data-box table .tab-cont-box .data-warp{
            height: 700px;
        }
        body{
            /*font-family: "黑体";*/
            color:#000 !important;

        }
        .table-data-box table .data-box .bg_line .line-warp{
            height: 740px;
        }
        .tab-tit{
            /*font-size:20px;*/
        }
        .sub-msg-box .sub-tit{
            /*font-size:20px;*/
        }
        .main-box{
            padding: 10px 50px 0 50px;
            margin:0 auto;
        }
        footer{
            line-height: 40px;
            margin:0;
        }
        .table-data-box table .data-box .tit-bottom .yw{
            margin-bottom: 20px;
        }

        .table-data-box table .data-box .bg_line .line .temp-other{
            top:74%;
        }
        td{
            position: relative;
            z-index: 99;
            background: #fff;
        }
        .table-data-box table .data-box .bg_line .line .sj{
            line-height: 16px;
        }
    </style>
</head>
<body style="overflow: auto;">
<div class="temperature-box">
    <div class="scroll-box">
        <div class="main-box">
            <p class="tab-tit">
                深圳万丰医院
            </p>
            <div class="sub-msg-box">
                <div class="bar">
                    <div class="l"><label></label> <span></span></div>
                    <div class="r"><label></label><span></span></div>

                </div>
                <div class="bar" id="patient-info">
                    <div class="l">
                        <label>姓名</label> <span  style="min-width: 84px;" id="pinfo-name">{{.PInfo.VAA05}}</span>
                        <label>性别</label> <span class="t4" id="pinfo-sex">{{.PInfo.Gender}}</span>
                        <label>年龄</label> <span class="t3" id="pinfo-age">{{.PInfo.VAA10}}</span>
                        <label>入科日期</label> <span class="t2" id="pinfo-date-year">2017</span>
                        <label>年</label><span class="t2" id="pinfo-date-month">10</span>
                        <label>月</label><span class="t2"
                                              id="pinfo-date-day">10</span><label>日</label>
                        <label>病区</label><span  style="min-width: 84px;" id="pinfo-bed1">{{.PInfo.BCK03C}}</span>
                        <label>床号</label><span  style="min-width: 84px;" id="pinfo-bed2">{{.PInfo.BCQ04}}</span>
                        <label>住院号</label><span  style="min-width: 84px;" id="pinfo-bed3">{{.PInfo.VAA04}}</span>
                    </div>
                </div>

                <span class="sub-tit">体温表</span>
            </div>
            <div class="table-data-box">
                <table>
                    <tbody>
                    <tr id="date-tr">
                        <td class="tit" colspan="2" style="width: 106.75px;margin-top:-1px">日&nbsp;&nbsp;期</td>
                        <td class="" style="width: 106.75px;">2017-15-12</td>
                        <td class="br-led" style="width: 106.75px;">2</td>
                        <td class="br-led" style="width: 106.75px;">3</td>
                        <td class="br-led" style="width: 106.75px;"></td>
                        <td class="br-led" style="width: 106.75px;"></td>
                        <td class="br-led" style="width: 106.75px;"></td>
                        <td class="br-led" style="width: 106.75px;"></td>
                    </tr>
                    <tr id="datenum1-tr">
                        <td class="tit" colspan="2">住院日数</td>
                        <td class="">2017-15-12</td>
                        <td class="br-led">2</td>
                        <td class="br-led">3</td>
                        <td class="br-led"></td>
                        <td class="br-led"></td>
                        <td class="br-led"></td>
                        <td class="br-led"></td>
                        <!--<td class="last-td"></td>-->
                    </tr>
                    <tr id="datenum2-tr">
                        <td class="tit" colspan="2">手术或产后日数</td>
                        <td class="">2017-15-12</td>
                        <td class="br-led">

                        </td>
                        <td class="br-led">3</td>
                        <td class="br-led"></td>
                        <td class="br-led"></td>
                        <td class="br-led"></td>
                        <td class="br-led"></td>
                        <!--<td class="last-td"></td>-->
                    </tr>
                    <tr class="time-bar">
                        <td class="tit bt0" colspan="2">时&nbsp;&nbsp;间</td>
                        <td class="bt0 ">
                            <div class="time-hd">
                                <span>上午</span>
                                <span>下午</span>
                            </div>
                            <div class="time-num">
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                            </div>
                        </td>
                        <td class="bt0 br-led">
                            <div class="time-hd">
                                <span>上午</span>
                                <span>下午</span>
                            </div>
                            <div class="time-num">
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                            </div>
                        </td>
                        <td class="bt0 br-led">
                            <div class="time-hd">
                                <span>上午</span>
                                <span>下午</span>
                            </div>
                            <div class="time-num">
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                            </div>
                        </td>
                        <td class="bt0 br-led">
                            <div class="time-hd">
                                <span>上午</span>
                                <span>下午</span>
                            </div>
                            <div class="time-num">
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                            </div>
                        </td>
                        <td class="bt0 br-led">
                            <div class="time-hd">
                                <span>上午</span>
                                <span>下午</span>
                            </div>
                            <div class="time-num">
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                            </div>
                        </td>
                        <td class="bt0 br-led">
                            <div class="time-hd">
                                <span>上午</span>
                                <span>下午</span>
                            </div>
                            <div class="time-num">
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                            </div>
                        </td>
                        <td class="bt0 br-led">
                            <div class="time-hd">
                                <span>上午</span>
                                <span>下午</span>
                            </div>
                            <div class="time-num">
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                                <span>4</span>
                                <span>8</span>
                                <span>12</span>
                            </div>
                        </td>
                        <!--<td class="last-td"></td>-->
                    </tr>


                    <tr class="data-box">
                        <td class="btop1" colspan="2">&nbsp;
                            <span class="mb-tit sel" data-val="3">
                                                        脉搏<br>
                                                        (次/分)
                                                    </span>
                            <span class="wd-tit sel">
                                                        体温
                                                        <br>
                                                        ℃
                                                    </span>
                            <div class="tit-bottom">
                                <ul>
                                    <li class="kw sel" data-val="1">口表<span class="icon"></span>
                                    </li>
                                    <li class="yw sel" data-val="0">腋表<span
                                            class="icon">X</span></li>
                                    <li class="gw sel" data-val="2">肛表<span class="icon"></span>
                                    </li>
                                    <li class="mb sel" data-val="3">脉搏<span class="icon"></span>
                                    </li>
                                    <li class="xl sel" data-val="4">心率<span class="icon"></span>
                                    </li>
                                </ul>

                            </div>
                        </td>
                        <td colspan="7" class="tab-cont-box" id="incident-td" >
                            <div class="data-warp">
                                {{/*height: 1200px;*/}}
                                <div id="data-main" style="width: 921px; height: 900px;"></div>
                            </div>
                            <!--width:851px;-->

                            <div class="bg_line">
                                <div class="line-warp">
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                </div>
                                <div class="line-warp br-led">
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                </div>
                                <div class="line-warp br-led">
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                </div>
                                <div class="line-warp br-led">
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                </div>
                                <div class="line-warp br-led">
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                </div>
                                <div class="line-warp br-led">
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                </div>
                                <div class="line-warp br-led">
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                    <div class="line">
                                        <span class="sj"></span>
                                        <span class="temp-other"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="hx-tr" id="hxc_bar">
                        <td class="tit" colspan="2">呼吸(次/分)</td>
                        <td class="btop0">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                        <td class="btop0">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                        <td class="btop0">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                        <td class="btop0">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                        <td class="btop0">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                        <td class="btop0">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                        <td class="btop0">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </td>
                    </tr>
                    <tr id="intake-tr">
                        <td class="tit" colspan="2">输入液量(ml)</td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                    </tr>
                    <tr id="output3-tr">
                        <td rowspan="3">
                            排<br>出<br>量
                        </td>
                        <td class="tit">大便<br>(次)</td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                    </tr>
                    <tr id="output2-tr">
                        <td class="tit">尿量<br>(ml)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr id="output1-tr">
                        <td class="tit">其他</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="xy-bar" id="pressure-tr" style="height:47px">
                        <td class="tit" colspan="2">血&nbsp;&nbsp;压<br>(mmHg)</td>
                        <td>
                            <span class="l">12</span>
                            <div class="line"></div>
                            <span class="r">12</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr id="weight-tr">
                        <td class="tit" colspan="2">体&nbsp;&nbsp;重<br>(kg)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="skin-tr">
                        <td class="tit" colspan="2">皮&nbsp;&nbsp;试</td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                    </tr>
                    <tr id="other-tr">
                        <td class="tit" colspan="2">其&nbsp;&nbsp;他</td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                        <td style="font-size:14px;white-space: normal;"></td>
                    </tr>
                    </tbody>
                </table>

                <footer>
                    <div>
                        第
                        <span id="weekindex-span">{{.PageIndex}}</span> 周
                    </div>
                </footer>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
<script src="/static/dist/js/lib/echarts.common.min.js"></script>

<script>
    var temp1 = {{.Temp1}};
    var temp2 = {{.Temp2}};
    var temp3 = {{.Temp3}};

    var pulse = {{.Pulse}};
    var heartrate = {{.Heartrate}};
    var menuIndex = "0-0"


</script>
<script src="/static/dist/js/lib/echarts-data.js"></script>

<script src="/static/common.js"></script>
<script>
    console.log(option)
    option.grid.height=700;
    var myChart = echarts.init(document.getElementById('data-main'));
    // 为echarts对象加载数据
    myChart.setOption(option);
</script>

<script>
    $(function () {
        var breathe = {{.Breathe}};
        var pressure = {{.Pressure}};
        var tempother = {{.TempOther}};

        var intake = {{.Intake}};
        var output1 = {{.Output1}};
        var output2 = {{.Output2}};
        var output3 = {{.Output3}};

        var incident = {{.Incident}};
        var skin = {{.Skin}};
        var weight = {{.Weight}};
        var other = {{.Other}};

        var weeks = {{.Weeks}};
        var dates1 = {{.Dates1}};
        var dates2 = {{.Dates2}};

        var pinfo = {{.PInfo}};

        // var h_date = pinfo["hospital_date"];
        var h_date = {{.EntryDate}}
        // 病人信息

        $("#pinfo-date-year").text(h_date.substring(0, 4));
        $("#pinfo-date-month").text(h_date.substring(5, 7));
        $("#pinfo-date-day").text(h_date.substring(8, 10));

        //  日期
        $("#date-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(weeks[i - 1]);
            }
        });

        // 住院日数
        $("#datenum1-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(dates1[i - 1])
            }
        });
        // 手术或产后日数
        $("#datenum2-tr").find("td").each(function (i, el) {
            if (i != 0) {
                if (dates2) {
                    if (dates2[i - 1] < 0) {
                        $(el).text("")
                    } else {
                        $(el).text(dates2[i - 1])
                    }
                }
            }
        });

        // 呼吸
        $("#hxc_bar").find("td").each(function (i, el) {
            if (i != 0 && i < breathe.length / 6 + 1) {
                var value1 = breathe[i * 6 - 6];
                var value2 = breathe[i * 6 - 5];
                var value3 = breathe[i * 6 - 4];
                var value4 = breathe[i * 6 - 3];
                var value5 = breathe[i * 6 - 2];
                var value6 = breathe[i * 6 - 1];

                var html = '<span>' + value1 + '</span>'
                        + '<span>' + '<br/>' + value2 + '</span>'
                        + '<span>' + value3 + '</span>'
                        + '<span>' + '<br/>' + value4 + '</span>'
                        + '<span>' + value5 + '</span>'
                        + '<span>' + '<br/>' + value6 + '</span>';
                $(el).html(html);
                $(el).css("color", "red");
            }
        });

        // console.log(pressure);
        // 血压
        $("#pressure-tr").find("td").each(function (i, el) {
            if (i != 0) {
                var value1 = "", value2 = "";
                if(pressure[i-1]){
                    value1 = pressure[i - 1].split("/")[0];
                    value2 = pressure[i - 1].split("/")[1];
                }

                // console.log(value1, value2);
                var html = '';
                if (value1 == "" || value2 == "") {
                    html = '<span class="l">' + value1 + '</span>' +
                            '<span class="r">' + value2 + '</span>';
                } else {
                    html = '<span class="l">' + value1 + '</span>' +
                            '<div class="line"></div>' +
                            '<span class="r">' + value2 + '</span>';
                }
                $(el).html(html);
            }
        });

        // 血压
        $("#weight-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(weight[i - 1])
            }
        });

        // 输入液量
        $("#intake-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(intake[i - 1])
            }
        });
        // 1=其他  2=尿量  3=大
        $("#output1-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(output1[i - 1])
            }
        });
        $("#output2-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(output2[i - 1])
            }
        });
        $("#output3-tr").find("td").each(function (i, el) {
            if (i != 0 && i != 1) {
                $(el).text(output3[i - 2])
            }
        });

        // 皮试
        $("#skin-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(skin[i - 1])
            }
        });
        // 事件
        $("#incident-td").find(".sj").each(function(i, el){
            if(i==41){
                $(el).html(incident[41]+incident[42]+incident[43]+incident[44]);
            }else{
                $(el).html(incident[i]);
            }
            $(el).css("color", "red");
        });
        // 其他
        $("#incident-td").find(".temp-other").each(function(i, el){
            $(el).text(tempother[i]);
        });

        // 其他
        $("#other-tr").find("td").each(function (i, el) {
            if (i != 0) {
                $(el).text(other[i - 1])
            }
        });
        console.log("其他", other);
    {{/*var classid = {{.Userinfo.DepartmentID}};*/}}
        /*var url = "/pc/home/beds?department_id=" + classid + "&type=0";
        $.get(url, function (json) {
            if (json.result == 0) {

            } else {
                alert("请求失败!" + json.errmsg)
            }
        }, 'json');*/

    });
</script>


</body>
</html>