{{template "header_top" .}}
<div class="admin">
    <!--<div class="am-g">-->
    <!-- ========== Left Sidebar Start ========== -->
    <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
            <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
    <!-- sidebar start -->
{{template "header_side" .}}

    <style>
        [v-cloak] {
            display: none;
        }

        input[disabled] {
            background: #fff;

        }

        input[disabled]:hover {
            border-color: #FFF !important;
        }
    </style>

    <div class="content-page jky-table-page doc-input1" data-index="1">
        <div class="tv-manage" id="app">
            <p class="tit">TV监控信息编辑</p>
            <div class="item-block">
                <div class="tit-bar">
                    <span class="txt">病区动态</span>
                    <span class="line"></span>
                    <div class="edit-btn" @click="editfn">
                        编辑
                    </div>
                    <div class="cancel-btn" @click="cancelfn">
                        取消
                    </div>
                    <div class="save-btn" @click="savefn">
                        保存
                    </div>
                </div>
                <div class="tabel-box ">
                    <table>
                        <thead>
                        <tr>
                            <th class="td1">名称</th>
                            <th class="td2">内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="no">
                            <td>
                                <p class="txt">
                                    患者总数
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        患者总数
                                    </p>

                                </div>

                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v1}
                                </p>
                                <div class="input-box">
                                    <p class="d-txt" v-cloak>
                                        ${reqData.v1}
                                    </p>
                                </div>


                            </td>
                        </tr>
                        <tr class="no">
                            <td>
                                <p class="txt">
                                    一级护理
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        一级护理
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v4}
                                </p>
                                <div class="input-box">
                                    <p class="d-txt" v-cloak>
                                        ${reqData.v4}
                                    </p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="txt">
                                    新入
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        新入
                                    </p>

                                </div>
                            </td>
                            <td>

                                <p class="txt" v-cloak>
                                    ${reqData.v2}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300"
                                           v-model="tmplData.v2">
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <p class="txt">
                                    出院
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        出院
                                    </p>
                                </div>
                            </td>
                            <td>

                                <p class="txt" v-cloak>
                                    ${reqData.v3}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v3">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    病重
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        病重
                                    </p>

                                </div>
                            </td>
                            <td>

                                <p class="txt" v-cloak>
                                    ${reqData.v5}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v5">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    病危
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        病危
                                    </p>

                                </div>
                            </td>
                            <td>

                                <p class="txt" v-cloak>
                                    ${reqData.v6}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v6">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="txt">
                                    心电监护
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        心电监护
                                    </p>

                                </div>
                            </td>
                            <td>

                                <p class="txt" v-cloak>
                                    ${reqData.v7}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v7">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="txt">
                                    吸氧
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        吸氧
                                    </p>

                                </div>
                            </td>
                            <td>

                                <p class="txt" v-cloak>
                                    ${reqData.v8}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v8">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="txt">
                                    神志瞳孔监测
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        神志瞳孔监测
                                    </p>

                                </div>
                            </td>
                            <td>

                                <p class="txt" v-cloak>
                                    ${reqData.v9}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v9">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="txt">
                                    雾化吸入
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        雾化吸入
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v10}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v10">
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <p class="txt">
                                    口腔护理
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        口腔护理
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v11}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v11">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    尿道口护理
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        尿道口护理
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v12}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v12">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    留置导尿
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        留置导尿
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v13}

                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v13">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    计24小时尿量
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        计24小时尿量
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v14}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v14">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    计24小时出入量
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        计24小时出入量
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v15}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v15">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    生命体征监测
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        生命体征监测
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.v16}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300" v-model="tmplData.v16">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt">
                                    血糖记录
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        血糖记录
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.customVal1}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300"
                                           v-model="tmplData.customVal1"
                                           @keydown="keydownfn">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.customTit2}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="8"
                                           v-model="tmplData.customTit2"  @keydown="keydownfn" >
                                    {{/*:disabled="!isShowTit2"*/}}
                                </div>
                            </td>
                            <td>
                                <p class="txt" v-cloak>
                                    ${reqData.customVal2}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300"
                                           v-model="tmplData.customVal2" @keydown="keydownfn">
                                </div>
                            </td>
                        </tr>


                        </tbody>

                    </table>
                </div>


            </div>

            <div class="pt30"></div>
            <div class="item-block">
                <div class="tit-bar">
                    <span class="txt">通知</span>
                    <span class="line"></span>
                    <div class="edit-btn" @click="editfn">
                        编辑
                    </div>
                    <div class="cancel-btn" @click="cancelfn">
                        取消
                    </div>
                    <div class="save-btn"  @click="savefn">
                        保存
                    </div>
                </div>
                <div class="tabel-box ">
                    <table>
                        <thead>
                        <tr>
                            <th class="td1">序号</th>
                            <th class="td2">内容</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="notice-list">

                        <tr class="source-tr" v-for="(item,index) in reqData.notifys">
                            <td class="num" >
                                <p class="txt" v-cloak>
                                    ${index+1}
                                </p>
                            </td >
                            <td>
                                <p class="txt" v-cloak>
                                    ${item.notifyinfo}
                                </p>
                            </td>
                            <td class="del">
                                {{/*<a class="del-btn" :data-id="item.id">*/}}
                                    {{/*删除*/}}
                                {{/*</a>*/}}
                            </td>
                        </tr>

                        <tr class="tmpl-tr" v-for="(item,index) in tmplData.notifys" >
                            <td class="num" :data-index="index">
                                <div class="input-box">
                                    <p class="d-txt" >
                                        ${index+1}
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300"
                                        v-model="item.notifyinfo">
                                </div>
                            </td>
                            <td class="del">
                                <a class="del-btn" :data-id="item.id" @click="deldatafn">
                                    删除
                                </a>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>

                <div class="add-btn">
                    <a @click="addBtnFn">
                        <img src="/static/dist/images/admin_pc/add_btn.png" alt="">添加
                    </a>
                </div>
            </div>

            <div class="pt30"></div>
            <div class="item-block">
                <div class="tit-bar">
                    <span class="txt">工作安排</span>
                    <span class="line"></span>
                    <div class="edit-btn" @click="editfn">
                        编辑
                    </div>
                    <div class="cancel-btn" @click="cancelfn">
                        取消
                    </div>
                    <div class="save-btn"  @click="savefn">
                        保存
                    </div>
                </div>
                <div class="tabel-box ">
                    <table>
                        <thead>
                        <tr>
                            <th class="td1">名称</th>
                            <th class="td2">内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p class="txt">
                                    值班医生
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        值班医生
                                    </p>

                                </div>

                            </td>
                            <td>
                                <p class="txt"  v-cloak>
                                    ${reqData.doctorname}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="100"
                                           v-model="tmplData.doctorname">
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p class="txt">
                                    值班护士
                                </p>
                                <div class="input-box">
                                    <p class="d-txt">
                                        值班护士
                                    </p>

                                </div>
                            </td>
                            <td>
                                <p class="txt"  v-cloak>
                                    ${reqData.nursename}
                                </p>
                                <div class="input-box">
                                    <input type="text" placeholder="点击编辑" class="input-text" maxlength="100"
                                           v-model="tmplData.nursename">
                                </div>
                            </td>
                        </tr>


                        </tbody>

                    </table>
                </div>

            </div>
            <div class="pt30"></div>
            <div class="item-block">
                <div class="tit-bar">
                    <span class="txt">其他控制</span>
                    <span class="line"></span>
                    <div class="edit-btn" @click="editfn">
                        编辑
                    </div>
                    <div class="cancel-btn" @click="cancelfn">
                        取消
                    </div>
                    <div class="save-btn"  @click="savefn">
                        保存
                    </div>
                </div>
            <!--<div class="other-box">
                    轮播速度级别:
                    <span class="txt">
                        1级
                    </span>
                    <div class="sel-box">
                        <select name="" id="">
                            <option value="1">1级</option>
                            <option value="2">2级</option>
                            <option value="3">3级</option>
                            <option value="4">4级</option>
                        </select>
                        <span>*级别越高滚动速度越慢</span>
                    </div>
                </div>
                -->
                <div class="other-box">
                    <p class="txt">
                        床位显示控制：<input type="checkbox"  :checked="reqData.display==1" disabled> &nbsp;不显示空床位
                    </p>
                    <p class="sel-box">
                        床位显示控制：<input type="checkbox" v-model="tmplChecked" id="check"> <label for="check">不显示空床位</label>
                    </p>

                </div>

            </div>

        </div>

    </div>
</div>


<script type="application/json" id="col">
    <tr data-index="<%=index%>">
    <td class="num">
    <p class="txt">
    <%=index%>
    </p>
    <div class="input-box">
    <p class="d-txt">
    <%=index%>
    </p>

    </div>
    </td>
    <td>
    <p class="txt">

    </p>
    <div class="input-box">
    <input type="text" placeholder="点击编辑" class="input-text" maxlength="300"
    value="">
    </div>
    </td>
    <td class="del">
    <a class="del-btn">
    删除
    </a>
    </td>
    </tr>
</script>

<script type="text/javascript" src="/static/dist/js/lib/jquery.min.js"></script>
<!--框架js-->
<script type="text/javascript" src="/static/dist/js/lib/amazeui_tmplate/amazeui.min.js"></script>

<script src="/static/dist/js/lib/vue.js"></script>
<!--前端模板引擎-->
<script src="/static/dist/js/lib/template-web.js"></script>
<script type="text/javascript" src="/static/common.js"></script>

<script>
    // $(".edit-btn").on("click", function () {
    //     console.log("??")
    //     $(this).parents(".item-block").addClass("active")
    // })
    // $(".cancel-btn").on("click", function () {
    //     $(this).parents(".item-block").removeClass("active")
    // })


    $(".add-btn").on("click", function () {
        var len = $("#notice-list").find("tr").length,
                index = len + 1;
        if (len >= 10) {
            return false
        }
        var data = {
            index: len + 1
        }

        var html = template("col", data);
        $("#notice-list").append(html)
        if (index == 10) {
            $(this).addClass("none")
        }
    })

    // $("body").on("click", ".del-btn", function () {
    //     var $this = $(this)
    //     jkyConfirm("是否确认删除该内容", function () {
    //         var $parents = $this.parents("#notice-list")
    //         $this.parents("tr").remove()
    //         // console.log($this.parents("body"))
    //         $parents.find("tr").each(function (i, el) {
    //             $(el).data("index", i + 1)
    //             $(el).find(".num").find(".txt").text(i + 1)
    //             $(el).find(".num").find(".d-txt").text(i + 1)
    //         })
    //
    //     })
    //
    // })
    // $(function(){
    //
    //
    // })
    var classid = {{.Userinfo.DepartmentID}}

            function req(api, data, cb) {
                $.ajax({
                    url: api,
                    data: data,
                    type: "POST",
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            switch (data.result) {
                                case 0:
                                    cb(data.datas);
                                    break;
                                default:
                                    // alert(data.errmsg)
                                    jkyAlert(data.errmsg, "no")
                            }
                        }
                    },
                    error: function (e) {
                        console.log("ajax err:", e)
                    },
                    dataType: "json"
                })

            }
    req("/tv/list",{"class_id": classid},
            function (reqData) {
                var sourceData = reqData[0];
                if(sourceData){
                    setCustom(sourceData)
                }
                var tmplData = {}
                $.extend(true,tmplData,sourceData)
                a=tmplData
                d=sourceData
                var app = new Vue({
                    delimiters: ['${', '}'],
                    el: '#app',
                    data: {
                        reqData: sourceData,
                        tmplData: tmplData
                    },
                    computed: {
                        isShowTit2: function () {
                            if(this.reqData.v18){
                                return false;
                            }else{
                                return true
                            }
                        },
                        tmplChecked:{
                            get: function () {
                                return this.tmplData.display=="0"?false:true;
                            },
                            // setter
                            set: function (newValue) {
                                newValue? this.tmplData.display="1":this.tmplData.display="0"
                            }

                        }

                    },
                    methods: {
                        editfn: function (e) {
                            // console.log(this)
                            // console.log()
                            $(e.target).parents(".item-block").addClass("active")
                        },
                        cancelfn: function (e) {
                            tmplData = $.extend( {}, sourceData)
                            $(e.target).parents(".item-block").removeClass("active")
                        },
                        savefn:function(e){
                            tmplData["v17"] = tmplData["customTit1"] &&(tmplData["customTit1"] +"|"+tmplData["customVal1"])
                            tmplData["v18"] = tmplData["customTit2"] &&(tmplData["customTit2"] +"|"+tmplData["customVal2"])
                            // console.log(equals(tmplData,reqData))

                            if(!tmplData["customTit2"] && tmplData["customVal2"]){
                                jkyAlert("自定义表题不能为空","no")
                            }else{
                                var isNullTxt = false;
                                $.each(tmplData.notifys,function(i,val){
                                    if(!$.trim(val.notifyinfo)){
                                        isNullTxt = true
                                    }
                                })

                                if(isNullTxt){
                                    jkyConfirm("未输入内容，请填写或删除该行",function(){
                                        var newArr = []
                                        $.each(tmplData.notifys,function(i,val){
                                            if($.trim(val.notifyinfo)){
                                                // indexArr.push(val)
                                                newArr.push(val)
                                            }
                                        })
                                        tmplData.notifys = newArr
                                    },function(){
                                        var $input = $("#notice-list").find(".tmpl-tr").find("input")
                                        $input.each(function(i,el){
                                            if(!$.trim($(el).val())){
                                                $(el).focus()
                                                return false
                                            }
                                        })
                                    },"删除","填写")
                                    // return false
                                }else{
                                    if(equals(tmplData,sourceData)){
                                        $(e.target).parents(".item-block").removeClass("active")
                                    }else{
                                        // tmplData.mid = tmplData.id
                                        var data = {}
                                        $.extend(true, data, tmplData)
                                        data.mid = tmplData.id
                                        // data.infos = tmplData.notifys
                                        data.infos =JSON.stringify(tmplData.notifys)
                                        var self = this;
                                        req("/pc/tv/monitorinfo",data,function(data){
                                            jkyAlert("保存成功","yes")
                                            $(e.target).parents(".item-block").removeClass("active")
                                            req("/tv/list",{"class_id": classid},function(listData){
                                                var list = listData[0];
                                                if(list){
                                                    setCustom(list)
                                                }
                                                sourceData = $.extend(true,{},list)
                                                tmplData = $.extend(true,{},list)
                                                self.$set(self,"reqData",sourceData)
                                                self.$set(self,"tmplData",tmplData)
                                            })
                                        })

                                    }
                                }

                            }

                        },
                        addBtnFn:function(e){
                            var notifysArr = this.tmplData.notifys || []
                            // var notifysArr2 = this.reqData.notifys || []
                            notifysArr.push({"id":0,"mid":0,"notifyinfo":""})
                            // notifysArr2.push({"id":0,"mid":0,"notifyinfo":""})

                            if(notifysArr.length>=10){
                                $(e.target).addClass("none")
                            }
                            setTimeout(function(){

                                var $input = $("#notice-list").find(".tmpl-tr").find("input")
                                $input.last().focus();
                            })
                        },
                        deldatafn:function(e){
                            var $this =  $(e.target);
                                // id = $this.data("id");
                            var index = $this.parents("tr").find(".num").data("index");
                            var notifysArr = this.tmplData.notifys || [];
                            // var notifysArr2 = this.reqData.notifys || [];
                            jkyConfirm("是否确认删除该内容",function(){
                                var id = $this.attr("data-id");
                                if(id){
                                    req("/pc/tv/delnotify",{"nid":id},function(data){
                                        notifysArr.splice(index,1)
                                    })
                                }else{
                                    console.log(index)
                                    notifysArr.splice(index,1)
                                    // notifysArr2.splice(index,1)
                                    // ary.splice($.inArray(2, ary), 1)
                                }
                            })

                        },
                        keydownfn: function (e) {
                            console.log(e.keyCode)
                            var $this =  $(e.target);
                            setTimeout(function(){
                                var IllegalStr = "|"
                                var val = $this.val()
                                var index = val.length -1;
                                var s = val.charAt(index)
                                if(IllegalStr.indexOf(s)>=0){
                                    val = val.substring(0,index);
                                    $this.val(val)
                                }
                            },0)
                          
                        }
                    }
                })
            })



    function setCustom(sourceData){
        if(sourceData.v17){
            sourceData.customTit1 = sourceData.v17.split("|")[0]
            sourceData.customVal1 = sourceData.v17.split("|")[1]
        }else{
            sourceData.customTit1 = ""
            sourceData.customVal1 = ""
        }
        if(sourceData.v18){
            sourceData.customTit2 = sourceData.v18.split("|")[0]
            sourceData.customVal2 = sourceData.v18.split("|")[1]
        }else{
            sourceData.customTit2 = ""
            sourceData.customVal2 = ""
        }
    }

</script>
</body>

</html>
