<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/x.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/c.css"/>
    <title>{{.Title}}</title>
</head>
<body>
    <p class="title">第一个模版文件</p>
   <div>
       <button onclick="click1('js调用')">点我</button>
   </div>
    <br />
    <br />
    <div>
        <img src="/static/img/a.png"/>
    </div>

</body>
<script type="text/javascript">
    function click1(msg) {
        show(msg)
    }
</script>
</html>