<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>患者跌倒（内科）</title>
    <link rel="stylesheet" href="/static/dist/style/css/base.css">
    <script>
        function setFontSize() {
            var deviceWidth = document.documentElement.clientWidth;
            if (deviceWidth > 640) deviceWidth = 640;
            document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
        }

        setFontSize()
        var timer = null;
        window.addEventListener('resize', function() {
            clearTimeout(timer)
            timer = setTimeout(setFontSize, 300)
        }, false)
    </script>
</head>

<body>

<div class="g-main">
    <div class="m-msg">
        <ul>
            <li class="b1">
                姓名:<span>{{.PInfo.VAA05}}</span>
            </li>
            <li class="b1">
                性别:<span>{{.PInfo.Gender}}</span>
            </li>
            <li class="b1">
                年龄:<span>{{.PInfo.VAA10}}岁</span>
            </li>
            <li class="b1">
                科室:<span>{{.PInfo.BCK03C}}</span>
            </li>
            <li class="b1">
                床号:<span>{{.PInfo.BCQ04}}</span>
            </li>
            <li class="b1">
                住院号:<span>{{.PInfo.VAA04}}</span>
            </li>
        </ul>
    </div>

    <div class="m-line"></div>



    <!-- 陪护情况： -->
    <div class="m-check2" id="c1">
        <p class="tit">
            陪护情况：
        </p>
        <ul class="radio-grup table-tit">
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c1-v1" name="check1" data-v="1" class="c1" {{if eq .NRLTitle.NRL08 "1"}}checked{{end}} disabled>
                    <label for="c1-v1" class="icon"></label>
                </div>
                <label for="c1-v1">无</label>
            </li>
            <li>
                <div class="m-check-warp">
                    <div class="m-input-radio">
                        <input type="radio" id="c1-v2" name="check1" data-v="2" class="c1 main-sel" {{if eq .NRLTitle.NRL08 "2"}}checked{{end}} disabled>
                        <label for="c1-v2" class="icon"></label>
                    </div>
                    <label for="c1-v2" style="padding-left:5px">有</label>
                </div>
                <ul id="c1-c2" class="child-sel disabled-box" style="padding-top: 2px;">
                    <li class="b3">
                        &nbsp;(
                        <div class="m-input-checkbox">
                            <input type="checkbox" id="c1-v2-v1" name="c1-v2" data-v="1" disabled>
                            <label for="c1-v2-v1" class="icon"></label>
                        </div>
                        <label for="c1-v2-v1">家属</label>
                    </li>
                    <li class="b3">
                        <div class="m-input-checkbox">
                            <input type="checkbox" id="c1-v2-v2" name="c1-v2" data-v="2" disabled>
                            <label for="c1-v2-v2" class="icon"></label>
                        </div>
                        <label for="c1-v2-v2">保姆</label>
                    </li>

                    <li class="b3">
                        <div class="m-input-checkbox">
                            <input type="checkbox" id="c1-v2-v3" name="c1-v2" data-v="3" disabled>
                            <label for="c1-v2-v3" class="icon"></label>
                        </div>
                        <label for="c1-v2-v3">护工</label>
                    </li>
                    <li>                        &nbsp;&nbsp;
                        <div class="m-input-checkbox">
                            <input type="checkbox" id="c1-v2-v4" name="c1-v2" data-v="4" class="main-sel" disabled>
                            <label for="c1-v2-v4" class="icon"></label>
                        </div>
                        <label for="c1-v2-v4">其他</label>
                        <span class="child-sel" >
                            <input type="text" id="qt-txt" class="m-input-txt" value="{{.NRLTitle.NRL08B}}" disabled>)
                        </span>
                    </li>

                </ul>

            </li>
        </ul>

    </div>
    <p class="msg-bar">
        诊断内容：<span>{{.PInfo.VAO15}}</span>
    </p>
    <div class="m-tit">
        <p class="tit">评估项目</p>
    </div>



    <!-- 跌倒史 -->
    <div class="m-check1" id="c2">
        <p class="tit">
            跌倒史（3个月内）： </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c2-v1" name="check2" data-v="1" {{if eq .NRL.NRL01 "1"}}checked{{end}}>
                    <label for="c2-v1" class="icon"></label>
                </div>
                <label for="c2-v1">否=0</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c2-v2" name="check2" data-v="2" {{if eq .NRL.NRL01 "2"}}checked{{end}}>
                    <label for="c2-v2" class="icon"></label>
                </div>
                <label for="c2-v2">是=25</label>
            </li>
        </ul>
    </div>


    <div class="m-line"></div>
    <!-- 超过1个医学诊断 -->
    <div class="m-check1" id="c3">
        <p class="tit">
            超过1个医学诊断:
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c3-v1" name="check3" data-v="1" {{if eq .NRL.NRL02 "1"}}checked{{end}}>
                    <label for="c3-v1" class="icon"></label>
                </div>
                <label for="c3-v1">否=0</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c3-v2" name="check3" data-v="2" {{if eq .NRL.NRL02 "2"}}checked{{end}}>
                    <label for="c3-v2" class="icon"></label>
                </div>
                <label for="c3-v2">是=15</label>
            </li>
        </ul>
    </div>

    <div class="m-line"></div>

    <!-- 使用助行器具: -->
    <div class="m-check1 t1" id="c4">
        <p class="tit">
            使用助行器具：
        </p>
        <ul class="t6">
            <li class="b3" style="width:40%;margin-top:0;">
                <div class="m-input-radio">
                    <input type="radio" id="c4-v1" name="check4" data-v="1" {{if eq .NRL.NRL03 "1"}}checked{{end}}>
                    <label for="c4-v1" class="icon"></label>
                </div>
                <label for="c4-v1">不需要=0</label>
            </li>
            <li class="b3" style="width:60%;margin-top:0;">
                <div class="m-input-radio">
                    <input type="radio" id="c4-v2" name="check4" data-v="2" {{if eq .NRL.NRL03 "2"}}checked{{end}}>
                    <label for="c4-v2" class="icon"></label>
                </div>
                <label for="c4-v2">完全卧床=0</label>
            </li>
            <li class="b3" style="width:40%">
                <div class="m-input-radio">
                    <input type="radio" id="c4-v3" name="check4" data-v="3" {{if eq .NRL.NRL03 "3"}}checked{{end}}>
                    <label for="c4-v3" class="icon"></label>
                </div>
                <label for="c4-v3">有人扶持=0</label>
            </li>
            <li class="b3" style="width:60%">
                <div class="m-input-radio">
                    <input type="radio" id="c4-v4" name="check4" data-v="4" {{if eq .NRL.NRL03 "4"}}checked{{end}}>
                    <label for="c4-v4" class="icon"></label>
                </div>
                <label for="c4-v4">拐杖/手杖/四角叉=15</label>
            </li>
            <li class="b3" style="width:40%">
                <div class="m-input-radio">
                    <input type="radio" id="c4-v5" name="check4" data-v="5" {{if eq .NRL.NRL03 "5"}}checked{{end}}>
                    <label for="c4-v5" class="icon"></label>
                </div>
                <label for="c4-v5">依扶家具=30</label>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>

    <!-- 静脉输液／肝素锁： -->

    <div class="m-check1" id="c5">
        <p class="tit">
            静脉输液/肝素锁:
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c5-v1" name="check5" data-v="1" {{if eq .NRL.NRL04 "1"}}checked{{end}}>
                    <label for="c5-v1" class="icon"></label>
                </div>
                <label for="c5-v1">否=0</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c5-v2" name="check5" data-v="2" {{if eq .NRL.NRL04 "2"}}checked{{end}}>
                    <label for="c5-v2" class="icon"></label>
                </div>
                <label for="c5-v2">是=20</label>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>


    <!-- 步态： -->

    <div class="m-check1 t1" id="c6">
        <p class="tit">
            步态：
        </p>
        <ul class="t6">
            <li class="b3" style="width:40%;margin-top:0;">
                <div class="m-input-radio">
                    <input type="radio" id="c6-v1" name="check6" data-v="1" {{if eq .NRL.NRL05 "1"}}checked{{end}}>
                    <label for="c6-v1" class="icon"></label>
                </div>
                <label for="c6-v1">正常=0</label>
            </li>
            <li class="b3" style="width:60%;margin-top:0;">
                <div class="m-input-radio">
                    <input type="radio" id="c6-v2" name="check6" data-v="2" {{if eq .NRL.NRL05 "2"}}checked{{end}}>
                    <label for="c6-v2" class="icon"></label>
                </div>
                <label for="c6-v2">卧床=0</label>
            </li>
            <li class="b3" style="width:40%">
                <div class="m-input-radio">
                    <input type="radio" id="c6-v3" name="check6" data-v="3" {{if eq .NRL.NRL05 "3"}}checked{{end}}>
                    <label for="c6-v3" class="icon"></label>
                </div>
                <label for="c6-v3">轮椅代步=0</label>
            </li>
            <li class="b3" style="width:60%">
                <div class="m-input-radio">
                    <input type="radio" id="c6-v4" name="check6" data-v="4" {{if eq .NRL.NRL05 "4"}}checked{{end}}>
                    <label for="c6-v4" class="icon"></label>
                </div>
                <label for="c6-v4">双下肢软弱无力=10</label>
            </li>
            <li class="b3" style="width:60%">
                <div class="m-input-radio">
                    <input type="radio" id="c6-v5" name="check6" data-v="5" {{if eq .NRL.NRL05 "5"}}checked{{end}}>
                    <label for="c6-v5" class="icon"></label>
                </div>
                <label for="c6-v5">残疾或功能障碍=20</label>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>



    <!-- 认知状态： -->
    <div class="m-check2" id="c7">
        <p class="tit">
            认知状态：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c7-v1" name="check7" data-v="1" class="c1" {{if eq .NRL.NRL06 "1"}}checked{{end}}>
                    <label for="c7-v1" class="icon"></label>
                </div>
                <label for="c7-v1">了解自己的能力/量力而行=0</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" id="c7-v2" name="check7" data-v="2" class="c1" {{if eq .NRL.NRL06 "2"}}checked{{end}}>
                    <label for="c7-v2" class="icon"></label>
                </div>
                <label for="c7-v2">高估自己/忘记自己的限制=15</label>
            </li>
        </ul>

    </div>




    <div class="m-line"></div>

    <div class="m-zofen type2">
        <span class="tit">评估总分:</span>
        <span class="fen"></span>
        <span>分</span>
    </div>


    <div class="tab-tit">
        <div class="icon"></div>
        跌倒护理措施
    </div>

    <div class="tab-cont m-none">
        <div class="m-check2" id="c8">
            <ul>
                <li style="margin-top: .28rem;">
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v1" name="check8" data-v="1" class="c1">
                        <label for="c8-v1" class="icon"></label>
                    </div>
                    <label for="c8-v1">1、床头悬挂“跌倒风险警示”标识</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v2" name="check8" data-v="2" class="c1">
                        <label for="c8-v2" class="icon"></label>
                    </div>
                    <label for="c8-v2">2、入院时向患者/家属/陪护介绍病室环境及安全措施</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v3" name="check8" data-v="3" class="c1">
                        <label for="c8-v3" class="icon"></label>
                    </div>
                    <label for="c8-v3">3、指导患者/家属/陪护使用呼叫铃</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v4" name="check8" data-v="4" class="c1">
                        <label for="c8-v4" class="icon"></label>
                    </div>
                    <label for="c8-v4">4、教育患者/家属/陪护预防跌倒的方法及注意事项</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v5" name="check8" data-v="5" class="c1">
                        <label for="c8-v5" class="icon"></label>
                    </div>
                    <label for="c8-v5">5、指导患者勿跨越床栏下床</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v6" name="check8" data-v="6" class="c1">
                        <label for="c8-v6" class="icon"></label>
                    </div>
                    <label for="c8-v6">6、把患者需要的物品（水杯、尿壶等）放置妥当</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v7" name="check8" data-v="7" class="c1">
                        <label for="c8-v7" class="icon"></label>
                    </div>
                    <label for="c8-v7">7、按医嘱留陪护一名，在夜间将陪人床紧邻患者床栏放置</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v8" name="check8" data-v="8" class="c1">
                        <label for="c8-v8" class="icon"></label>
                    </div>
                    <label for="c8-v8">8、确保病室内，浴室内灯光明亮及地板干燥</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v9" name="check8" data-v="9" class="c1">
                        <label for="c8-v9" class="icon"></label>
                    </div>
                    <label for="c8-v9">9、行人道通畅，没有障碍物</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v10" name="check8" data-v="10" class="c1">
                        <label for="c8-v10" class="icon"></label>
                    </div>
                    <label for="c8-v10">10、患者卧床时上床栏，加强巡视</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v11" name="check8" data-v="11" class="c1">
                        <label for="c8-v11" class="icon"></label>
                    </div>
                    <label for="c8-v11">11、告知患者有护士/家属/陪护协助下方可下床活动</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v12" name="check8" data-v="12" class="c1">
                        <label for="c8-v12" class="icon"></label>
                    </div>
                    <label for="c8-v12">12、患者下床前，确认已穿防滑的鞋子，并与床边悬摆双脚至少2分钟</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v13" name="check8" data-v="13" class="c1">
                        <label for="c8-v13" class="icon"></label>
                    </div>
                    <label for="c8-v13">13、助行器摆放在患者容易取用的位置</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v14" name="check8" data-v="14" class="c1">
                        <label for="c8-v14" class="icon"></label>
                    </div>
                    <label for="c8-v14">14、使用平车外出检查的患者，应加安全带及上防护栏</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v15" name="check8" data-v="15" class="c1">
                        <label for="c8-v15" class="icon"></label>
                    </div>
                    <label for="c8-v15">15、坐轮椅时系上安全带</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v16" name="check8" data-v="16" class="c1">
                        <label for="c8-v16" class="icon"></label>
                    </div>
                    <label for="c8-v16">16、步态不稳的患者外出检查必须由家属及护送人员陪同</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v17" name="check8" data-v="17" class="c1">
                        <label for="c8-v17" class="icon"></label>
                    </div>
                    <label for="c8-v17">17、给予患者合身衣物，勿穿滑底鞋，以免滑倒</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v18" name="check8" data-v="18" class="c1">
                        <label for="c8-v18" class="icon"></label>
                    </div>
                    <label for="c8-v18">18、指导患者穿脱袜子、鞋、裤应坐着进行</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v19" name="check8" data-v="19" class="c1">
                        <label for="c8-v19" class="icon"></label>
                    </div>
                    <label for="c8-v19">19、评估患者现用药物的效果及副作用，及时做好宣教</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v20" name="check8" data-v="20" class="c1">
                        <label for="c8-v20" class="icon"></label>
                    </div>
                    <label for="c8-v20">20、楼梯要有扶手，并有方便的照明开关 </label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v21" name="check8" data-v="21" class="c1">
                        <label for="c8-v21" class="icon"></label>
                    </div>
                    <label for="c8-v21">21、浴室、洗手间、厕座应有稳实的扶手方便进出  </label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v22" name="check8" data-v="22" class="c1">
                        <label for="c8-v22" class="icon"></label>
                    </div>
                    <label for="c8-v22">22、睡床高低要适当，从床垫面至地板高度45-48cm </label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v23" name="check8" data-v="23" class="c1">
                        <label for="c8-v23" class="icon"></label>
                    </div>
                    <label for="c8-v23">23、必要时经患者或家属同意使用约束带</label>
                </li>
                <li>
                    <div class="m-input-checkbox">
                        <input type="checkbox" id="c8-v24" name="check8" data-v="24" class="c1">
                        <label for="c8-v24" class="icon"></label>
                    </div>
                    <label for="c8-v24">24、加强床上护理，协助擦浴，开餐，床上洗头及二便护理，加强肌肉训练   </label>
                </li>

                <li>
                    <div class="m-input-checkbox" style="margin-top:0.15rem">
                        <input type="checkbox" id="c8-v25" name="check8" data-v="25" class="c1">
                        <label for="c8-v25" class="icon"></label>
                    </div>
                    <div class="warp-textarea ">
                        <textarea data-type="{{ .NRLTitle.NRT01}}" class="m-input-textarea" id="hl-1" {{if eq .NRLTitle.NRT01 "11"}}disabled{{end}}>{{if eq .NRLTitle.NRT01 "11"}}{{.NRLTitle.NRT01V}}{{end}}</textarea>
                    </div>
                </li>

                <li>
                    <div class="m-input-checkbox" style="margin-top:0.15rem">
                        <input type="checkbox" id="c8-v26" name="check8" data-v="26" class="c1  ">
                        <label for="c8-v26" class="icon"></label>
                    </div>
                    <div class="warp-textarea ">
                        <textarea  data-type="{{ .NRLTitle.NRT02}}" class="m-input-textarea" id="hl-2" {{if eq .NRLTitle.NRT02 "11"}}disabled{{end}}>{{if eq .NRLTitle.NRT02 "11"}}{{.NRLTitle.NRT02V}}{{end}}</textarea>
                    </div>

                </li>
            </ul>


        </div>
    </div>


    <div class="m-line"></div>


    <div class="m-time m-pd20">
        <span>记录时间</span>
        <div class="input">
            <span class="date">{{.RecordDate}}</span>
            <span class="time">{{.RecordTime}}</span>
        </div>
    </div>

    <div class="m-autograph">
        <span>责任护士签名：</span>
        <span class="name">{{.Account.Username}}</span>
    </div>
    <div class="m-autograph2">
        <span class="tit">审核护士签名：</span>
        <input type="text" class="m-input-txt type2" id="qname" value="{{.NRL.NRL09B}}">
    </div>
    <div class="m-pd40"></div>

    <div class="m-remarks">
        <div class="tit">
            备注：
        </div>
        <p>
            1. 评估护士在对应时间内将评估结果填写在相应的空格内。</p>
        <p> 2. 凡入院患者均需做跌倒风险评估，对跌倒评估总分<25分者（低风险），记录在护理记录单首页，暂不需持续评估；总分25-45分者（中度风险），一周内每48h评估一次，以后每周评估一次；总分>45分者（ 高风险）首次评估后至少每天评估一次；评估中为中度风险和高风险患者分值记录在此表和护理记录单上，做好交接；其它视具体情况评估，发生跌倒事件时，应重新评估并记录。
        </p>
        <p> 3. 凡高危患者（年龄≥65岁、意识不清、运动障碍、 视力障碍、服用镇静催眠药物等）需进行动态跌倒风险评估。
        </p>
        <p> 4、护理措施如未有涵盖者请在空白栏加以说明，特殊情况可记录在护理记录中</p>
    </div>
</div>

<div class="m-pd100"></div>


<script src="/static/dist/js/base.js"></script>
<script>
    // setTime('{"date":"2017-01-02","time":"21:00"}')
    function setTime(dataStr) {
        // var data = JSON.parse(dataStr)
        var data = dataStr || {}
        var $mTime = $('.m-time');
        data.date && $mTime.find('.date').text(data.date)
        data.time && $mTime.find('.time').text(data.time)
    }

    function nowDate() {
        var res = {},
                nowD = new Date();
        res.date = nowD.getFullYear() + "-" + addZero(nowD.getMonth() + 1) + "-" + addZero(nowD.getDate());
        res.time = addZero(nowD.getHours()) + ":" + addZero(nowD.getMinutes())
        // return JSON.stringify(res)
        return res
    }

    function addZero(i) {
        if (i < 10) {
            return "0" + i;
        } else {
            return i;
        }
    }


    var type = {{.Type}};
    if (type == "1") {
        setTime(nowDate())
    }

    //安卓调用
    $(function(){
        $(".m-time").find('.date').on('click',function(){
            // WebJs_SetDate()
            if(window.android!=null && typeof(window.android)!="undefined"){
                window.android.WebJs_SetDate();
            }else{
                alert("js对象注入失败")
            }

        })
        $(".m-time").find('.time').on('click',function(){
            // WebJs_SetTime()
            if(window.android!=null && typeof(window.android)!="undefined"){
                window.android.WebJs_SetTime();
            }else{
                alert("js对象注入失败")
            }
        })
    })



    //单选可取消单选
    $("input[type=radio]:checked").data('check',1)
    $('input[type=radio]').on('click',function(){
        var ischeck = $(this).data("check");
        if(!ischeck){
            $(this).parents('ul').find("input[type=radio]").data("check",0)
            $(this).data("check",1);
        }else{
            $(this).prop('checked',false);
            $(this).data("check",0);
        }
    })






    function reqAPI(type) {
        var data = {}

        function init() {
            data = {
                /***---------------------**/
                // 护士ID
                "uid": {{.Account.Employeeid}},
                // 护士名
                "username": {{.Account.Username}},
                //病人id
                "pid": {{.PInfo.VAA01}},
                // 科室id
                "did": {{.PInfo.BCK01C}},
                // "nrl_id":{{.Rid}}
                /***---------------------**/
            }
            if(type=="2"){
                data["rid"] = {{.Rid}}
            }
        }

        //设置日期
        function setDataDateTime() {
            var $mTime = $('.m-time')
            dateStr = $mTime.find('.date').text()
            timeStr = $mTime.find('.time').text()
            if (dateStr) {
                data.datetime = dateStr + " "+timeStr+":00"
            }
        }

        function setData() {
            init() //重置数据
            setDataDateTime();
            //-----

            // setDatavNRL08();

            setDatavNRL01();
            setDatavNRL02();
            setDatavNRL03();
            setDatavNRL04();
            setDatavNRL05();
            setDatavNRL06();
            setDatavNRL07();

            setDatavNRL09B();

            sumFen();

            // 判断是否是没设置值
            if(type=="1"){
                var num = 0;
                $.each(data,function(i,n){
                    num++;
                })
                //总共5个固定参数,如果没填长度就为5
                if(num==5){
                    return false;
                }else{
                    return true;
                }
            }else{
                return true;
            }
        }


        //获取总分
        function sumFen() {
            var $fen = $('.m-zofen').find(".fen")
            fenStr = $fen.text()
            // timeStr = $mTime.find('.time').text()
            if (fenStr!="") {
                data.score = fenStr
            }
        }




        // 跌倒史（3个月内）：
        function setDatavNRL01(){
            var $check = $("#c2").find('input[type=radio]:checked');
            $check.length && (data.NRL01 = $check.data('v'));
        }

        // 超过1个医学诊断
        function setDatavNRL02(){
            var $check = $("#c3").find('input[type=radio]:checked');
            $check.length && (data.NRL02 = $check.data('v'));
        }

        // 使用助行器具
        function setDatavNRL03(){
            var $check = $("#c4").find('input[type=radio]:checked');
            $check.length && (data.NRL03 = $check.data('v'));
        }

        // 静脉输液／肝素锁
        function setDatavNRL04(){
            var $check = $("#c5").find('input[type=radio]:checked');
            $check.length && (data.NRL04 = $check.data('v'));
        }


        // 步态
        function setDatavNRL05(){
            var $check = $("#c6").find('input[type=radio]:checked');
            $check.length && (data.NRL05 = $check.data('v'));
        }

        // 认知状态
        function setDatavNRL06(){
            var $check = $("#c7").find('input[type=radio]:checked');
            $check.length && (data.NRL06 = $check.data('v'));
        }



        // 跌倒护理措施
        function setDatavNRL07(){
            var $check = $("#c8").find('input[type=checkbox]:checked');
            if($check.length){
                var res = [];
                $check.each(function(i,el){
                    res.push($(el).data('v'));
                })
                // console.log(res)
                data.NRL07 =res.join(",")
            }
        }




        // 审核护士签名
        function setDatavNRL09B(){
            var NRL09B = $.trim($("#qname").val());
            NRL09B && (data.NRL09B = NRL09B);

        }

        // 陪护情况
        function setDatavNRL08(titData){
            var $check = $("#c1").find('input[type=radio]:checked');
            $check.length && (titData["NRL08"] = $check.data('v'));
            if($check.data('v')=="2"){
                var $check2 = $("#c1-c2").find('input[type=checkbox]:checked');
                if($check2.length){
                    var res = [];
                    $check2.each(function(i,el){
                        res.push($(el).data('v'));
                        if($(el).data('v') == "4"){ //如果是第四项
                            var qtVal = $.trim($("#qt-txt").val());
                            qtVal && (titData["NRL08B"] = qtVal)
                        }
                    });
                    titData["NRL08A"] =res.join(",")
                }
            }
        }

        var api = '',
                typeStr = '';
        if (type == 1) {
            api = "/record/nr7/add"
            typeStr = '保存'
        } else if (type == 2) {
            api = "/record/nr7/update"
            typeStr = '修改'
        }
        return function saveFrom() {

            var isOk = setData();
            if(isOk) {
                $.ajax({
                    url: api,
                    data: data,
                    type: "POST",
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            switch (data.result) {
                                case 0:
                                    jky.util.toast(typeStr + "成功！", 1500, function () {
                                        if (window.android != null && typeof(window.android) != "undefined") {
                                            window.android.WebJs_Finish();
                                        } else {
                                            alert("js对象注入失败")
                                        }
                                    });
                                    break;
                                case 2:
                                    jky.util.toast(typeStr + "失败，请重试！", 1500);
                                    break;
                                default:
                                    jky.util.toast("未知错误！", 1000)
                            }
                        }
                    },
                    error: function (e) {
                        console.log("ajax err:", e)
                    },
                    dataType: "json"
                })


                var hl1 = $.trim($("#hl-1").val()),
                    hl2 = $.trim($("#hl-2").val());

                var titData = {
                    "pid":data.pid,
                    "did":data.did,
                    "datetime":data.datetime
                }


                // console.log(hl1 && $("#hl-2").data("type")!="11")
                if(!isActiveTit){
                    console.log("???")
                    setDatavNRL08(titData)
                }
                if(hl1 && $("#hl-1").data("type") !="11"){
                    titData.NRT01 = "11"
                    titData.NRT01V = hl1
                }
                if(hl2 && $("#hl-2").data("type")!="11"){
                    titData.NRT02 = "11"
                    titData.NRT02V = hl2
                }
                num = 0
                $.each(titData,function(i,val){
                    num++;
                });
                if(num>3){
                    $.ajax({
                        "url":"/record/nr7/updatetitle",
                        data: titData,
                        type: "POST",
                        success: function (data) {
                            console.log(data)
                        },
                        error:function(e){

                        },
                        dataType:"json"
                    })
                }

            }else{
                jky.util.toast("请填写内容", 1500)
            }
        }
    }

    var reqAPIFN = reqAPI(type);

    //tab下拉
    $('.tab-tit').on('click', function() {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $('.tab-cont').addClass('m-none')
        } else {
            $(this).addClass('active');
            $('.tab-cont').removeClass('m-none')
        }
    })


    // 分数计算
    $(function(){
        var  scoreHash = {
            "option2":{ //跌倒史（3个月内）
                "1":0,
                "2":25,
            },
            "option3":{ //超过1个医学诊断
                "1":0,
                "2":15,
            },
            "option4":{  //使用助行器具
                "1":0,
                "2":0,
                "3":0,
                "4":15,
                "5":30,
            },
            "option5":{ //静脉输液／肝素锁
                "1":0,
                "2":20
            },
            "option6":{ //步态
                "1":0,
                "2":0,
                "3":0,
                "4":10,
                "5":20,
            },
            "option7":{ //摩擦力和剪切力
                "1":0,
                "2":15
            }
        }

        function sumScore(){
            // var i =10; //10题
            var optionVal = [],sum="";
            for(var i=2;i<8;i++){
                // console.log($('#c'+i).find('input[type=radio]:checked').data('v'))
                // console.log(scoreHash["option"+i])
                // console.log($('#c'+i))
                optionVal.push(scoreHash["option"+i][$('#c'+i).find('input[type=radio]:checked').data('v')])
            }

            $.each(optionVal,function(i,n){
                if(n!=undefined&& parseFloat(n)!=NaN){
                    if(sum == ""){
                        sum = 0;
                    }
                    sum +=  parseFloat(n)
                }
            })
            return sum;
        }

        $('input[type=radio]').on('click',function(){
            $('.m-zofen').find('.fen').text(sumScore())
        })

        if(type=="2"){
            $('.m-zofen').find('.fen').text(sumScore())
        }
    })



    //多选填值
    var NRL08AStr = {{.NRLTitle.NRL08A}};// 陪护情况
    var NRL07Str = {{.NRL.NRL07}};// 护理措施

    setCheckBox("#c1-c2",NRL08AStr.split(","))
    setCheckBox("#c8",NRL07Str.split(","))


    function setCheckBox(id,valArr){
        $(id).find("input[type=checkbox]").each(function(i,el){
            $.each(valArr,function (i2,val) {
                if($(el).data("v") == valArr[i2]){
                    $(el).prop("checked",true)
                }
            })
        })
    }


    var isActiveTit = {{.NRLTitle.NRL08}}

    if(!isActiveTit){
        $(".table-tit").find("input").prop("disabled",false)
    }else{
        $(".table-tit").find(".main-sel").removeClass("main-sel")
        $(".table-tit").find(".child-sel").removeClass("child-sel")
    }




    //设置禁用input
    // $(".disabled-box").find("input").prop("disabled",true)
    $(".main-sel").each(function(i,el){
            switchStyle(el)
    })

    $(".main-sel").on("click",function(){
            switchStyle(this)
    })

    function switchStyle(el){
        var $li = $(el).parents("li").eq(0)
        if($(el).prop('checked') ){
            $li.children(".child-sel").removeClass("disabled-box");
            // disabled-box
            $li.children(".child-sel").find("input,textarea").each(function(i,el){
                if($(el).parents(".disabled-box").eq(0).length==0){
                    $(el).prop("disabled",false)
                }
            })
        }else{
            $li.children(".child-sel").addClass("disabled-box");
            // $li.children(".child-sel").find("input").prop("disabled",true)
            $li.children(".child-sel").find("input,textarea").each(function(i,el){
                if($(el).parents(".disabled-box").eq(0).length!=0){
                    $(el).prop("disabled",true)
                    $(el).val("")
                    $(el).prop("checked",false)
                }
            })

        }
    }

    $(".radio-grup").on("click",function(){
         $(this).find(".main-sel").each(function(i,el){
             switchStyle(el)
         })
    })



</script>

</body>

</html>
