<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首次护理记录单</title>
    <link rel="stylesheet" href="/static/dist/style/css/base.css">
    <script>
        function setFontSize() {
            var deviceWidth = document.documentElement.clientWidth;
            if (deviceWidth > 640) deviceWidth = 640;
            document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
        }
        setFontSize()
        var timer = null;
        window.addEventListener('resize', function() {
            clearTimeout(timer)
            timer = setTimeout(setFontSize, 300)
        }, false)
    </script>
</head>

<body>

<div class="g-main none">
    <div class="m-msg">
        <ul>
            {{$time := .VAA73}}<!-- 入院时间 -->
            <li class="b1">
                姓名:<span>{{.Patient.VAA1.VAA05}}</span>
            </li>
            <li class="b1">
                性别:<span>{{.Patient.Gender}}</span>
            </li>
            <li class="b1">
                年龄:<span>{{.Patient.VAA1.VAA10}}岁</span>
            </li>
            <li class="b1">
                科室:<span>{{.Patient.BCK03}}</span>
            </li>
            <li class="b1">
                床号:<span>{{.Patient.VAA1.BCQ04}}</span>
            </li>
            <li class="b1">
                住院号:<span>{{.Patient.VAA1.VAA04}}</span>
            </li>
            <li class="b2">
                入院日期:<span>{{$time}}</span>
            </li>
            <li class="b1">
                职业:<span>未知</span>
            </li>
            <li class="b1">
                民族/宗教:<span>{{.Patient.VAA1.ABQ02}}</span>
            </li>
            <li class="b2">
                诊断:<span>{{.Patient.VAO2.VAO15}}</span>
            </li>
        </ul>
    </div>

    <div class="m-line"></div>

    <div class="m-check1">
        <p class="tit">
            教育程度
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c1-v1" name="check1" {{if eq .NRL.NRL02 "1"}}checked{{end}}>
                    <label for="c1-v1" class="icon"></label>
                </div>
                <label for="c1-v1">文盲</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c1-v2" name="check1" {{if eq .NRL.NRL02 "2"}}checked{{end}}>
                    <label for="c1-v2" class="icon"></label>
                </div>
                <label for="c1-v2">小学</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c1-v3" name="check1" {{if eq .NRL.NRL02 "3"}}checked{{end}}>
                    <label for="c1-v3" class="icon"></label>
                </div>
                <label for="c1-v3">中学</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c1-v4" name="check1" {{if eq .NRL.NRL02 "4"}}checked{{end}}>
                    <label for="c1-v4" class="icon"></label>
                </div>
                <label for="c1-v4">中专</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c1-v5" name="check1" {{if eq .NRL.NRL02 "5"}}checked{{end}}>
                    <label for="c1-v5" class="icon"></label>
                </div>
                <label for="c1-v5">大专以上</label>
            </li>
        </ul>
    </div>


    <div class="m-check1">
        <p class="tit">
            资料来源
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c2-v1" name="check2" {{if eq .NRL.NRL03 "1"}}checked{{end}}>
                    <label for="c2-v1" class="icon"></label>
                </div>
                <label for="c2-v1">患者</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c2-v2" name="check2" {{if eq .NRL.NRL03 "2"}}checked{{end}}>
                    <label for="c2-v2" class="icon"></label>
                </div>
                <label for="c2-v2">家属</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c2-v3" name="check2" {{if eq .NRL.NRL03 "3"}}checked{{end}}>
                    <label for="c2-v3" class="icon"></label>
                </div>
                <label for="c2-v3">朋友</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c2-v4" name="check2" {{if eq .NRL.NRL03 "4"}}checked{{end}}>
                    <label for="c2-v4" class="icon"></label>
                </div>
                <label for="c2-v4">其他</label>
            </li>
        </ul>
    </div>


    <div class="m-line"></div>
    <div class="m-check1">
        <p class="tit">
            日常照顾者：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v1" name="check3" {{if eq .NRL.NRL04 "1"}}checked{{end}}>
                    <label for="c3-v1" class="icon"></label>
                </div>
                <label for="c3-v1">自我照顾</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v2" name="check3" {{if eq .NRL.NRL04 "2"}}checked{{end}}>
                    <label for="c3-v2" class="icon"></label>
                </div>
                <label for="c3-v2">夫/妻</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v3" name="check3" {{if eq .NRL.NRL04 "3"}}checked{{end}}>
                    <label for="c3-v3" class="icon"></label>
                </div>
                <label for="c3-v3">父母</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v4" name="check3" {{if eq .NRL.NRL04 "4"}}checked{{end}}>
                    <label for="c3-v4" class="icon"></label>
                </div>
                <label for="c3-v4">子女</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v5" name="check3" {{if eq .NRL.NRL04 "5"}}checked{{end}}>
                    <label for="c3-v5" class="icon"></label>
                </div>
                <label for="c3-v5">亲戚</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v6" name="check3" {{if eq .NRL.NRL04 "6"}}checked{{end}}>
                    <label for="c3-v6" class="icon"></label>
                </div>
                <label for="c3-v6">朋友</label>
            </li>

            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v7" name="check3" {{if eq .NRL.NRL04 "7"}}checked{{end}}>
                    <label for="c3-v7" class="icon"></label>
                </div>
                <label for="c3-v7">保姆</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c3-v8" name="check3" {{if eq .NRL.NRL04 "8"}}checked{{end}}>
                    <label for="c3-v8" class="icon"></label>
                </div>
                <label for="c3-v8">其他</label>
            </li>
        </ul>
    </div>

    <div class="m-line"></div>
    <div class="m-check1">
        <p class="tit">
            入院方式
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c4-v1" name="check4" {{if eq .NRL.NRL05 "1"}}checked{{end}}>
                    <label for="c4-v1" class="icon"></label>
                </div>
                <label for="c4-v1">步行</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c4-v2" name="check4" {{if eq .NRL.NRL05 "2"}}checked{{end}}>
                    <label for="c4-v2" class="icon"></label>
                </div>
                <label for="c4-v2">扶行</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c4-v3" name="check4" {{if eq .NRL.NRL05 "3"}}checked{{end}}>
                    <label for="c4-v3" class="icon"></label>
                </div>
                <label for="c4-v3">轮椅</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c4-v4" name="check4" {{if eq .NRL.NRL05 "4"}}checked{{end}}>
                    <label for="c4-v4" class="icon"></label>
                </div>
                <label for="c4-v4">平车</label>
            </li>

        </ul>
    </div>
    <div class="m-line"></div>

    <div class="m-check2">
        <p class="tit">
            过敏史：
        </p>
        <ul>
            <li>

                <div class="m-input-radio">
                    <input type="radio" disabled id="c5-v1" name="check5" {{if eq .NRL.NRL06 "1"}}checked{{end}}>
                    <label for="c5-v1" class="icon"></label>
                </div>
                <label for="c5-v1">无</label>

            </li>
            <li>
                <div class="m-check-warp">
                    <div class="m-input-radio">
                        <input type="radio" disabled id="c5-v2" name="check5" {{if eq .NRL.NRL06 "2"}}checked{{end}}>
                        <label for="c5-v2" class="icon"></label>
                    </div>
                    <label for="c5-v2">有</label>
                </div>
                <ul>
                    <li class="b1">
                        ( 过敏源：
                        <div class="m-input-radio">
                            <input type="radio" disabled id="c5-v2-v1" {{if eq .NRL06A "1"}}checked{{end}}>
                            <label for="c5-v2-v1" class="icon"></label>
                        </div>
                        <label for="c5-v2-v1">食物，种类</label>
                        <input type="text" disabled class="m-input-txt" {{if eq .NRL06A "1"}}value="{{.NRL06B}}"{{end}}>

                    </li>
                    <li class="b2">
                        <div class="m-input-radio">
                            <input type="radio" disabled id="c5-v2-v2" {{if eq .NRL06A "2"}}checked{{end}}>
                            <label for="c5-v2-v2" class="icon"></label>
                        </div>
                        <label for="c5-v2-v2">药物</label>
                        <input type="text" disabled class="m-input-txt" {{if eq .NRL06A "2"}}value="{{.NRL06B}}"{{end}}></li>


                    <li class="b2">
                        <div class="m-input-radio">
                            <input type="radio" disabled id="c5-v2-v3" {{if eq .NRL06A "3"}}checked{{end}}>
                            <label for="c5-v2-v3" class="icon"></label>
                        </div>
                        <label for="c5-v2-v3">其他</label>
                        <input type="text" disabled class="m-input-txt" {{if eq .NRL06A "3"}}value="{{.NRL06B}}"{{end}}>)</li>

                </ul>

            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c5-v3" name="check5" {{if eq .NRL.NRL06 "3"}}checked{{end}}>
                    <label for="c5-v3" class="icon"></label>
                </div>
                <label for="c5-v3">不明确</label>
            </li>

        </ul>
    </div>


    <div class="m-line"></div>

    <div class="m-check1 t1">
        <p class="tit">
            医疗费用支付方式：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c6-v1" name="check6" {{if eq .NRL.NRL07 "1"}}checked{{end}}>
                    <label for="c6-v1" class="icon"></label>
                </div>
                <label for="c6-v1">自费</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c6-v2" name="check6" {{if eq .NRL.NRL07 "2"}}checked{{end}}>
                    <label for="c6-v2" class="icon"></label>
                </div>
                <label for="c6-v2">公费医疗</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c6-v3" name="check6" {{if eq .NRL.NRL07 "3"}}checked{{end}}>
                    <label for="c6-v3" class="icon"></label>
                </div>
                <label for="c6-v3">医保</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c6-v4" name="check6" {{if eq .NRL.NRL07 "4"}}checked{{end}}>
                    <label for="c6-v4" class="icon"></label>
                </div>
                <label for="c6-v4">社保</label>
            </li>

            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c6-v5" name="check6" {{if eq .NRL.NRL07 "5"}}checked{{end}}>
                    <label for="c6-v5" class="icon"></label>
                </div>
                <label for="c6-v5">商业保险</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c6-v6" name="check6" {{if eq .NRL.NRL07 "6"}}checked{{end}}>
                    <label for="c6-v6" class="icon"></label>
                </div>
                <label for="c6-v6">他人赔付</label>
            </li>
            <li class="b1">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c6-v7" name="check6" {{if eq .NRL.NRL07 "7"}}checked{{end}}>
                    <label for="c6-v7" class="icon"></label>
                </div>
                <label for="c6-v7">其他</label>
                <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL07 "7"}}value="{{.NRL.NRL07A}}"{{end}}>

            </li>
        </ul>
    </div>


    <div class="m-line"></div>

    <div class="m-tit b">
        <p class="tit">一、护理评估</p>
    </div>
    <div class="m-check3">
        <p class="tit">
            意识状态：
        </p>
        <ul>
            <li class="tit">呼之：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c7-v1" name="check7" {{if eq .NRL.NRL08 "1"}}checked{{end}}>
                    <label for="c7-v1" class="icon"></label>
                </div>
                <label for="c7-v1">能应</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c7-v2" name="check7" {{if eq .NRL.NRL08 "2"}}checked{{end}}>
                    <label for="c7-v2" class="icon"></label>
                </div>
                <label for="c7-v2">不应</label>
            </li>
        </ul>
        <ul>
            <li class="tit">对答：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c8-v1" name="check8" {{if eq .NRL.NRL09 "1"}}checked{{end}}>
                    <label for="c8-v1" class="icon"></label>
                </div>
                <label for="c8-v1">切题</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c8-v2" name="check8" {{if eq .NRL.NRL09 "2"}}checked{{end}}>
                    <label for="c8-v2" class="icon"></label>
                </div>
                <label for="c8-v2">不切题</label>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>


    <div class="m-check1">
        <p class="tit">
            饮食：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c9-v1" name="check9" {{if eq .NRL.NRL10 "1"}}checked{{end}}>
                    <label for="c9-v1" class="icon"></label>
                </div>
                <label for="c9-v1">自行进食</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c9-v2" name="check9" {{if eq .NRL.NRL10 "2"}}checked{{end}}>
                    <label for="c9-v2" class="icon"></label>
                </div>
                <label for="c9-v2">协助进食</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c9-v3" name="check9" {{if eq .NRL.NRL10 "3"}}checked{{end}}>
                    <label for="c9-v3" class="icon"></label>
                </div>
                <label for="c9-v3">经鼻胃管</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c9-v4" name="check9" {{if eq .NRL.NRL10 "4"}}checked{{end}}>
                    <label for="c9-v4" class="icon"></label>
                </div>
                <label for="c9-v4">经鼻肠管</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c9-v5" name="check9" {{if eq .NRL.NRL10 "5"}}checked{{end}}>
                    <label for="c9-v5" class="icon"></label>
                </div>
                <label for="c9-v5">胃肠造瘘管</label>
            </li>
        </ul>


        <ul class="t2">
            <li class="tit">咀嚼困难：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c10-v1" name="check10" {{if eq .NRL.NRL11 "1"}}checked{{end}}>
                    <label for="c10-v1" class="icon"></label>
                </div>
                <label for="c10-v1">无</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c10-v2" name="check10" {{if eq .NRL.NRL11 "2"}}checked{{end}}>
                    <label for="c10-v2" class="icon"></label>
                </div>
                <label for="c10-v2">有</label>
            </li>
        </ul>
    </div>

    <div class="m-line"></div>
    <div class="m-check1 t1">
        <p class="tit">
            口腔黏膜：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c11-v1" name="check11" {{if eq .NRL.NRL12 "1"}}checked{{end}}>
                    <label for="c11-v1" class="icon"></label>
                </div>
                <label for="c11-v1">完整</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c11-v2" name="check11" {{if eq .NRL.NRL12 "2"}}checked{{end}}>
                    <label for="c11-v2" class="icon"></label>
                </div>
                <label for="c11-v2">溃疡</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c11-v3" name="check11" {{if eq .NRL.NRL12 "3"}}checked{{end}}>
                    <label for="c11-v3" class="icon"></label>
                </div>
                <label for="c11-v3">白斑</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c11-v4" name="check11" {{if eq .NRL.NRL12 "4"}}checked{{end}}>
                    <label for="c11-v4" class="icon"></label>
                </div>
                <label for="c11-v4">红肿</label>
            </li>
            <li class="b2">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c11-v5" name="check11" {{if eq .NRL.NRL12 "5"}}checked{{end}}>
                    <label for="c11-v5" class="icon"></label>
                </div>
                <label for="c11-v5">其他</label>
                <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL12 "5"}}value="{{.NRL.NRL12A}}"{{end}}>
            </li>
        </ul>


        <ul class="t2">
            <li class="tit">吞咽困难：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c12-v1" name="check12" {{if eq .NRL.NRL13 "1"}}checked{{end}}>
                    <label for="c12-v1" class="icon"></label>
                </div>
                <label for="c12-v1">无</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c12-v2" name="check12" {{if eq .NRL.NRL13 "2"}}checked{{end}}>
                    <label for="c12-v2" class="icon"></label>
                </div>
                <label for="c12-v2">有</label>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>

    <div class="m-check1 t1">
        <p class="tit">
            睡眠：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c13-v1" name="check13" {{if eq .NRL.NRL14 "1"}}checked{{end}}>
                    <label for="c13-v1" class="icon"></label>
                </div>
                <label for="c13-v1">正常 </label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c13-v2" name="check13" {{if eq .NRL.NRL14 "2"}}checked{{end}}>
                    <label for="c13-v2" class="icon"></label>
                </div>
                <label for="c13-v2">难入眠</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c13-v3" name="check13" {{if eq .NRL.NRL14 "3"}}checked{{end}}>
                    <label for="c13-v3" class="icon"></label>
                </div>
                <label for="c13-v3">易醒</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c13-v4" name="check13" {{if eq .NRL.NRL14 "4"}}checked{{end}}>
                    <label for="c13-v4" class="icon"></label>
                </div>
                <label for="c13-v4">早醒</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c13-v5" name="check13" {{if eq .NRL.NRL14 "5"}}checked{{end}}>
                    <label for="c13-v5" class="icon"></label>
                </div>
                <label for="c13-v5">多梦</label>
            </li>

            <li class="b1">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c13-v6" name="check13" {{if eq .NRL.NRL14 "6"}}checked{{end}}>
                    <label for="c13-v6" class="icon"></label>
                </div>
                <label for="c13-v6">使用辅助药物</label>
                <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL14 "6"}}value="{{.NRL.NRL14A}}"{{end}}>
            </li>
        </ul>


        <ul class="t2">
            <li class="tit">醒后疲劳感：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c14-v1" name="check14" {{if eq .NRL.NRL15 "1"}}checked{{end}}>
                    <label for="c14-v1" class="icon"></label>
                </div>
                <label for="c14-v1">无</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c14-v2" name="check14" {{if eq .NRL.NRL15 "2"}}checked{{end}}>
                    <label for="c14-v2" class="icon"></label>
                </div>
                <label for="c14-v2">有</label>
            </li>
        </ul>
    </div>


    <div class="m-line"></div>
    <div class="m-check1 t1">
        <p class="tit">
            排尿：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v1" name="check15" {{if eq .NRL.NRL16 "1"}}checked{{end}}>
                    <label for="c15-v1" class="icon"></label>
                </div>
                <label for="c15-v1">未发现异常 </label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v2" name="check15" {{if eq .NRL.NRL16 "2"}}checked{{end}}>
                    <label for="c15-v2" class="icon"></label>
                </div>
                <label for="c15-v2">尿频</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v3" name="check15" {{if eq .NRL.NRL16 "3"}}checked{{end}}>
                    <label for="c15-v3" class="icon"></label>
                </div>
                <label for="c15-v3">尿急</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v4" name="check15" {{if eq .NRL.NRL16 "4"}}checked{{end}}>
                    <label for="c15-v4" class="icon"></label>
                </div>
                <label for="c15-v4">尿痛</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v5" name="check15" {{if eq .NRL.NRL16 "5"}}checked{{end}}>
                    <label for="c15-v5" class="icon"></label>
                </div>
                <label for="c15-v5">尿失禁</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v6" name="check15" {{if eq .NRL.NRL16 "6"}}checked{{end}}>
                    <label for="c15-v6" class="icon"></label>
                </div>
                <label for="c15-v6">尿潴留</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v7" name="check15" {{if eq .NRL.NRL16 "7"}}checked{{end}}>
                    <label for="c15-v7" class="icon"></label>
                </div>
                <label for="c15-v7">留置尿管</label>
            </li>

            <li class="b2">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c15-v8" name="check15" {{if eq .NRL.NRL16 "8"}}checked{{end}}>
                    <label for="c15-v8" class="icon"></label>
                </div>
                <label for="c15-v8">其他</label>
                <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL16 "8"}}value="{{.NRL.NRL16A}}"{{end}}>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>
    <div class="m-check1 t1">
        <p class="tit">
            排便：
        </p>
        <div class="m-input-bar">
            <span>次数：</span>
            <input type="text" disabled class="m-input-txt" value="{{.NRL18A}}">
            <span>次/天（1次/  </span>
            <input type="text" disabled class="m-input-txt" value="{{.NRL18B}}">
            <span>天）</span>
        </div>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c16-v1" name="check16" {{if eq .NRL.NRL17 "1"}}checked{{end}}>
                    <label for="c16-v1" class="icon"></label>
                </div>
                <label for="c16-v1">便秘</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c16-v2" name="check16" {{if eq .NRL.NRL17 "2"}}checked{{end}}>
                    <label for="c16-v2" class="icon"></label>
                </div>
                <label for="c16-v2">腹泻</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c16-v3" name="check16" {{if eq .NRL.NRL17 "3"}}checked{{end}}>
                    <label for="c16-v3" class="icon"></label>
                </div>
                <label for="c16-v3">失禁</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c16-v4" name="check16" {{if eq .NRL.NRL17 "4"}}checked{{end}}>
                    <label for="c16-v4" class="icon"></label>
                </div>
                <label for="c16-v4">造瘘</label>
            </li>

            <li class="b2">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c16-v5" name="check16" {{if eq .NRL.NRL17 "5"}}checked{{end}}>
                    <label for="c16-v5" class="icon"></label>
                </div>
                <label for="c16-v5">其他</label>
                <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL17 "5"}}value="{{.NRL.NRL17A}}"{{end}}>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>

    <div class="m-check1">
        <p class="tit">
            四肢活动：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c17-v1" name="check17" {{if eq .NRL.NRL19 "1"}}checked{{end}}>
                    <label for="c17-v1" class="icon"></label>
                </div>
                <label for="c17-v1">自如</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c17-v2" name="check17" {{if eq .NRL.NRL19 "2"}}checked{{end}}>
                    <label for="c17-v2" class="icon"></label>
                </div>
                <label for="c17-v2">无力</label>
            </li>
            <li class="b1 tbar1" style="margin-top:.48rem;">
                <div class="m-check-warp">
                    <div class="m-input-radio">
                        <input type="radio" disabled id="c17-v3" name="check17" {{if eq .NRL.NRL19 "3"}}checked{{end}}>
                        <label for="c17-v3" class="icon"></label>
                    </div>
                    <label for="c17-v3">偏瘫</label>
                </div>
                <ul>
                    <li>(
                        <div class="m-input-radio">
                            <input type="radio" disabled id="c17-v3-v1" name="check17-2" {{if eq .NRL.NRL19 "3"}}{{if eq .NRL.LimbsId "1"}}checked{{end}}{{end}}>
                            <label for="c17-v3-v1" class="icon"></label>
                        </div>
                        <label for="c17-v3-v1">左上肢</label>
                    </li>
                    <li>&nbsp;
                        <div class="m-input-radio">
                            <input type="radio" disabled id="c17-v3-v2" name="check17-2" {{if eq .NRL.NRL19 "3"}}{{if eq .NRL.LimbsId "2"}}checked{{end}}{{end}}>
                            <label for="c17-v3-v2" class="icon"></label>
                        </div>
                        <label for="c17-v3-v2">左下肢</label>
                    </li>
                    <li>
                        &nbsp;
                        <div class="m-input-radio">
                            <input type="radio" disabled id="c17-v3-v3" name="check17-2" {{if eq .NRL.NRL19 "3"}}{{if eq .NRL.LimbsId "3"}}checked{{end}}{{end}}>
                            <label for="c17-v3-v3" class="icon"></label>
                        </div>
                        <label for="c17-v3-v3">右上肢</label>
                    </li>
                    <li>
                        &nbsp;
                        <div class="m-input-radio">
                            <input type="radio" disabled id="c17-v3-v4" name="check17-2" {{if eq .NRL.NRL19 "3"}}{{if eq .NRL.LimbsId "4"}}checked{{end}}{{end}}>
                            <label for="c17-v3-v4" class="icon"></label>
                        </div>
                        <label for="c17-v3-v4">右下肢</label> )
                    </li>
                </ul>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c17-v4" name="check17" {{if eq .NRL.NRL19 "4"}}checked{{end}}>
                    <label for="c17-v4" class="icon"></label>
                </div>
                <label for="c17-v4">截瘫</label>
            </li>

            <li class="b2">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c17-v5" name="check17" {{if eq .NRL.NRL19 "5"}}checked{{end}}>
                    <label for="c17-v5" class="icon"></label>
                </div>
                <label for="c17-v5">全瘫</label>
            </li>
        </ul>
    </div>
    <div class="m-line"></div>

    <div class="m-check1 t1">
        <p class="tit">
            自理能力：
        </p>
        <ul class="t3">
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c18-v1" name="check18" {{if eq .NRL.NRL20 "1"}}checked{{end}}>
                    <label for="c18-v1" class="icon"></label>
                </div>
                <label for="c18-v1">完全自理</label>
            </li>
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c18-v2" name="check18" {{if eq .NRL.NRL20 "2"}}checked{{end}}>
                    <label for="c18-v2" class="icon"></label>
                </div>
                <label for="c18-v2">完全不能自理</label>
            </li>

            <li class="b1">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c18-v3" name="check18" {{if eq .NRL.NRL20 "3"}}checked{{end}}>
                    <label for="c18-v3" class="icon"></label>
                </div>
                <label for="c18-v3">部分自理</label>
                <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL20 "3"}}value="{{.NRL.NRL20A}}"{{end}}>
            </li>
        </ul>
    </div>


    <div class="m-line"></div>


    <div class="m-check1 t1">
        <p class="tit">
            皮肤状况：
        </p>
        <ul>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v1" name="check19" {{if eq .NRL.NRL21 "1"}}checked{{end}}>
                    <label for="c19-v1" class="icon"></label>
                </div>
                <label for="c19-v1">完整 </label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v2" name="check19" {{if eq .NRL.NRL21 "2"}}checked{{end}}>
                    <label for="c19-v2" class="icon"></label>
                </div>
                <label for="c19-v2">苍白</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v3" name="check19" {{if eq .NRL.NRL21 "3"}}checked{{end}}>
                    <label for="c19-v3" class="icon"></label>
                </div>
                <label for="c19-v3">黄疸</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v4" name="check19" {{if eq .NRL.NRL21 "4"}}checked{{end}}>
                    <label for="c19-v4" class="icon"></label>
                </div>
                <label for="c19-v4">潮红</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v5" name="check19" {{if eq .NRL.NRL21 "5"}}checked{{end}}>
                    <label for="c19-v5" class="icon"></label>
                </div>
                <label for="c19-v5">紫绀</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v6" name="check19" {{if eq .NRL.NRL21 "6"}}checked{{end}}>
                    <label for="c19-v6" class="icon"></label>
                </div>
                <label for="c19-v6">干燥</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v7" name="check19" {{if eq .NRL.NRL21 "7"}}checked{{end}}>
                    <label for="c19-v7" class="icon"></label>
                </div>
                <label for="c19-v7">出血点</label>
            </li>

            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v8" name="check19" {{if eq .NRL.NRL21 "8"}}checked{{end}}>
                    <label for="c19-v8" class="icon"></label>
                </div>
                <label for="c19-v8">压疮</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v9" name="check19" {{if eq .NRL.NRL21 "9"}}checked{{end}}>
                    <label for="c19-v9" class="icon"></label>
                </div>
                <label for="c19-v9">破损</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v10" name="check19" {{if eq .NRL.NRL21 "10"}}checked{{end}}>
                    <label for="c19-v10" class="icon"></label>
                </div>
                <label for="c19-v8">水肿</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c19-v11" name="check19" {{if eq .NRL.NRL21 "11"}}checked{{end}}>
                    <label for="c19-v11" class="icon"></label>
                </div>
                <label for="c19-v11">皮疹</label>
            </li>
        </ul>

        <div class="m-msg-bar">
            <span>详细描述：</span>
            <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL21 "11"}}value="{{.NRL.NRL22}}"{{end}}>
        </div>
    </div>

    <div class="m-line"></div>


    <div class="m-check1 t1">
        <p class="tit">
            语言沟通：
        </p>
        <div class="m-msg-bar type1" style="margin-top:0">
            <span>最常用语言/语种：</span>
            <input type="text" disabled class="m-input-txt" style="width:4rem" value="{{.NRL.NRL23}}">
        </div>
        <ul class="t4">
            <li class="tit">语言表达：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c20-v1" name="check20" {{if eq .NRL.NRL24 "1"}}checked{{end}}>
                    <label for="c20-v1" class="icon"></label>
                </div>
                <label for="c20-v1">清楚 </label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c20-v2" name="check20" {{if eq .NRL.NRL24 "2"}}checked{{end}}>
                    <label for="c20-v2" class="icon"></label>
                </div>
                <label for="c20-v2">含糊</label>
            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c20-v3" name="check20" {{if eq .NRL.NRL24 "3"}}checked{{end}}>
                    <label for="c20-v3" class="icon"></label>
                </div>
                <label for="c20-v3">失语</label>
            </li>

        </ul>


    </div>




    <div class="m-line"></div>



    <div class="m-check1 t1">
        <p class="tit">
            生活习惯：
        </p>
        <ul class="t5">
            <li class="tit">吸烟：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c21-v1" name="check21" {{if eq .NRL.NRL25 "1"}}checked{{end}}>
                    <label for="c21-v1" class="icon"></label>
                </div>
                <label for="c21-v1">无 </label>


            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c21-v2" name="check21" {{if eq .NRL.NRL25 "2"}}checked{{end}}>
                    <label for="c21-v2" class="icon"></label>
                </div>
                <label for="c21-v2">有，</label>
                <input type="text" disabled class="m-input-txt" value="{{.NRL.NRL26}}">
                <span>支/天</span>
            </li>
        </ul>
        <ul class="t5">
            <li class="tit">嗜酒：</li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c22-v1" name="check22" {{if eq .NRL.NRL27 "1"}}checked{{end}}>
                    <label for="c22-v1" class="icon"></label>
                </div>
                <label for="c22-v1">无 </label>


            </li>
            <li>
                <div class="m-input-radio">
                    <input type="radio" disabled id="c22-v2" name="check22" {{if eq .NRL.NRL27 "2"}}checked{{end}}>
                    <label for="c22-v2" class="icon"></label>
                </div>
                <label for="c22-v2">有，</label>
                <input type="text" disabled class="m-input-txt" value="{{.NRL.NRL28}}">
                <span>两/天</span>
            </li>
        </ul>


    </div>
    <div class="m-line"></div>

    <div class="m-textarea1">
        <p class="tit bule">
            其他症状和体征：
        </p>
        <div class="textarea">{{.NRL.NRL29}}</div>
    </div>

    <div class="m-line"></div>

    <div class="m-tit b">
        <p class="tit">二、住院告知</p>
    </div>

    <div class="m-check1 t1">
        <ul class="t6">
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v1" name="check23" {{if eq .NRL.NRL30 "1"}}checked{{end}}>
                    <label for="c23-v1" class="icon"></label>
                </div>
                <label for="c23-v1">住院通知 </label>
            </li>
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v2" name="check23" {{if eq .NRL.NRL30 "2"}}checked{{end}}>
                    <label for="c23-v2" class="icon"></label>
                </div>
                <label for="c23-v2">物品管理</label>
            </li>
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v3" name="check23" {{if eq .NRL.NRL30 "3"}}checked{{end}}>
                    <label for="c23-v3" class="icon"></label>
                </div>
                <label for="c23-v3">作息</label>
            </li>
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v4" name="check23" {{if eq .NRL.NRL30 "4"}}checked{{end}}>
                    <label for="c23-v4" class="icon"></label>
                </div>
                <label for="c23-v4">探陪</label>
            </li>
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v5" name="check23" {{if eq .NRL.NRL30 "5"}}checked{{end}}>
                    <label for="c23-v5" class="icon"></label>
                </div>
                <label for="c23-v5">订餐</label>
            </li>
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v6" name="check23" {{if eq .NRL.NRL30 "6"}}checked{{end}}>
                    <label for="c23-v6" class="icon"></label>
                </div>
                <label for="c23-v6">介绍主管医生</label>
            </li>
            <li class="b3">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v7" name="check23" {{if eq .NRL.NRL30 "7"}}checked{{end}}>
                    <label for="c23-v7" class="icon"></label>
                </div>
                <label for="c23-v7">介绍主管护士</label>
            </li>

            <li class="b2">
                <div class="m-input-radio">
                    <input type="radio" disabled id="c23-v8" name="check23" {{if eq .NRL.NRL30 "8"}}checked{{end}}>
                    <label for="c23-v8" class="icon"></label>
                </div>
                <label for="c23-v8">其他</label>
                <input type="text" disabled class="m-input-txt" {{if eq .NRL.NRL30 "8"}}value="{{.NRL.NRL30A}}"{{end}}>
            </li>
        </ul>
    </div>

    <div class="m-tit b">
        <p class="tit">三、护理重点</p>
    </div>

    <div class="m-textarea1">
        <p class="tit bule">
            1、基础护理：
        </p>
        <div class="textarea"> {{.NRL.NRL31}} </div>
    </div>
    <div class="m-line"></div>
    <div class="m-textarea1">
        <p class="tit bule">
            2、专科护理：
        </p>
        <div class="textarea"> {{.NRL.NRL32}} </div>
    </div>
    <div class="m-line"></div>
    <div class="m-textarea1">
        <p class="tit bule">
            3、患者安全：
        </p>
        <div class="textarea"> {{.NRL.NRL33}} </div>
    </div>
    <div class="m-line"></div>

    <div class="m-textarea1">
        <p class="tit bule">
            4、其他：
        </p>
        <div class="textarea"> {{.NRL.NRL34}} </div>
    </div>
    <div class="m-line"></div>
    <div class="m-textarea1">
        <p class="tit bule">
            护理交班重点：

        </p>
        <div class="textarea"> {{.NRL.NRL35}} </div>
    </div>
    <div class="m-line"></div>
    <div class="m-textarea1">
        <p class="tit bule">
            提醒医生给予关注：
        </p>
        <div class="textarea"> {{.NRL.NRL36}} </div>
    </div>
    <div class="m-line"></div>
    <div class="m-textarea1">
        <p class="tit bule">
            提醒家属给予关爱：
        </p>
        <div class="textarea"> {{.NRL.NRL37}} </div>
    </div>
    <div class="m-line"></div>

    <div class="m-time">
        <span>记录时间</span>
        <div class="input">
            <span class="date">{{.NRL38A}}</span>
            <span class="time">{{.NRL38B}}</span>
        </div>
    </div>

    <div class="m-autograph">
        <span>责任护士签名：</span>
        <span class="name">{{.NRL.BCE03A}}</span>
    </div>
</div>
<div class="m-pd100"></div>

<script type="tmpl" id="item">
        <div class="item">
            <ul>
                <li><label class="pd" for="--"><span class="icon">-</span>名称：</label>
                    <input id="--" type="text" class="m-input-txt"></li>
                <li><label for="--">结果：</label>
                    <input id="--" type="text" class="m-input-txt type1"></li>
            </ul>
        </div>
    </script>

<script src="/static/dist/js/base.js"></script>
<script>
    function addItem(index) {
        var $item = $($('#item').text())
        $item.find('.icon').text(index)
        console.log($item.find('li').eq(1).find('label'))
        $item.find('li').eq(0).find('label').attr('for', 'i4-v' + index + '-1')
        $item.find('li').eq(0).find('input').attr('id', 'i4-v' + index + '-1')
        $item.find('li').eq(1).find('label').attr('for', 'i4-v' + index + '-2')
        $item.find('li').eq(1).find('input').attr('id', 'i4-v' + index + '-2')
        $('#warp').append($item)
    }

    $('.add-btn').on('click', function() {
        var index = $(this).data('item');
        index = parseInt(index) + 1
        addItem(index)
        $(this).data('item', index)
    })
</script>

</body>

</html>
